Data source
https://www.datasciencedata.com/auto-insurance-churn-data
Created by Mary Szabo with the help of Matt Strenges and Tuyet Phan

In [1]:
#Import the basics - same imports as project teammates 
import pylab
import matplotlib
import pandas as pd
import numpy as np
import os
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split,RandomizedSearchCV, train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from scipy.stats import randint
from IPython.display import Image

In [2]:
df = pd.read_csv("./full_auto_insurance_data.csv",
                     names=['INDIVIDUAL_ID', 'acct_terminated', 'ADDRESS_ID', 'CURR_ANN_AMT', 'DAYS_TENURE', 'CUST_ORIG_DATE', 
                           'AGE_IN_YEARS', 'DATE_OF_BIRTH', 'SOCIAL_SECURITY_NUMBER', 'LATITUDE', 'LONGITUDE', 'STREET_ADDRESS', 
                           'CITY', 'STATE', 'COUNTY', 'INCOME', 'HAS_CHILDREN', 'LENGTH_OF_RESIDENCE', 'MARITAL_STATUS', 
                           'HOME_MARKET_VALUE', 'HOME_OWNER', 'COLLEGE_DEGREE', 'GOOD_CREDIT', 'ACCT_SUSPD_DATE'],
                     na_values=['0'])
#display the original data frame from the csv file
df

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,6,9,10,15,16,17,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
0,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,NaN,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,NaN
2,221300134410.00,NaN,521300051115.00,974.19,1795.00,2018-01-02,72.559,1950-05-30,342-XX-6908,32.732209,...,Dallas,27500.00,0.00,2.00,Single,50000 - 74999,1,NaN,NaN,NaN
3,221300673028.00,NaN,521300247929.00,967.37,4818.00,2009-09-23,55.444,1967-07-07,240-XX-9224,32.819776999999995,...,Dallas,42500.00,0.00,10.00,Married,75000 - 99999,1,NaN,NaN,NaN
4,221301573419.00,NaN,521300570147.00,992.40,130.00,2022-07-25,53.558,1969-05-25,775-XX-6249,32.684065,...,Tarrant,125000.00,1.00,6.00,Married,175000 - 199999,1,NaN,1,2021-12-22
5,221301622347.00,NaN,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,NaN
6,221302735288.00,NaN,521300990369.00,909.91,484.00,2021-08-05,32.641,1990-04-20,194-XX-6050,NaN,...,Dallas,52500.00,0.00,2.00,Married,125000 - 149999,1,NaN,1,NaN
7,221300697686.00,NaN,521300256124.00,1084.04,2896.00,2014-12-28,70.806,1952-02-29,653-XX-7262,33.006985,...,Denton,125000.00,1.00,8.00,Married,100000 - 124999,1,NaN,1,NaN
8,221302209400.00,NaN,521300798596.00,1277.37,4096.00,2011-09-15,45.969,1976-12-24,163-XX-1670,33.085901,...,Collin,47500.00,0.00,12.00,Married,125000 - 149999,1,NaN,1,NaN
9,221302854567.00,NaN,521301084127.00,917.20,2107.00,2017-02-24,56.389,1966-07-27,621-XX-5572,32.828468,...,Tarrant,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1,2022-12-01
10,221301247282.00,NaN,521300454553.00,1095.39,3387.00,2013-08-24,64.307,1958-08-28,793-XX-1178,32.753978000000004,...,Dallas,32500.00,0.00,15.00,Married,25000 - 49999,1,NaN,NaN,NaN
11,221301452429.00,NaN,521300528279.00,966.83,80.00,2022-09-13,55.444,1967-07-07,677-XX-1586,32.805436,...,Tarrant,80372.17,0.00,6.80,NaN,50000 - 74999,NaN,1,NaN,2022-09-16
12,221301301436.00,NaN,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,NaN
13,221301266555.00,NaN,521300461742.00,619.60,1606.00,2018-07-10,NaN,1993-11-21,133-XX-4591,32.711729,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,221303070400.00,NaN,521301299960.00,590.95,1606.00,2018-07-10,55.444,1967-07-07,777-XX-2081,NaN,...,Parker,70000.00,0.00,0.00,NaN,NaN,NaN,NaN,1,NaN
15,221302005705.00,NaN,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,NaN
16,221302781834.00,NaN,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,NaN
17,221302113180.00,NaN,521300763928.00,569.83,107.00,2022-08-17,32.559,1990-05-20,277-XX-1871,32.85491,...,Tarrant,80372.17,0.00,6.80,NaN,150000 - 174999,NaN,1,1,NaN
18,221300941052.00,NaN,521300346046.00,961.04,80.00,2022-09-13,55.444,1967-07-07,563-XX-7554,NaN,...,Dallas,47500.00,0.00,0.00,NaN,NaN,NaN,NaN,1,2022-06-12
19,221301392462.00,NaN,521300507544.00,841.02,150.00,2022-07-05,59.053,1963-11-28,551-XX-2401,32.841713,...,Dallas,57500.00,0.00,11.00,Single,150000 - 174999,NaN,NaN,1,NaN
20,221301470025.00,NaN,521300534230.00,943.55,2409.00,2016-04-28,55.444,1967-07-07,455-XX-5888,NaN,...,Dallas,80372.17,0.00,6.80,NaN,250000 - 274999,NaN,NaN,1,NaN
21,221303096842.00,NaN,521301326403.00,741.67,4711.00,2010-01-08,43.723,1979-03-24,734-XX-3221,32.851905,...,Dallas,125000.00,1.00,10.00,Single,225000 - 249999,1,NaN,1,NaN
22,221301479205.00,NaN,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,NaN
23,221303215002.00,NaN,521301444564.00,913.66,6226.00,2005-11-15,60.559,1962-05-27,424-XX-2825,32.639399,...,Tarrant,47500.00,0.00,12.00,Married,50000 - 74999,1,NaN,1,NaN
24,221301003945.00,NaN,521300368024.00,438.24,1018.00,2020-02-18,48.893,1974-01-22,950-XX-8716,32.807283,...,Dallas,70000.00,0.00,6.00,Married,150000 - 174999,NaN,NaN,1,NaN
25,221300771454.00,NaN,521300283230.00,953.30,5463.00,2007-12-18,67.806,1955-02-28,585-XX-2402,32.869218,...,Tarrant,125000.00,0.00,9.00,Married,75000 - 99999,1,NaN,1,NaN
26,221302382580.00,NaN,521300862858.00,725.16,3336.00,2013-10-14,38.22,1984-09-22,423-XX-4997,32.841944,...,Tarrant,70000.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,NaN
27,221300001751.00,NaN,521300000712.00,716.71,5654.00,2007-06-10,48.893,1974-01-22,479-XX-4835,NaN,...,Tarrant,87500.00,1.00,0.00,Single,NaN,NaN,NaN,NaN,2021-12-20
28,221302016189.00,NaN,521300730039.00,1103.39,6291.00,2005-09-11,NaN,1982-02-27,540-XX-5795,32.841068,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,221301094174.00,NaN,521300399872.00,795.03,2409.00,2016-04-28,55.444,1967-07-07,627-XX-9534,32.832474,...,Dallas,32500.00,0.00,6.80,NaN,75000 - 99999,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280292,2.213e+11,NaN,5.213e+11,1072.36,1813,2017-12-15,34.472,1988-06-21,630-XX-8564,NaN,...,Collin,125000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280293,2.21301e+11,NaN,5.213e+11,908.39,3762,2012-08-14,59.138,1963-10-28,506-XX-6711,32.8622,...,Tarrant,47500,1,15,Married,75000 - 99999,1,NaN,1,NaN
2280294,2.213e+11,NaN,5.213e+11,1105.36,3101,2014-06-06,51.89,1971-01-24,364-XX-8511,32.6835,...,Tarrant,87500,1,12,Married,75000 - 99999,1,NaN,1,NaN
2280295,2.213e+11,NaN,5.213e+11,790.96,2385,2016-05-22,NaN,1983-04-19,505-XX-4395,32.9183,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280296,2.21302e+11,NaN,5.21301e+11,1290.31,282,2022-02-23,56.559,1966-05-26,595-XX-3128,32.6607,...,Dallas,5000,1,15,Single,50000 - 74999,1,NaN,NaN,NaN
2280297,2.213e+11,NaN,5.213e+11,1251.92,506,2021-07-14,33.306,1989-08-20,782-XX-8679,32.7584,...,Kaufman,42500,NaN,15,Married,50000 - 74999,1,NaN,1,NaN
2280298,2.21303e+11,NaN,5.21301e+11,998.89,140,2022-07-15,56.389,1966-07-27,646-XX-6005,32.5818,...,Dallas,57500,1,5,Single,25000 - 49999,1,NaN,1,NaN
2280299,2.21301e+11,NaN,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,NaN
2280300,2.21303e+11,NaN,5.21301e+11,918.77,3963,2012-01-26,45.054,1977-11-23,154-XX-9474,32.7778,...,Dallas,12500,1,4,Single,100000 - 124999,1,NaN,NaN,NaN
2280301,2.21301e+11,NaN,5.213e+11,1257.56,98,2022-08-26,44.808,1978-02-21,795-XX-4476,33.0408,...,Parker,27500,1,6.8,Single,25000 - 49999,NaN,1,NaN,2021-12-23
2280302,2.213e+11,NaN,5.213e+11,726.39,2241,2016-10-13,42.472,1980-06-23,683-XX-5655,33.0064,...,Collin,87500,1,3,Married,200000 - 224999,1,NaN,1,NaN
2280303,2.21302e+11,NaN,5.21301e+11,808.34,4697,2010-01-22,69.388,1953-07-30,169-XX-1714,33.17,...,Collin,70000,1,1,Married,125000 - 149999,1,NaN,1,NaN
2280304,2.21303e+11,NaN,5.21301e+11,591.31,2398,2016-05-09,31.053,1991-11-21,130-XX-4154,32.7322,...,Kaufman,12500,1,5,Single,1000 - 24999,NaN,NaN,1,NaN
2280305,2.21302e+11,NaN,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,NaN
2280306,2.213e+11,NaN,5.213e+11,877.39,161,2022-06-24,55.444,1967-07-07,491-XX-1532,32.6993,...,Tarrant,80372.2,NaN,NaN,NaN,25000 - 49999,1,NaN,NaN,NaN
2280307,2.213e+11,NaN,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,NaN
2280308,2.21303e+11,NaN,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,NaN
2280309,2.213e+11,NaN,5.213e+11,931.09,6291,2005-09-11,82.557,1940-06-02,386-XX-4360,32.9405,...,Rockwall,47500,1,15,Married,50000 - 74999,1,1,1,2022-03-26
2280310,2.21302e+11,NaN,5.21301e+11,510.96,278,2022-02-27,NaN,1998-06-27,575-XX-4965,32.8966,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280311,2.21302e+11,NaN,5.21301e+11,775.55,2097,2017-03-06,56.222,1966-09-26,740-XX-8182,32.8591,...,Tarrant,80372.2,NaN,1,Single,100000 - 124999,1,NaN,1,NaN
2280312,2.213e+11,NaN,5.213e+11,960.69,723,2020-12-09,55.444,1967-07-07,313-XX-4211,33.1066,...,Collin,70000,1,4,Single,100000 - 124999,1,NaN,1,NaN
2280313,2.21301e+11,NaN,5.213e+11,1259.9,803,2020-09-20,55.444,1967-07-07,836-XX-1003,32.6785,...,Dallas,27500,1,3,Single,50000 - 74999,1,NaN,1,NaN
2280314,2.21301e+11,NaN,5.21301e+11,604.09,3261,2013-12-28,77.473,1945-07-01,498-XX-6384,32.972,...,Dallas,87500,NaN,1,Married,125000 - 149999,1,NaN,1,NaN
2280315,2.21303e+11,NaN,5.21301e+11,1255.57,3403,2013-08-08,41.221,1981-09-22,960-XX-3949,32.9028,...,Dallas,125000,NaN,12,Married,125000 - 149999,1,1,1,NaN
2280316,2.213e+11,NaN,5.213e+11,1041.94,5341,2008-04-18,NaN,1980-05-07,764-XX-2229,NaN,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280317,2.21301e+11,NaN,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,NaN
2280318,2.213e+11,NaN,5.213e+11,1189.74,142,2022-07-13,37.388,1985-07-22,306-XX-2712,33.1849,...,Collin,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,1,1,NaN
2280319,2.21302e+11,NaN,5.21301e+11,362.14,1606,2018-07-10,55.444,1967-07-07,800-XX-2726,33.0197,...,Collin,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,NaN
2280320,2.21301e+11,NaN,5.213e+11,611.69,6291,2005-09-11,NaN,1998-11-09,198-XX-4107,33.0388,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280321,2.21302e+11,NaN,5.21301e+11,829.86,2504,2016-01-24,63.639,1959-04-29,520-XX-7573,33.1469,...,Denton,225000,1,4,Married,200000 - 224999,1,NaN,1,NaN

In [3]:
df = df.tail(-1) #needed as the column headers in the csv were included
df

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,NaN,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,NaN
2,221300134410.00,NaN,521300051115.00,974.19,1795.00,2018-01-02,72.559,1950-05-30,342-XX-6908,32.732209,...,Dallas,27500.00,0.00,2.00,Single,50000 - 74999,1,NaN,NaN,NaN
3,221300673028.00,NaN,521300247929.00,967.37,4818.00,2009-09-23,55.444,1967-07-07,240-XX-9224,32.819776999999995,...,Dallas,42500.00,0.00,10.00,Married,75000 - 99999,1,NaN,NaN,NaN
4,221301573419.00,NaN,521300570147.00,992.40,130.00,2022-07-25,53.558,1969-05-25,775-XX-6249,32.684065,...,Tarrant,125000.00,1.00,6.00,Married,175000 - 199999,1,NaN,1,2021-12-22
5,221301622347.00,NaN,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,NaN
6,221302735288.00,NaN,521300990369.00,909.91,484.00,2021-08-05,32.641,1990-04-20,194-XX-6050,NaN,...,Dallas,52500.00,0.00,2.00,Married,125000 - 149999,1,NaN,1,NaN
7,221300697686.00,NaN,521300256124.00,1084.04,2896.00,2014-12-28,70.806,1952-02-29,653-XX-7262,33.006985,...,Denton,125000.00,1.00,8.00,Married,100000 - 124999,1,NaN,1,NaN
8,221302209400.00,NaN,521300798596.00,1277.37,4096.00,2011-09-15,45.969,1976-12-24,163-XX-1670,33.085901,...,Collin,47500.00,0.00,12.00,Married,125000 - 149999,1,NaN,1,NaN
9,221302854567.00,NaN,521301084127.00,917.20,2107.00,2017-02-24,56.389,1966-07-27,621-XX-5572,32.828468,...,Tarrant,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1,2022-12-01
10,221301247282.00,NaN,521300454553.00,1095.39,3387.00,2013-08-24,64.307,1958-08-28,793-XX-1178,32.753978000000004,...,Dallas,32500.00,0.00,15.00,Married,25000 - 49999,1,NaN,NaN,NaN
11,221301452429.00,NaN,521300528279.00,966.83,80.00,2022-09-13,55.444,1967-07-07,677-XX-1586,32.805436,...,Tarrant,80372.17,0.00,6.80,NaN,50000 - 74999,NaN,1,NaN,2022-09-16
12,221301301436.00,NaN,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,NaN
13,221301266555.00,NaN,521300461742.00,619.60,1606.00,2018-07-10,NaN,1993-11-21,133-XX-4591,32.711729,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,221303070400.00,NaN,521301299960.00,590.95,1606.00,2018-07-10,55.444,1967-07-07,777-XX-2081,NaN,...,Parker,70000.00,0.00,0.00,NaN,NaN,NaN,NaN,1,NaN
15,221302005705.00,NaN,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,NaN
16,221302781834.00,NaN,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,NaN
17,221302113180.00,NaN,521300763928.00,569.83,107.00,2022-08-17,32.559,1990-05-20,277-XX-1871,32.85491,...,Tarrant,80372.17,0.00,6.80,NaN,150000 - 174999,NaN,1,1,NaN
18,221300941052.00,NaN,521300346046.00,961.04,80.00,2022-09-13,55.444,1967-07-07,563-XX-7554,NaN,...,Dallas,47500.00,0.00,0.00,NaN,NaN,NaN,NaN,1,2022-06-12
19,221301392462.00,NaN,521300507544.00,841.02,150.00,2022-07-05,59.053,1963-11-28,551-XX-2401,32.841713,...,Dallas,57500.00,0.00,11.00,Single,150000 - 174999,NaN,NaN,1,NaN
20,221301470025.00,NaN,521300534230.00,943.55,2409.00,2016-04-28,55.444,1967-07-07,455-XX-5888,NaN,...,Dallas,80372.17,0.00,6.80,NaN,250000 - 274999,NaN,NaN,1,NaN
21,221303096842.00,NaN,521301326403.00,741.67,4711.00,2010-01-08,43.723,1979-03-24,734-XX-3221,32.851905,...,Dallas,125000.00,1.00,10.00,Single,225000 - 249999,1,NaN,1,NaN
22,221301479205.00,NaN,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,NaN
23,221303215002.00,NaN,521301444564.00,913.66,6226.00,2005-11-15,60.559,1962-05-27,424-XX-2825,32.639399,...,Tarrant,47500.00,0.00,12.00,Married,50000 - 74999,1,NaN,1,NaN
24,221301003945.00,NaN,521300368024.00,438.24,1018.00,2020-02-18,48.893,1974-01-22,950-XX-8716,32.807283,...,Dallas,70000.00,0.00,6.00,Married,150000 - 174999,NaN,NaN,1,NaN
25,221300771454.00,NaN,521300283230.00,953.30,5463.00,2007-12-18,67.806,1955-02-28,585-XX-2402,32.869218,...,Tarrant,125000.00,0.00,9.00,Married,75000 - 99999,1,NaN,1,NaN
26,221302382580.00,NaN,521300862858.00,725.16,3336.00,2013-10-14,38.22,1984-09-22,423-XX-4997,32.841944,...,Tarrant,70000.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,NaN
27,221300001751.00,NaN,521300000712.00,716.71,5654.00,2007-06-10,48.893,1974-01-22,479-XX-4835,NaN,...,Tarrant,87500.00,1.00,0.00,Single,NaN,NaN,NaN,NaN,2021-12-20
28,221302016189.00,NaN,521300730039.00,1103.39,6291.00,2005-09-11,NaN,1982-02-27,540-XX-5795,32.841068,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,221301094174.00,NaN,521300399872.00,795.03,2409.00,2016-04-28,55.444,1967-07-07,627-XX-9534,32.832474,...,Dallas,32500.00,0.00,6.80,NaN,75000 - 99999,NaN,NaN,1,NaN
30,221301530535.00,NaN,521300555215.00,1322.51,6291.00,2005-09-11,55.138,1967-10-27,250-XX-8931,NaN,...,Dallas,37500.00,1.00,7.00,Single,100000 - 124999,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280292,2.213e+11,NaN,5.213e+11,1072.36,1813,2017-12-15,34.472,1988-06-21,630-XX-8564,NaN,...,Collin,125000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280293,2.21301e+11,NaN,5.213e+11,908.39,3762,2012-08-14,59.138,1963-10-28,506-XX-6711,32.8622,...,Tarrant,47500,1,15,Married,75000 - 99999,1,NaN,1,NaN
2280294,2.213e+11,NaN,5.213e+11,1105.36,3101,2014-06-06,51.89,1971-01-24,364-XX-8511,32.6835,...,Tarrant,87500,1,12,Married,75000 - 99999,1,NaN,1,NaN
2280295,2.213e+11,NaN,5.213e+11,790.96,2385,2016-05-22,NaN,1983-04-19,505-XX-4395,32.9183,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280296,2.21302e+11,NaN,5.21301e+11,1290.31,282,2022-02-23,56.559,1966-05-26,595-XX-3128,32.6607,...,Dallas,5000,1,15,Single,50000 - 74999,1,NaN,NaN,NaN
2280297,2.213e+11,NaN,5.213e+11,1251.92,506,2021-07-14,33.306,1989-08-20,782-XX-8679,32.7584,...,Kaufman,42500,NaN,15,Married,50000 - 74999,1,NaN,1,NaN
2280298,2.21303e+11,NaN,5.21301e+11,998.89,140,2022-07-15,56.389,1966-07-27,646-XX-6005,32.5818,...,Dallas,57500,1,5,Single,25000 - 49999,1,NaN,1,NaN
2280299,2.21301e+11,NaN,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,NaN
2280300,2.21303e+11,NaN,5.21301e+11,918.77,3963,2012-01-26,45.054,1977-11-23,154-XX-9474,32.7778,...,Dallas,12500,1,4,Single,100000 - 124999,1,NaN,NaN,NaN
2280301,2.21301e+11,NaN,5.213e+11,1257.56,98,2022-08-26,44.808,1978-02-21,795-XX-4476,33.0408,...,Parker,27500,1,6.8,Single,25000 - 49999,NaN,1,NaN,2021-12-23
2280302,2.213e+11,NaN,5.213e+11,726.39,2241,2016-10-13,42.472,1980-06-23,683-XX-5655,33.0064,...,Collin,87500,1,3,Married,200000 - 224999,1,NaN,1,NaN
2280303,2.21302e+11,NaN,5.21301e+11,808.34,4697,2010-01-22,69.388,1953-07-30,169-XX-1714,33.17,...,Collin,70000,1,1,Married,125000 - 149999,1,NaN,1,NaN
2280304,2.21303e+11,NaN,5.21301e+11,591.31,2398,2016-05-09,31.053,1991-11-21,130-XX-4154,32.7322,...,Kaufman,12500,1,5,Single,1000 - 24999,NaN,NaN,1,NaN
2280305,2.21302e+11,NaN,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,NaN
2280306,2.213e+11,NaN,5.213e+11,877.39,161,2022-06-24,55.444,1967-07-07,491-XX-1532,32.6993,...,Tarrant,80372.2,NaN,NaN,NaN,25000 - 49999,1,NaN,NaN,NaN
2280307,2.213e+11,NaN,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,NaN
2280308,2.21303e+11,NaN,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,NaN
2280309,2.213e+11,NaN,5.213e+11,931.09,6291,2005-09-11,82.557,1940-06-02,386-XX-4360,32.9405,...,Rockwall,47500,1,15,Married,50000 - 74999,1,1,1,2022-03-26
2280310,2.21302e+11,NaN,5.21301e+11,510.96,278,2022-02-27,NaN,1998-06-27,575-XX-4965,32.8966,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280311,2.21302e+11,NaN,5.21301e+11,775.55,2097,2017-03-06,56.222,1966-09-26,740-XX-8182,32.8591,...,Tarrant,80372.2,NaN,1,Single,100000 - 124999,1,NaN,1,NaN
2280312,2.213e+11,NaN,5.213e+11,960.69,723,2020-12-09,55.444,1967-07-07,313-XX-4211,33.1066,...,Collin,70000,1,4,Single,100000 - 124999,1,NaN,1,NaN
2280313,2.21301e+11,NaN,5.213e+11,1259.9,803,2020-09-20,55.444,1967-07-07,836-XX-1003,32.6785,...,Dallas,27500,1,3,Single,50000 - 74999,1,NaN,1,NaN
2280314,2.21301e+11,NaN,5.21301e+11,604.09,3261,2013-12-28,77.473,1945-07-01,498-XX-6384,32.972,...,Dallas,87500,NaN,1,Married,125000 - 149999,1,NaN,1,NaN
2280315,2.21303e+11,NaN,5.21301e+11,1255.57,3403,2013-08-08,41.221,1981-09-22,960-XX-3949,32.9028,...,Dallas,125000,NaN,12,Married,125000 - 149999,1,1,1,NaN
2280316,2.213e+11,NaN,5.213e+11,1041.94,5341,2008-04-18,NaN,1980-05-07,764-XX-2229,NaN,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280317,2.21301e+11,NaN,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,NaN
2280318,2.213e+11,NaN,5.213e+11,1189.74,142,2022-07-13,37.388,1985-07-22,306-XX-2712,33.1849,...,Collin,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,1,1,NaN
2280319,2.21302e+11,NaN,5.21301e+11,362.14,1606,2018-07-10,55.444,1967-07-07,800-XX-2726,33.0197,...,Collin,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,NaN
2280320,2.21301e+11,NaN,5.213e+11,611.69,6291,2005-09-11,NaN,1998-11-09,198-XX-4107,33.0388,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280321,2.21302e+11,NaN,5.21301e+11,829.86,2504,2016-01-24,63.639,1959-04-29,520-XX-7573,33.1469,...,Denton,225000,1,4,Married,200000 - 224999,1,NaN,1,NaN

In [4]:
#Change NaN values to 0 in acct_terminated 
df['acct_terminated'] = df['acct_terminated'].fillna(0)

#print to check
df

/usr/lib/python3/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,NaN
2,221300134410.00,0,521300051115.00,974.19,1795.00,2018-01-02,72.559,1950-05-30,342-XX-6908,32.732209,...,Dallas,27500.00,0.00,2.00,Single,50000 - 74999,1,NaN,NaN,NaN
3,221300673028.00,0,521300247929.00,967.37,4818.00,2009-09-23,55.444,1967-07-07,240-XX-9224,32.819776999999995,...,Dallas,42500.00,0.00,10.00,Married,75000 - 99999,1,NaN,NaN,NaN
4,221301573419.00,0,521300570147.00,992.40,130.00,2022-07-25,53.558,1969-05-25,775-XX-6249,32.684065,...,Tarrant,125000.00,1.00,6.00,Married,175000 - 199999,1,NaN,1,2021-12-22
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,NaN
6,221302735288.00,0,521300990369.00,909.91,484.00,2021-08-05,32.641,1990-04-20,194-XX-6050,NaN,...,Dallas,52500.00,0.00,2.00,Married,125000 - 149999,1,NaN,1,NaN
7,221300697686.00,0,521300256124.00,1084.04,2896.00,2014-12-28,70.806,1952-02-29,653-XX-7262,33.006985,...,Denton,125000.00,1.00,8.00,Married,100000 - 124999,1,NaN,1,NaN
8,221302209400.00,0,521300798596.00,1277.37,4096.00,2011-09-15,45.969,1976-12-24,163-XX-1670,33.085901,...,Collin,47500.00,0.00,12.00,Married,125000 - 149999,1,NaN,1,NaN
9,221302854567.00,0,521301084127.00,917.20,2107.00,2017-02-24,56.389,1966-07-27,621-XX-5572,32.828468,...,Tarrant,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1,2022-12-01
10,221301247282.00,0,521300454553.00,1095.39,3387.00,2013-08-24,64.307,1958-08-28,793-XX-1178,32.753978000000004,...,Dallas,32500.00,0.00,15.00,Married,25000 - 49999,1,NaN,NaN,NaN
11,221301452429.00,0,521300528279.00,966.83,80.00,2022-09-13,55.444,1967-07-07,677-XX-1586,32.805436,...,Tarrant,80372.17,0.00,6.80,NaN,50000 - 74999,NaN,1,NaN,2022-09-16
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,NaN
13,221301266555.00,0,521300461742.00,619.60,1606.00,2018-07-10,NaN,1993-11-21,133-XX-4591,32.711729,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,221303070400.00,0,521301299960.00,590.95,1606.00,2018-07-10,55.444,1967-07-07,777-XX-2081,NaN,...,Parker,70000.00,0.00,0.00,NaN,NaN,NaN,NaN,1,NaN
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,NaN
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,NaN
17,221302113180.00,0,521300763928.00,569.83,107.00,2022-08-17,32.559,1990-05-20,277-XX-1871,32.85491,...,Tarrant,80372.17,0.00,6.80,NaN,150000 - 174999,NaN,1,1,NaN
18,221300941052.00,0,521300346046.00,961.04,80.00,2022-09-13,55.444,1967-07-07,563-XX-7554,NaN,...,Dallas,47500.00,0.00,0.00,NaN,NaN,NaN,NaN,1,2022-06-12
19,221301392462.00,0,521300507544.00,841.02,150.00,2022-07-05,59.053,1963-11-28,551-XX-2401,32.841713,...,Dallas,57500.00,0.00,11.00,Single,150000 - 174999,NaN,NaN,1,NaN
20,221301470025.00,0,521300534230.00,943.55,2409.00,2016-04-28,55.444,1967-07-07,455-XX-5888,NaN,...,Dallas,80372.17,0.00,6.80,NaN,250000 - 274999,NaN,NaN,1,NaN
21,221303096842.00,0,521301326403.00,741.67,4711.00,2010-01-08,43.723,1979-03-24,734-XX-3221,32.851905,...,Dallas,125000.00,1.00,10.00,Single,225000 - 249999,1,NaN,1,NaN
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,NaN
23,221303215002.00,0,521301444564.00,913.66,6226.00,2005-11-15,60.559,1962-05-27,424-XX-2825,32.639399,...,Tarrant,47500.00,0.00,12.00,Married,50000 - 74999,1,NaN,1,NaN
24,221301003945.00,0,521300368024.00,438.24,1018.00,2020-02-18,48.893,1974-01-22,950-XX-8716,32.807283,...,Dallas,70000.00,0.00,6.00,Married,150000 - 174999,NaN,NaN,1,NaN
25,221300771454.00,0,521300283230.00,953.30,5463.00,2007-12-18,67.806,1955-02-28,585-XX-2402,32.869218,...,Tarrant,125000.00,0.00,9.00,Married,75000 - 99999,1,NaN,1,NaN
26,221302382580.00,0,521300862858.00,725.16,3336.00,2013-10-14,38.22,1984-09-22,423-XX-4997,32.841944,...,Tarrant,70000.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,NaN
27,221300001751.00,0,521300000712.00,716.71,5654.00,2007-06-10,48.893,1974-01-22,479-XX-4835,NaN,...,Tarrant,87500.00,1.00,0.00,Single,NaN,NaN,NaN,NaN,2021-12-20
28,221302016189.00,0,521300730039.00,1103.39,6291.00,2005-09-11,NaN,1982-02-27,540-XX-5795,32.841068,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,221301094174.00,0,521300399872.00,795.03,2409.00,2016-04-28,55.444,1967-07-07,627-XX-9534,32.832474,...,Dallas,32500.00,0.00,6.80,NaN,75000 - 99999,NaN,NaN,1,NaN
30,221301530535.00,0,521300555215.00,1322.51,6291.00,2005-09-11,55.138,1967-10-27,250-XX-8931,NaN,...,Dallas,37500.00,1.00,7.00,Single,100000 - 124999,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280292,2.213e+11,0,5.213e+11,1072.36,1813,2017-12-15,34.472,1988-06-21,630-XX-8564,NaN,...,Collin,125000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280293,2.21301e+11,0,5.213e+11,908.39,3762,2012-08-14,59.138,1963-10-28,506-XX-6711,32.8622,...,Tarrant,47500,1,15,Married,75000 - 99999,1,NaN,1,NaN
2280294,2.213e+11,0,5.213e+11,1105.36,3101,2014-06-06,51.89,1971-01-24,364-XX-8511,32.6835,...,Tarrant,87500,1,12,Married,75000 - 99999,1,NaN,1,NaN
2280295,2.213e+11,0,5.213e+11,790.96,2385,2016-05-22,NaN,1983-04-19,505-XX-4395,32.9183,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280296,2.21302e+11,0,5.21301e+11,1290.31,282,2022-02-23,56.559,1966-05-26,595-XX-3128,32.6607,...,Dallas,5000,1,15,Single,50000 - 74999,1,NaN,NaN,NaN
2280297,2.213e+11,0,5.213e+11,1251.92,506,2021-07-14,33.306,1989-08-20,782-XX-8679,32.7584,...,Kaufman,42500,NaN,15,Married,50000 - 74999,1,NaN,1,NaN
2280298,2.21303e+11,0,5.21301e+11,998.89,140,2022-07-15,56.389,1966-07-27,646-XX-6005,32.5818,...,Dallas,57500,1,5,Single,25000 - 49999,1,NaN,1,NaN
2280299,2.21301e+11,0,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,NaN
2280300,2.21303e+11,0,5.21301e+11,918.77,3963,2012-01-26,45.054,1977-11-23,154-XX-9474,32.7778,...,Dallas,12500,1,4,Single,100000 - 124999,1,NaN,NaN,NaN
2280301,2.21301e+11,0,5.213e+11,1257.56,98,2022-08-26,44.808,1978-02-21,795-XX-4476,33.0408,...,Parker,27500,1,6.8,Single,25000 - 49999,NaN,1,NaN,2021-12-23
2280302,2.213e+11,0,5.213e+11,726.39,2241,2016-10-13,42.472,1980-06-23,683-XX-5655,33.0064,...,Collin,87500,1,3,Married,200000 - 224999,1,NaN,1,NaN
2280303,2.21302e+11,0,5.21301e+11,808.34,4697,2010-01-22,69.388,1953-07-30,169-XX-1714,33.17,...,Collin,70000,1,1,Married,125000 - 149999,1,NaN,1,NaN
2280304,2.21303e+11,0,5.21301e+11,591.31,2398,2016-05-09,31.053,1991-11-21,130-XX-4154,32.7322,...,Kaufman,12500,1,5,Single,1000 - 24999,NaN,NaN,1,NaN
2280305,2.21302e+11,0,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,NaN
2280306,2.213e+11,0,5.213e+11,877.39,161,2022-06-24,55.444,1967-07-07,491-XX-1532,32.6993,...,Tarrant,80372.2,NaN,NaN,NaN,25000 - 49999,1,NaN,NaN,NaN
2280307,2.213e+11,0,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,NaN
2280308,2.21303e+11,0,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,NaN
2280309,2.213e+11,0,5.213e+11,931.09,6291,2005-09-11,82.557,1940-06-02,386-XX-4360,32.9405,...,Rockwall,47500,1,15,Married,50000 - 74999,1,1,1,2022-03-26
2280310,2.21302e+11,0,5.21301e+11,510.96,278,2022-02-27,NaN,1998-06-27,575-XX-4965,32.8966,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280311,2.21302e+11,0,5.21301e+11,775.55,2097,2017-03-06,56.222,1966-09-26,740-XX-8182,32.8591,...,Tarrant,80372.2,NaN,1,Single,100000 - 124999,1,NaN,1,NaN
2280312,2.213e+11,0,5.213e+11,960.69,723,2020-12-09,55.444,1967-07-07,313-XX-4211,33.1066,...,Collin,70000,1,4,Single,100000 - 124999,1,NaN,1,NaN
2280313,2.21301e+11,0,5.213e+11,1259.9,803,2020-09-20,55.444,1967-07-07,836-XX-1003,32.6785,...,Dallas,27500,1,3,Single,50000 - 74999,1,NaN,1,NaN
2280314,2.21301e+11,0,5.21301e+11,604.09,3261,2013-12-28,77.473,1945-07-01,498-XX-6384,32.972,...,Dallas,87500,NaN,1,Married,125000 - 149999,1,NaN,1,NaN
2280315,2.21303e+11,0,5.21301e+11,1255.57,3403,2013-08-08,41.221,1981-09-22,960-XX-3949,32.9028,...,Dallas,125000,NaN,12,Married,125000 - 149999,1,1,1,NaN
2280316,2.213e+11,0,5.213e+11,1041.94,5341,2008-04-18,NaN,1980-05-07,764-XX-2229,NaN,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280317,2.21301e+11,0,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,NaN
2280318,2.213e+11,0,5.213e+11,1189.74,142,2022-07-13,37.388,1985-07-22,306-XX-2712,33.1849,...,Collin,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,1,1,NaN
2280319,2.21302e+11,0,5.21301e+11,362.14,1606,2018-07-10,55.444,1967-07-07,800-XX-2726,33.0197,...,Collin,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,NaN
2280320,2.21301e+11,0,5.213e+11,611.69,6291,2005-09-11,NaN,1998-11-09,198-XX-4107,33.0388,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280321,2.21302e+11,0,5.21301e+11,829.86,2504,2016-01-24,63.639,1959-04-29,520-XX-7573,33.1469,...,Denton,225000,1,4,Married,200000 - 224999,1,NaN,1,NaN

In [5]:
#If Acct_Susd_date is not null, set acct_terminated to 1 to represent true
df.loc[df['ACCT_SUSPD_DATE'].notnull(), 'acct_terminated'] = 1 
df

/usr/lib/python3/dist-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,NaN
2,221300134410.00,0,521300051115.00,974.19,1795.00,2018-01-02,72.559,1950-05-30,342-XX-6908,32.732209,...,Dallas,27500.00,0.00,2.00,Single,50000 - 74999,1,NaN,NaN,NaN
3,221300673028.00,0,521300247929.00,967.37,4818.00,2009-09-23,55.444,1967-07-07,240-XX-9224,32.819776999999995,...,Dallas,42500.00,0.00,10.00,Married,75000 - 99999,1,NaN,NaN,NaN
4,221301573419.00,1,521300570147.00,992.40,130.00,2022-07-25,53.558,1969-05-25,775-XX-6249,32.684065,...,Tarrant,125000.00,1.00,6.00,Married,175000 - 199999,1,NaN,1,2021-12-22
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,NaN
6,221302735288.00,0,521300990369.00,909.91,484.00,2021-08-05,32.641,1990-04-20,194-XX-6050,NaN,...,Dallas,52500.00,0.00,2.00,Married,125000 - 149999,1,NaN,1,NaN
7,221300697686.00,0,521300256124.00,1084.04,2896.00,2014-12-28,70.806,1952-02-29,653-XX-7262,33.006985,...,Denton,125000.00,1.00,8.00,Married,100000 - 124999,1,NaN,1,NaN
8,221302209400.00,0,521300798596.00,1277.37,4096.00,2011-09-15,45.969,1976-12-24,163-XX-1670,33.085901,...,Collin,47500.00,0.00,12.00,Married,125000 - 149999,1,NaN,1,NaN
9,221302854567.00,1,521301084127.00,917.20,2107.00,2017-02-24,56.389,1966-07-27,621-XX-5572,32.828468,...,Tarrant,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1,2022-12-01
10,221301247282.00,0,521300454553.00,1095.39,3387.00,2013-08-24,64.307,1958-08-28,793-XX-1178,32.753978000000004,...,Dallas,32500.00,0.00,15.00,Married,25000 - 49999,1,NaN,NaN,NaN
11,221301452429.00,1,521300528279.00,966.83,80.00,2022-09-13,55.444,1967-07-07,677-XX-1586,32.805436,...,Tarrant,80372.17,0.00,6.80,NaN,50000 - 74999,NaN,1,NaN,2022-09-16
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,NaN
13,221301266555.00,0,521300461742.00,619.60,1606.00,2018-07-10,NaN,1993-11-21,133-XX-4591,32.711729,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,221303070400.00,0,521301299960.00,590.95,1606.00,2018-07-10,55.444,1967-07-07,777-XX-2081,NaN,...,Parker,70000.00,0.00,0.00,NaN,NaN,NaN,NaN,1,NaN
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,NaN
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,NaN
17,221302113180.00,0,521300763928.00,569.83,107.00,2022-08-17,32.559,1990-05-20,277-XX-1871,32.85491,...,Tarrant,80372.17,0.00,6.80,NaN,150000 - 174999,NaN,1,1,NaN
18,221300941052.00,1,521300346046.00,961.04,80.00,2022-09-13,55.444,1967-07-07,563-XX-7554,NaN,...,Dallas,47500.00,0.00,0.00,NaN,NaN,NaN,NaN,1,2022-06-12
19,221301392462.00,0,521300507544.00,841.02,150.00,2022-07-05,59.053,1963-11-28,551-XX-2401,32.841713,...,Dallas,57500.00,0.00,11.00,Single,150000 - 174999,NaN,NaN,1,NaN
20,221301470025.00,0,521300534230.00,943.55,2409.00,2016-04-28,55.444,1967-07-07,455-XX-5888,NaN,...,Dallas,80372.17,0.00,6.80,NaN,250000 - 274999,NaN,NaN,1,NaN
21,221303096842.00,0,521301326403.00,741.67,4711.00,2010-01-08,43.723,1979-03-24,734-XX-3221,32.851905,...,Dallas,125000.00,1.00,10.00,Single,225000 - 249999,1,NaN,1,NaN
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,NaN
23,221303215002.00,0,521301444564.00,913.66,6226.00,2005-11-15,60.559,1962-05-27,424-XX-2825,32.639399,...,Tarrant,47500.00,0.00,12.00,Married,50000 - 74999,1,NaN,1,NaN
24,221301003945.00,0,521300368024.00,438.24,1018.00,2020-02-18,48.893,1974-01-22,950-XX-8716,32.807283,...,Dallas,70000.00,0.00,6.00,Married,150000 - 174999,NaN,NaN,1,NaN
25,221300771454.00,0,521300283230.00,953.30,5463.00,2007-12-18,67.806,1955-02-28,585-XX-2402,32.869218,...,Tarrant,125000.00,0.00,9.00,Married,75000 - 99999,1,NaN,1,NaN
26,221302382580.00,0,521300862858.00,725.16,3336.00,2013-10-14,38.22,1984-09-22,423-XX-4997,32.841944,...,Tarrant,70000.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,NaN
27,221300001751.00,1,521300000712.00,716.71,5654.00,2007-06-10,48.893,1974-01-22,479-XX-4835,NaN,...,Tarrant,87500.00,1.00,0.00,Single,NaN,NaN,NaN,NaN,2021-12-20
28,221302016189.00,0,521300730039.00,1103.39,6291.00,2005-09-11,NaN,1982-02-27,540-XX-5795,32.841068,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,221301094174.00,0,521300399872.00,795.03,2409.00,2016-04-28,55.444,1967-07-07,627-XX-9534,32.832474,...,Dallas,32500.00,0.00,6.80,NaN,75000 - 99999,NaN,NaN,1,NaN
30,221301530535.00,0,521300555215.00,1322.51,6291.00,2005-09-11,55.138,1967-10-27,250-XX-8931,NaN,...,Dallas,37500.00,1.00,7.00,Single,100000 - 124999,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280292,2.213e+11,0,5.213e+11,1072.36,1813,2017-12-15,34.472,1988-06-21,630-XX-8564,NaN,...,Collin,125000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280293,2.21301e+11,0,5.213e+11,908.39,3762,2012-08-14,59.138,1963-10-28,506-XX-6711,32.8622,...,Tarrant,47500,1,15,Married,75000 - 99999,1,NaN,1,NaN
2280294,2.213e+11,0,5.213e+11,1105.36,3101,2014-06-06,51.89,1971-01-24,364-XX-8511,32.6835,...,Tarrant,87500,1,12,Married,75000 - 99999,1,NaN,1,NaN
2280295,2.213e+11,0,5.213e+11,790.96,2385,2016-05-22,NaN,1983-04-19,505-XX-4395,32.9183,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280296,2.21302e+11,0,5.21301e+11,1290.31,282,2022-02-23,56.559,1966-05-26,595-XX-3128,32.6607,...,Dallas,5000,1,15,Single,50000 - 74999,1,NaN,NaN,NaN
2280297,2.213e+11,0,5.213e+11,1251.92,506,2021-07-14,33.306,1989-08-20,782-XX-8679,32.7584,...,Kaufman,42500,NaN,15,Married,50000 - 74999,1,NaN,1,NaN
2280298,2.21303e+11,0,5.21301e+11,998.89,140,2022-07-15,56.389,1966-07-27,646-XX-6005,32.5818,...,Dallas,57500,1,5,Single,25000 - 49999,1,NaN,1,NaN
2280299,2.21301e+11,0,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,NaN
2280300,2.21303e+11,0,5.21301e+11,918.77,3963,2012-01-26,45.054,1977-11-23,154-XX-9474,32.7778,...,Dallas,12500,1,4,Single,100000 - 124999,1,NaN,NaN,NaN
2280301,2.21301e+11,1,5.213e+11,1257.56,98,2022-08-26,44.808,1978-02-21,795-XX-4476,33.0408,...,Parker,27500,1,6.8,Single,25000 - 49999,NaN,1,NaN,2021-12-23
2280302,2.213e+11,0,5.213e+11,726.39,2241,2016-10-13,42.472,1980-06-23,683-XX-5655,33.0064,...,Collin,87500,1,3,Married,200000 - 224999,1,NaN,1,NaN
2280303,2.21302e+11,0,5.21301e+11,808.34,4697,2010-01-22,69.388,1953-07-30,169-XX-1714,33.17,...,Collin,70000,1,1,Married,125000 - 149999,1,NaN,1,NaN
2280304,2.21303e+11,0,5.21301e+11,591.31,2398,2016-05-09,31.053,1991-11-21,130-XX-4154,32.7322,...,Kaufman,12500,1,5,Single,1000 - 24999,NaN,NaN,1,NaN
2280305,2.21302e+11,0,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,NaN
2280306,2.213e+11,0,5.213e+11,877.39,161,2022-06-24,55.444,1967-07-07,491-XX-1532,32.6993,...,Tarrant,80372.2,NaN,NaN,NaN,25000 - 49999,1,NaN,NaN,NaN
2280307,2.213e+11,0,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,NaN
2280308,2.21303e+11,0,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,NaN
2280309,2.213e+11,1,5.213e+11,931.09,6291,2005-09-11,82.557,1940-06-02,386-XX-4360,32.9405,...,Rockwall,47500,1,15,Married,50000 - 74999,1,1,1,2022-03-26
2280310,2.21302e+11,0,5.21301e+11,510.96,278,2022-02-27,NaN,1998-06-27,575-XX-4965,32.8966,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280311,2.21302e+11,0,5.21301e+11,775.55,2097,2017-03-06,56.222,1966-09-26,740-XX-8182,32.8591,...,Tarrant,80372.2,NaN,1,Single,100000 - 124999,1,NaN,1,NaN
2280312,2.213e+11,0,5.213e+11,960.69,723,2020-12-09,55.444,1967-07-07,313-XX-4211,33.1066,...,Collin,70000,1,4,Single,100000 - 124999,1,NaN,1,NaN
2280313,2.21301e+11,0,5.213e+11,1259.9,803,2020-09-20,55.444,1967-07-07,836-XX-1003,32.6785,...,Dallas,27500,1,3,Single,50000 - 74999,1,NaN,1,NaN
2280314,2.21301e+11,0,5.21301e+11,604.09,3261,2013-12-28,77.473,1945-07-01,498-XX-6384,32.972,...,Dallas,87500,NaN,1,Married,125000 - 149999,1,NaN,1,NaN
2280315,2.21303e+11,0,5.21301e+11,1255.57,3403,2013-08-08,41.221,1981-09-22,960-XX-3949,32.9028,...,Dallas,125000,NaN,12,Married,125000 - 149999,1,1,1,NaN
2280316,2.213e+11,0,5.213e+11,1041.94,5341,2008-04-18,NaN,1980-05-07,764-XX-2229,NaN,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280317,2.21301e+11,0,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,NaN
2280318,2.213e+11,0,5.213e+11,1189.74,142,2022-07-13,37.388,1985-07-22,306-XX-2712,33.1849,...,Collin,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,1,1,NaN
2280319,2.21302e+11,0,5.21301e+11,362.14,1606,2018-07-10,55.444,1967-07-07,800-XX-2726,33.0197,...,Collin,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,NaN
2280320,2.21301e+11,0,5.213e+11,611.69,6291,2005-09-11,NaN,1998-11-09,198-XX-4107,33.0388,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280321,2.21302e+11,0,5.21301e+11,829.86,2504,2016-01-24,63.639,1959-04-29,520-XX-7573,33.1469,...,Denton,225000,1,4,Married,200000 - 224999,1,NaN,1,NaN

In [6]:
#remove values/columns that are unnecesary for our classifier models, 
#as these values would have little to no impact on clients decision to terminate their account
df = df.drop('ACCT_SUSPD_DATE', axis=1)
df = df.drop('DATE_OF_BIRTH', axis=1)
df = df.drop('SOCIAL_SECURITY_NUMBER', axis=1)
df = df.drop('LATITUDE', axis=1)
df = df.drop('LONGITUDE', axis=1)
df = df.drop('STREET_ADDRESS', axis=1)
df = df.drop('CITY', axis=1)
df = df.drop('STATE', axis=1)
df = df.drop('COUNTY', axis=1)
df = df.dropna(axis=0) #all values with NaN were removed here
pd.set_option('display.max_columns', None) #Displays every column
df #Processed DF

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1
9,221302854567.00,1,521301084127.00,917.20,2107.00,2017-02-24,56.389,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1
30,221301530535.00,0,521300555215.00,1322.51,6291.00,2005-09-11,55.138,37500.00,1.00,7.00,Single,100000 - 124999,1,1,1
37,221301743390.00,0,521300632645.00,1356.99,5282.00,2008-06-16,44.222,87500.00,1.00,2.00,Married,200000 - 224999,1,1,1
40,221300667684.00,0,521300246046.00,633.82,629.00,2021-03-13,35.138,42500.00,0.00,1.00,Single,50000 - 74999,1,1,1
45,221300740513.00,0,521300271551.00,962.94,615.00,2021-03-27,36.641,87500.00,0.00,15.00,Married,100000 - 124999,1,1,1
53,221302469670.00,0,521300894826.00,919.70,6291.00,2005-09-11,41.64,125000.00,0.00,8.00,Married,125000 - 149999,1,1,1
54,221302084670.00,0,521300753746.00,926.13,6291.00,2005-09-11,69.221,162500.00,0.00,0.00,Married,175000 - 199999,1,1,1
56,221302955010.00,0,521301184570.00,1272.61,2540.00,2015-12-19,64.307,57500.00,1.00,15.00,Single,125000 - 149999,1,1,1
60,221303198330.00,0,521301427892.00,681.47,4304.00,2011-02-19,36.055,47500.00,1.00,1.00,Married,225000 - 249999,1,1,1
69,221301039742.00,0,521300379753.00,841.34,925.00,2020-05-21,34.806,37500.00,1.00,4.00,Single,125000 - 149999,1,1,1
74,221302798105.00,0,521301027665.00,599.83,6291.00,2005-09-11,59.138,70000.00,1.00,13.00,Married,100000 - 124999,1,1,1
76,221302077485.00,0,521300751562.00,1103.03,6291.00,2005-09-11,67.639,87500.00,1.00,14.00,Married,50000 - 74999,1,1,1
85,221302827047.00,0,521301056607.00,630.10,3858.00,2012-05-10,39.053,125000.00,1.00,9.00,Single,50000 - 74999,1,1,1
92,221301253639.00,0,521300456853.00,1264.03,2586.00,2015-11-03,65.139,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1
98,221302194813.00,0,521300793152.00,677.52,3268.00,2013-12-21,37.807,27500.00,1.00,2.00,Married,100000 - 124999,1,1,1
99,221302433595.00,0,521300881449.00,1187.58,6261.00,2005-10-11,52.222,225000.00,1.00,10.00,Married,100000 - 124999,1,1,1
100,221300046994.00,0,521300017192.00,933.49,803.00,2020-09-20,55.444,37500.00,1.00,3.00,Married,75000 - 99999,1,1,1
114,221302366143.00,0,521300856578.00,910.67,111.00,2022-08-13,48.307,125000.00,0.00,6.00,Married,200000 - 224999,1,1,1
117,221301124042.00,0,521300409994.00,1152.50,4772.00,2009-11-08,46.968,70000.00,1.00,5.00,Married,125000 - 149999,1,1,1
119,221300749761.00,0,521300274791.00,908.45,5222.00,2008-08-15,75.138,47500.00,0.00,15.00,Married,100000 - 124999,1,1,1
121,221303100404.00,0,521301329965.00,928.72,5959.00,2006-08-09,58.724,125000.00,1.00,3.00,Married,125000 - 149999,1,1,1
126,221302149473.00,0,521300777062.00,909.86,952.00,2020-04-24,35.305,87500.00,0.00,1.00,Married,400000 - 449999,1,1,1
131,221300066720.00,0,521300024725.00,769.31,6291.00,2005-09-11,66.968,125000.00,0.00,15.00,Single,175000 - 199999,1,1,1
137,221300953719.00,0,521300350251.00,1295.26,442.00,2021-09-16,78.472,87500.00,0.00,10.00,Married,150000 - 174999,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280097,2.21302e+11,0,5.21301e+11,1221.64,4878,2009-07-25,44.641,70000,1,12,Married,100000 - 124999,1,1,1
2280103,2.21301e+11,0,5.213e+11,926.2,5264,2008-07-04,53.969,70000,1,1,Married,125000 - 149999,1,1,1
2280110,2.21301e+11,0,5.213e+11,1205.22,538,2021-06-12,91.639,87500,1,9,Married,200000 - 224999,1,1,1
2280113,2.21301e+11,0,5.213e+11,1094.52,3954,2012-02-04,33.388,17500,1,10,Single,125000 - 149999,1,1,1
2280117,2.21303e+11,0,5.21301e+11,1006.21,6291,2005-09-11,65.221,125000,1,6,Single,100000 - 124999,1,1,1
2280120,2.21302e+11,0,5.21301e+11,1062.49,6291,2005-09-11,63.387,57500,1,7,Single,50000 - 74999,1,1,1
2280135,2.21301e+11,0,5.213e+11,1139.9,6291,2005-09-11,52.641,87500,1,12,Married,200000 - 224999,1,1,1
2280161,2.21303e+11,0,5.21301e+11,935.07,2409,2016-04-28,55.444,17500,1,1,Married,100000 - 124999,1,1,1
2280166,2.21302e+11,0,5.21301e+11,800.73,2540,2015-12-19,64.307,62500,1,12,Married,50000 - 74999,1,1,1
2280170,2.21303e+11,0,5.21301e+11,958.28,99,2022-08-25,45.139,70000,1,8,Single,100000 - 124999,1,1,1
2280178,2.21301e+11,0,5.213e+11,834.07,83,2022-09-10,40.559,87500,1,5,Single,175000 - 199999,1,1,1
2280180,2.21301e+11,0,5.213e+11,760.28,201,2022-05-15,45.473,62500,1,8,Married,75000 - 99999,1,1,1
2280181,2.213e+11,0,5.213e+11,1399.67,1558,2018-08-27,32.14,62500,1,15,Married,75000 - 99999,1,1,1
2280183,2.21302e+11,0,5.21301e+11,848.34,3774,2012-08-02,40.893,47500,1,13,Married,175000 - 199999,1,1,1
2280192,2.21302e+11,0,5.21301e+11,1218.17,6291,2005-09-11,47.806,125000,1,7,Married,150000 - 174999,1,1,1
2280200,2.21303e+11,0,5.21301e+11,902.74,1043,2020-01-24,36.969,125000,1,1,Married,175000 - 199999,1,1,1
2280208,2.21303e+11,0,5.21301e+11,1486.34,2991,2014-09-24,58.891,125000,1,11,Married,150000 - 174999,1,1,1
2280214,2.21303e+11,0,5.21301e+11,777.43,6291,2005-09-11,80.14,70000,1,7,Married,125000 - 149999,1,1,1
2280227,2.21303e+11,0,5.21301e+11,806.42,563,2021-05-18,35.053,125000,1,2,Single,125000 - 149999,1,1,1
2280243,2.21301e+11,0,5.21301e+11,859.57,197,2022-05-19,71.97,125000,1,15,Married,75000 - 99999,1,1,1
2280265,2.21303e+11,0,5.21301e+11,812.75,4267,2011-03-28,43.89,62500,1,4,Married,50000 - 74999,1,1,1
2280269,2.213e+11,0,5.213e+11,1157.45,1956,2017-07-25,53.64,70000,1,14,Single,150000 - 174999,1,1,1
2280280,2.21301e+11,0,5.213e+11,831.42,142,2022-07-13,56.726,37500,1,15,Married,50000 - 74999,1,1,1
2280288,2.21301e+11,0,5.213e+11,1167.97,6291,2005-09-11,46.724,125000,1,6,Married,175000 - 199999,1,1,1
2280299,2.21301e+11,0,5.213e+11,989.45,840,2020-08-14,43.472,125000,1,3,Single,125000 - 149999,1,1,1
2280305,2.21302e+11,0,5.21301e+11,832.68,88,2022-09-05,41.969,87500,1,4,Married,100000 - 124999,1,1,1
2280307,2.213e+11,0,5.213e+11,308.37,2061,2017-04-11,55.556,70000,1,14,Married,100000 - 124999,1,1,1
2280308,2.21303e+11,0,5.21301e+11,1047.71,6291,2005-09-11,57.221,70000,1,2,Married,175000 - 199999,1,1,1
2280309,2.213e+11,1,5.213e+11,931.09,6291,2005-09-11,82.557,47500,1,15,Married,50000 - 74999,1,1,1
2280317,2.21301e+11,0,5.213e+11,1104.1,1258,2019-06-23,52.389,87500,1,11,Single,75000 - 99999,1,1,1

In [9]:
#Before I undersample, I want to see the starting values for terminated vs active accounts 
#There table terminated accounts 269,259 initially before rows with NaN were deleted. 
terminatedCount = len(df[df["acct_terminated"]==1])
print(terminatedCount)
activeCount = len(df[df["acct_terminated"]==0])
print(activeCount)

27542
220200

In [11]:
#For undersampling, the number of tuples of terminated and active accounts should be the same
#After removing the NaN rows, we are only left with 27,542 terminated accounts and 220220 active accounts
#Next, we need the number of active accouts to be equal to the number of terminated accounts. 
active = df[df['acct_terminated'] == 0]
active = active.head(27542) #take the first 27542 rows
active

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1
30,221301530535.00,0,521300555215.00,1322.51,6291.00,2005-09-11,55.138,37500.00,1.00,7.00,Single,100000 - 124999,1,1,1
37,221301743390.00,0,521300632645.00,1356.99,5282.00,2008-06-16,44.222,87500.00,1.00,2.00,Married,200000 - 224999,1,1,1
40,221300667684.00,0,521300246046.00,633.82,629.00,2021-03-13,35.138,42500.00,0.00,1.00,Single,50000 - 74999,1,1,1
45,221300740513.00,0,521300271551.00,962.94,615.00,2021-03-27,36.641,87500.00,0.00,15.00,Married,100000 - 124999,1,1,1
53,221302469670.00,0,521300894826.00,919.70,6291.00,2005-09-11,41.64,125000.00,0.00,8.00,Married,125000 - 149999,1,1,1
54,221302084670.00,0,521300753746.00,926.13,6291.00,2005-09-11,69.221,162500.00,0.00,0.00,Married,175000 - 199999,1,1,1
56,221302955010.00,0,521301184570.00,1272.61,2540.00,2015-12-19,64.307,57500.00,1.00,15.00,Single,125000 - 149999,1,1,1
60,221303198330.00,0,521301427892.00,681.47,4304.00,2011-02-19,36.055,47500.00,1.00,1.00,Married,225000 - 249999,1,1,1
69,221301039742.00,0,521300379753.00,841.34,925.00,2020-05-21,34.806,37500.00,1.00,4.00,Single,125000 - 149999,1,1,1
74,221302798105.00,0,521301027665.00,599.83,6291.00,2005-09-11,59.138,70000.00,1.00,13.00,Married,100000 - 124999,1,1,1
76,221302077485.00,0,521300751562.00,1103.03,6291.00,2005-09-11,67.639,87500.00,1.00,14.00,Married,50000 - 74999,1,1,1
85,221302827047.00,0,521301056607.00,630.10,3858.00,2012-05-10,39.053,125000.00,1.00,9.00,Single,50000 - 74999,1,1,1
92,221301253639.00,0,521300456853.00,1264.03,2586.00,2015-11-03,65.139,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1
98,221302194813.00,0,521300793152.00,677.52,3268.00,2013-12-21,37.807,27500.00,1.00,2.00,Married,100000 - 124999,1,1,1
99,221302433595.00,0,521300881449.00,1187.58,6261.00,2005-10-11,52.222,225000.00,1.00,10.00,Married,100000 - 124999,1,1,1
100,221300046994.00,0,521300017192.00,933.49,803.00,2020-09-20,55.444,37500.00,1.00,3.00,Married,75000 - 99999,1,1,1
114,221302366143.00,0,521300856578.00,910.67,111.00,2022-08-13,48.307,125000.00,0.00,6.00,Married,200000 - 224999,1,1,1
117,221301124042.00,0,521300409994.00,1152.50,4772.00,2009-11-08,46.968,70000.00,1.00,5.00,Married,125000 - 149999,1,1,1
119,221300749761.00,0,521300274791.00,908.45,5222.00,2008-08-15,75.138,47500.00,0.00,15.00,Married,100000 - 124999,1,1,1
121,221303100404.00,0,521301329965.00,928.72,5959.00,2006-08-09,58.724,125000.00,1.00,3.00,Married,125000 - 149999,1,1,1
126,221302149473.00,0,521300777062.00,909.86,952.00,2020-04-24,35.305,87500.00,0.00,1.00,Married,400000 - 449999,1,1,1
131,221300066720.00,0,521300024725.00,769.31,6291.00,2005-09-11,66.968,125000.00,0.00,15.00,Single,175000 - 199999,1,1,1
137,221300953719.00,0,521300350251.00,1295.26,442.00,2021-09-16,78.472,87500.00,0.00,10.00,Married,150000 - 174999,1,1,1
139,221302845945.00,0,521301075505.00,586.68,6291.00,2005-09-11,60.389,70000.00,1.00,10.00,Single,75000 - 99999,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261748,2.21303e+11,0,5.21301e+11,780,1673,2018-05-04,48.474,57500,1,7,Married,250000 - 274999,1,1,1
261758,2.21302e+11,0,5.21301e+11,916.6,2535,2015-12-24,52.641,87500,1,15,Married,300000 - 349999,1,1,1
261767,2.21301e+11,0,5.213e+11,891.77,5163,2008-10-13,88.641,37500,1,15,Married,125000 - 149999,1,1,1
261771,2.21302e+11,0,5.21301e+11,1252.48,5927,2006-09-10,64.307,125000,1,1,Married,75000 - 99999,1,1,1
261790,2.21303e+11,0,5.21301e+11,919.12,3241,2014-01-17,62.305,87500,1,6,Single,75000 - 99999,1,1,1
261791,2.21303e+11,0,5.21301e+11,1038.54,3829,2012-06-08,34.053,57500,1,3,Married,50000 - 74999,1,1,1
261807,2.21302e+11,0,5.21301e+11,826.84,3910,2012-03-19,37.388,70000,1,3,Married,150000 - 174999,1,1,1
261809,2.21301e+11,0,5.21301e+11,1067.79,848,2020-08-06,43.723,87500,1,5,Single,150000 - 174999,1,1,1
261855,2.21303e+11,0,5.21301e+11,708.47,4614,2010-04-15,68.474,70000,1,15,Single,75000 - 99999,1,1,1
261856,2.21302e+11,0,5.21301e+11,1466.99,5887,2006-10-20,42.724,125000,1,4,Single,175000 - 199999,1,1,1
261873,2.21303e+11,0,5.21301e+11,443.09,1204,2019-08-16,55.444,125000,1,6,Married,250000 - 274999,1,1,1
261887,2.213e+11,0,5.213e+11,894.22,4394,2010-11-21,52.307,125000,1,11,Married,225000 - 249999,1,1,1
261902,2.213e+11,0,5.213e+11,1267.18,6291,2005-09-11,66.968,87500,1,13,Married,100000 - 124999,1,1,1
261911,2.21303e+11,0,5.21301e+11,733.95,5530,2007-10-12,41.221,225000,1,4,Married,275000 - 299999,1,1,1
261947,2.21303e+11,0,5.21301e+11,865.42,4679,2010-02-09,60.641,37500,1,11,Single,75000 - 99999,1,1,1
261990,2.21301e+11,0,5.213e+11,1049.5,80,2022-09-13,55.444,37500,1,2,Single,50000 - 74999,1,1,1
262005,2.21302e+11,0,5.21301e+11,669.99,1998,2017-06-13,72.641,250000,1,8,Married,250000 - 274999,1,1,1
262022,2.21303e+11,0,5.21301e+11,941.16,6291,2005-09-11,65.473,37500,1,3,Married,50000 - 74999,1,1,1
262024,2.21302e+11,0,5.21301e+11,576.85,6291,2005-09-11,83.556,87500,1,4,Married,350000 - 399999,1,1,1
262028,2.21302e+11,0,5.21301e+11,904.35,6291,2005-09-11,58.472,125000,1,3,Married,150000 - 174999,1,1,1
262039,2.21301e+11,0,5.213e+11,902.05,6291,2005-09-11,74.472,250000,1,11,Married,125000 - 149999,1,1,1
262054,2.21301e+11,0,5.213e+11,698.28,2075,2017-03-28,55.806,37500,1,11,Married,50000 - 74999,1,1,1
262066,2.21303e+11,0,5.21301e+11,985.69,6125,2006-02-24,51.472,52500,1,2,Married,125000 - 149999,1,1,1
262069,2.21301e+11,0,5.21301e+11,1190.21,3686,2012-10-29,58.305,125000,1,15,Married,125000 - 149999,1,1,1
262073,2.21301e+11,0,5.213e+11,912.31,6291,2005-09-11,63.806,87500,1,10,Single,125000 - 149999,1,1,1
262091,2.21301e+11,0,5.213e+11,1343.76,2344,2016-07-02,60.726,37500,1,15,Married,50000 - 74999,1,1,1
262098,2.21303e+11,0,5.21301e+11,679.32,4884,2009-07-19,56.14,87500,1,15,Single,100000 - 124999,1,1,1
262110,2.21302e+11,0,5.21301e+11,1101.54,109,2022-08-15,47.806,22500,1,15,Married,100000 - 124999,1,1,1
262111,2.213e+11,0,5.213e+11,726.57,88,2022-09-05,41.892,125000,1,1,Married,350000 - 399999,1,1,1
262112,2.21302e+11,0,5.21301e+11,820.37,6291,2005-09-11,57.558,87500,1,6,Single,75000 - 99999,1,1,1

In [12]:
terminated = df[df['acct_terminated'] == 1]
terminated

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT
9,221302854567.00,1,521301084127.00,917.20,2107.00,2017-02-24,56.389,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1
165,221301088887.00,1,521300397817.00,1018.90,124.00,2022-07-31,51.97,70000.00,1.00,10.00,Married,125000 - 149999,1,1,1
193,221301582422.00,1,521300573428.00,824.60,131.00,2022-07-24,53.807,37500.00,1.00,15.00,Married,50000 - 74999,1,1,1
274,221301582029.00,1,521300573280.00,894.56,48.00,2022-10-15,31.053,37500.00,1.00,5.00,Single,75000 - 99999,1,1,1
287,221300291247.00,1,521300110179.00,922.39,1543.00,2018-09-11,39.053,42500.00,0.00,6.00,Single,50000 - 74999,1,1,1
321,221300904505.00,1,521300332620.00,1426.67,55.00,2022-10-08,32.893,47500.00,1.00,15.00,Single,75000 - 99999,1,1,1
462,221300956903.00,1,521300351486.00,1148.69,985.00,2020-03-22,47.89,225000.00,1.00,5.00,Married,150000 - 174999,1,1,1
548,221302235329.00,1,521300807845.00,949.46,4706.00,2010-01-13,60.893,250000.00,1.00,15.00,Married,175000 - 199999,1,1,1
568,221300045746.00,1,521300016686.00,1140.47,95.00,2022-08-29,44.055,70000.00,1.00,9.00,Married,125000 - 149999,1,1,1
617,221303067535.00,1,521301297095.00,423.45,132.00,2022-07-23,53.969,87500.00,0.00,2.00,Single,225000 - 249999,1,1,1
643,221302860756.00,1,521301090316.00,968.91,129.00,2022-07-26,53.388,47500.00,1.00,0.00,Single,125000 - 149999,1,1,1
729,221302793891.00,1,521301023451.00,835.28,80.00,2022-09-13,39.89,27500.00,1.00,0.00,Single,275000 - 299999,1,1,1
730,221301730194.00,1,521300627959.00,725.24,140.00,2022-07-15,56.307,162500.00,1.00,2.00,Single,250000 - 274999,1,1,1
764,221300754200.00,1,521300276539.00,1403.44,6291.00,2005-09-11,53.054,250000.00,1.00,2.00,Married,225000 - 249999,1,1,1
794,221300246395.00,1,521300093061.00,589.66,1778.00,2018-01-19,50.387,37500.00,1.00,5.00,Married,50000 - 74999,1,1,1
798,221302277242.00,1,521300823708.00,1447.57,153.00,2022-07-02,59.723,225000.00,0.00,13.00,Married,200000 - 224999,1,1,1
936,221302590710.00,1,521300938497.00,960.29,4362.00,2010-12-23,52.055,125000.00,0.00,15.00,Married,25000 - 49999,1,1,1
945,221301194986.00,1,521300435250.00,1222.10,725.00,2020-12-07,39.97,87500.00,0.00,4.00,Single,300000 - 349999,1,1,1
946,221300319488.00,1,521300120315.00,1310.50,3683.00,2012-11-01,43.138,87500.00,1.00,15.00,Married,125000 - 149999,1,1,1
958,221301193729.00,1,521300434816.00,1199.14,179.00,2022-06-06,67.053,125000.00,1.00,11.00,Married,150000 - 174999,1,1,1
1037,221302249561.00,1,521300813274.00,1076.51,80.00,2022-09-13,55.444,70000.00,1.00,7.00,Married,225000 - 249999,1,1,1
1122,221300692799.00,1,521300254269.00,836.77,3123.00,2014-05-15,39.305,87500.00,1.00,4.00,Married,125000 - 149999,1,1,1
1257,221301806788.00,1,521300654923.00,881.28,3733.00,2012-09-12,40.641,87500.00,0.00,2.00,Single,75000 - 99999,1,1,1
1263,221301508231.00,1,521300547832.00,710.41,4915.00,2009-06-18,56.389,125000.00,0.00,10.00,Married,100000 - 124999,1,1,1
1283,221300851961.00,1,521300313574.00,1018.14,165.00,2022-06-20,63.22,42500.00,1.00,15.00,Married,150000 - 174999,1,1,1
1366,221302803817.00,1,521301033377.00,804.97,142.00,2022-07-13,37.388,12500.00,1.00,5.00,Married,75000 - 99999,1,1,1
1432,221301177020.00,1,521300429120.00,636.52,85.00,2022-09-08,29.558,27500.00,1.00,7.00,Married,275000 - 299999,1,1,1
1448,221301662921.00,1,521300603481.00,709.85,93.00,2022-08-31,43.305,125000.00,1.00,3.00,Married,100000 - 124999,1,1,1
1464,221301297797.00,1,521300473159.00,879.08,142.00,2022-07-13,56.808,87500.00,1.00,12.00,Married,125000 - 149999,1,1,1
1475,221301542177.00,1,521300559471.00,1250.41,2177.00,2016-12-16,77.558,250000.00,1.00,15.00,Married,150000 - 174999,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2276980,2.21302e+11,1,5.21301e+11,1038.82,111,2022-08-13,48.389,87500,1,12,Married,100000 - 124999,1,1,1
2277006,2.21302e+11,1,5.21301e+11,755.61,6291,2005-09-11,58.639,250000,1,13,Married,225000 - 249999,1,1,1
2277077,2.21303e+11,1,5.21301e+11,1145.55,4015,2011-12-05,55.444,187500,1,5,Married,175000 - 199999,1,1,1
2277097,2.21302e+11,1,5.21301e+11,569.7,4521,2010-07-17,36.969,62500,1,6,Married,250000 - 274999,1,1,1
2277152,2.21302e+11,1,5.21301e+11,809.46,80,2022-09-13,55.444,87500,1,6,Married,125000 - 149999,1,1,1
2277205,2.21301e+11,1,5.21301e+11,580.81,139,2022-07-16,55.89,87500,1,11,Married,125000 - 149999,1,1,1
2277226,2.213e+11,1,5.213e+11,760.22,122,2022-08-02,51.387,62500,1,2,Single,50000 - 74999,1,1,1
2277514,2.21301e+11,1,5.213e+11,881.18,4348,2011-01-06,77.473,125000,1,15,Married,125000 - 149999,1,1,1
2277708,2.21303e+11,1,5.21301e+11,1229.49,5100,2008-12-15,73.807,162500,1,13,Married,50000 - 74999,1,1,1
2277723,2.21302e+11,1,5.21301e+11,1088.4,68,2022-09-25,36.559,70000,1,1,Married,125000 - 149999,1,1,1
2277781,2.21303e+11,1,5.21301e+11,1220.06,101,2022-08-23,45.64,87500,1,5,Married,75000 - 99999,1,1,1
2277908,2.21303e+11,1,5.21301e+11,960.21,177,2022-06-08,66.305,162500,1,5,Married,150000 - 174999,1,1,1
2278100,2.213e+11,1,5.213e+11,1083.29,6291,2005-09-11,50.891,70000,1,8,Married,150000 - 174999,1,1,1
2278195,2.21301e+11,1,5.21301e+11,650.59,139,2022-07-16,56.055,225000,1,2,Married,500000 - 749999,1,1,1
2278197,2.21301e+11,1,5.213e+11,1365.05,126,2022-07-29,52.474,70000,1,9,Married,150000 - 174999,1,1,1
2278403,2.21303e+11,1,5.21301e+11,758.52,73,2022-09-20,27.89,125000,1,8,Married,250000 - 274999,1,1,1
2278571,2.21301e+11,1,5.213e+11,759.62,3478,2013-05-25,65.558,47500,1,3,Married,175000 - 199999,1,1,1
2278705,2.21302e+11,1,5.21301e+11,1041.26,6291,2005-09-11,79.723,47500,1,15,Single,100000 - 124999,1,1,1
2278815,2.21301e+11,1,5.213e+11,781.39,153,2022-07-02,38.806,70000,1,2,Single,300000 - 349999,1,1,1
2278821,2.21301e+11,1,5.213e+11,896.72,111,2022-08-13,48.307,125000,1,10,Married,200000 - 224999,1,1,1
2278911,2.21302e+11,1,5.21301e+11,715.47,6291,2005-09-11,64.307,52500,1,14,Single,100000 - 124999,1,1,1
2279085,2.21303e+11,1,5.21301e+11,891.83,6291,2005-09-11,40.222,62500,1,3,Single,75000 - 99999,1,1,1
2279432,2.21301e+11,1,5.213e+11,989.45,178,2022-06-07,66.557,27500,1,3,Married,125000 - 149999,1,1,1
2279626,2.21303e+11,1,5.21301e+11,632.02,89,2022-09-04,42.387,57500,1,4,Married,100000 - 124999,1,1,1
2279742,2.213e+11,1,5.213e+11,574.45,170,2022-06-15,64.389,187500,1,15,Married,100000 - 124999,1,1,1
2279771,2.21302e+11,1,5.21301e+11,984.57,6291,2005-09-11,53.473,42500,1,15,Single,50000 - 74999,1,1,1
2279836,2.213e+11,1,5.213e+11,745.13,6291,2005-09-11,48.389,162500,1,1,Married,175000 - 199999,1,1,1
2279865,2.21301e+11,1,5.213e+11,442.52,2758,2015-05-15,48.14,87500,1,7,Married,200000 - 224999,1,1,1
2279958,2.21303e+11,1,5.21301e+11,1003.55,6291,2005-09-11,45.139,47500,1,5,Married,200000 - 224999,1,1,1
2280309,2.213e+11,1,5.213e+11,931.09,6291,2005-09-11,82.557,47500,1,15,Married,50000 - 74999,1,1,1

In [16]:
frames = [active, terminated]
df_undersample = pd.concat(frames)
df_undersample

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1
30,221301530535.00,0,521300555215.00,1322.51,6291.00,2005-09-11,55.138,37500.00,1.00,7.00,Single,100000 - 124999,1,1,1
37,221301743390.00,0,521300632645.00,1356.99,5282.00,2008-06-16,44.222,87500.00,1.00,2.00,Married,200000 - 224999,1,1,1
40,221300667684.00,0,521300246046.00,633.82,629.00,2021-03-13,35.138,42500.00,0.00,1.00,Single,50000 - 74999,1,1,1
45,221300740513.00,0,521300271551.00,962.94,615.00,2021-03-27,36.641,87500.00,0.00,15.00,Married,100000 - 124999,1,1,1
53,221302469670.00,0,521300894826.00,919.70,6291.00,2005-09-11,41.64,125000.00,0.00,8.00,Married,125000 - 149999,1,1,1
54,221302084670.00,0,521300753746.00,926.13,6291.00,2005-09-11,69.221,162500.00,0.00,0.00,Married,175000 - 199999,1,1,1
56,221302955010.00,0,521301184570.00,1272.61,2540.00,2015-12-19,64.307,57500.00,1.00,15.00,Single,125000 - 149999,1,1,1
60,221303198330.00,0,521301427892.00,681.47,4304.00,2011-02-19,36.055,47500.00,1.00,1.00,Married,225000 - 249999,1,1,1
69,221301039742.00,0,521300379753.00,841.34,925.00,2020-05-21,34.806,37500.00,1.00,4.00,Single,125000 - 149999,1,1,1
74,221302798105.00,0,521301027665.00,599.83,6291.00,2005-09-11,59.138,70000.00,1.00,13.00,Married,100000 - 124999,1,1,1
76,221302077485.00,0,521300751562.00,1103.03,6291.00,2005-09-11,67.639,87500.00,1.00,14.00,Married,50000 - 74999,1,1,1
85,221302827047.00,0,521301056607.00,630.10,3858.00,2012-05-10,39.053,125000.00,1.00,9.00,Single,50000 - 74999,1,1,1
92,221301253639.00,0,521300456853.00,1264.03,2586.00,2015-11-03,65.139,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1
98,221302194813.00,0,521300793152.00,677.52,3268.00,2013-12-21,37.807,27500.00,1.00,2.00,Married,100000 - 124999,1,1,1
99,221302433595.00,0,521300881449.00,1187.58,6261.00,2005-10-11,52.222,225000.00,1.00,10.00,Married,100000 - 124999,1,1,1
100,221300046994.00,0,521300017192.00,933.49,803.00,2020-09-20,55.444,37500.00,1.00,3.00,Married,75000 - 99999,1,1,1
114,221302366143.00,0,521300856578.00,910.67,111.00,2022-08-13,48.307,125000.00,0.00,6.00,Married,200000 - 224999,1,1,1
117,221301124042.00,0,521300409994.00,1152.50,4772.00,2009-11-08,46.968,70000.00,1.00,5.00,Married,125000 - 149999,1,1,1
119,221300749761.00,0,521300274791.00,908.45,5222.00,2008-08-15,75.138,47500.00,0.00,15.00,Married,100000 - 124999,1,1,1
121,221303100404.00,0,521301329965.00,928.72,5959.00,2006-08-09,58.724,125000.00,1.00,3.00,Married,125000 - 149999,1,1,1
126,221302149473.00,0,521300777062.00,909.86,952.00,2020-04-24,35.305,87500.00,0.00,1.00,Married,400000 - 449999,1,1,1
131,221300066720.00,0,521300024725.00,769.31,6291.00,2005-09-11,66.968,125000.00,0.00,15.00,Single,175000 - 199999,1,1,1
137,221300953719.00,0,521300350251.00,1295.26,442.00,2021-09-16,78.472,87500.00,0.00,10.00,Married,150000 - 174999,1,1,1
139,221302845945.00,0,521301075505.00,586.68,6291.00,2005-09-11,60.389,70000.00,1.00,10.00,Single,75000 - 99999,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2276980,2.21302e+11,1,5.21301e+11,1038.82,111,2022-08-13,48.389,87500,1,12,Married,100000 - 124999,1,1,1
2277006,2.21302e+11,1,5.21301e+11,755.61,6291,2005-09-11,58.639,250000,1,13,Married,225000 - 249999,1,1,1
2277077,2.21303e+11,1,5.21301e+11,1145.55,4015,2011-12-05,55.444,187500,1,5,Married,175000 - 199999,1,1,1
2277097,2.21302e+11,1,5.21301e+11,569.7,4521,2010-07-17,36.969,62500,1,6,Married,250000 - 274999,1,1,1
2277152,2.21302e+11,1,5.21301e+11,809.46,80,2022-09-13,55.444,87500,1,6,Married,125000 - 149999,1,1,1
2277205,2.21301e+11,1,5.21301e+11,580.81,139,2022-07-16,55.89,87500,1,11,Married,125000 - 149999,1,1,1
2277226,2.213e+11,1,5.213e+11,760.22,122,2022-08-02,51.387,62500,1,2,Single,50000 - 74999,1,1,1
2277514,2.21301e+11,1,5.213e+11,881.18,4348,2011-01-06,77.473,125000,1,15,Married,125000 - 149999,1,1,1
2277708,2.21303e+11,1,5.21301e+11,1229.49,5100,2008-12-15,73.807,162500,1,13,Married,50000 - 74999,1,1,1
2277723,2.21302e+11,1,5.21301e+11,1088.4,68,2022-09-25,36.559,70000,1,1,Married,125000 - 149999,1,1,1
2277781,2.21303e+11,1,5.21301e+11,1220.06,101,2022-08-23,45.64,87500,1,5,Married,75000 - 99999,1,1,1
2277908,2.21303e+11,1,5.21301e+11,960.21,177,2022-06-08,66.305,162500,1,5,Married,150000 - 174999,1,1,1
2278100,2.213e+11,1,5.213e+11,1083.29,6291,2005-09-11,50.891,70000,1,8,Married,150000 - 174999,1,1,1
2278195,2.21301e+11,1,5.21301e+11,650.59,139,2022-07-16,56.055,225000,1,2,Married,500000 - 749999,1,1,1
2278197,2.21301e+11,1,5.213e+11,1365.05,126,2022-07-29,52.474,70000,1,9,Married,150000 - 174999,1,1,1
2278403,2.21303e+11,1,5.21301e+11,758.52,73,2022-09-20,27.89,125000,1,8,Married,250000 - 274999,1,1,1
2278571,2.21301e+11,1,5.213e+11,759.62,3478,2013-05-25,65.558,47500,1,3,Married,175000 - 199999,1,1,1
2278705,2.21302e+11,1,5.21301e+11,1041.26,6291,2005-09-11,79.723,47500,1,15,Single,100000 - 124999,1,1,1
2278815,2.21301e+11,1,5.213e+11,781.39,153,2022-07-02,38.806,70000,1,2,Single,300000 - 349999,1,1,1
2278821,2.21301e+11,1,5.213e+11,896.72,111,2022-08-13,48.307,125000,1,10,Married,200000 - 224999,1,1,1
2278911,2.21302e+11,1,5.21301e+11,715.47,6291,2005-09-11,64.307,52500,1,14,Single,100000 - 124999,1,1,1
2279085,2.21303e+11,1,5.21301e+11,891.83,6291,2005-09-11,40.222,62500,1,3,Single,75000 - 99999,1,1,1
2279432,2.21301e+11,1,5.213e+11,989.45,178,2022-06-07,66.557,27500,1,3,Married,125000 - 149999,1,1,1
2279626,2.21303e+11,1,5.21301e+11,632.02,89,2022-09-04,42.387,57500,1,4,Married,100000 - 124999,1,1,1
2279742,2.213e+11,1,5.213e+11,574.45,170,2022-06-15,64.389,187500,1,15,Married,100000 - 124999,1,1,1
2279771,2.21302e+11,1,5.21301e+11,984.57,6291,2005-09-11,53.473,42500,1,15,Single,50000 - 74999,1,1,1
2279836,2.213e+11,1,5.213e+11,745.13,6291,2005-09-11,48.389,162500,1,1,Married,175000 - 199999,1,1,1
2279865,2.21301e+11,1,5.213e+11,442.52,2758,2015-05-15,48.14,87500,1,7,Married,200000 - 224999,1,1,1
2279958,2.21303e+11,1,5.21301e+11,1003.55,6291,2005-09-11,45.139,47500,1,5,Married,200000 - 224999,1,1,1
2280309,2.213e+11,1,5.213e+11,931.09,6291,2005-09-11,82.557,47500,1,15,Married,50000 - 74999,1,1,1

In [17]:
#col_names = [ 'CURR_ANN_AMT', 'DAYS_TENURE', 'AGE_IN_YEARS', 'INCOME', 'HAS_CHILDREN', 'LENGTH_OF_RESIDENCE',   'HOME_OWNER', 'COLLEGE_DEGREE', 'GOOD_CREDIT']
cols = ['CURR_ANN_AMT', 'DAYS_TENURE', 'AGE_IN_YEARS', 'INCOME', 'HAS_CHILDREN', 'LENGTH_OF_RESIDENCE',  'HOME_OWNER', 'COLLEGE_DEGREE', 'GOOD_CREDIT']
X = df_undersample[cols]
y = df_undersample.acct_terminated
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.59784581871

In [18]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       0.60      0.59      0.60      8361
          1       0.59      0.60      0.60      8165

avg / total       0.60      0.60      0.60     16526

In [19]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [20]:
y_pred2 = rf.predict(X_test)
accuracy2 = accuracy_score(y_test, y_pred2)
print("Random Forest Accuracy:", accuracy2)

Random Forest Accuracy: 0.650066561781

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred2))

             precision    recall  f1-score   support

          0       0.63      0.76      0.69      8361
          1       0.69      0.54      0.60      8165

avg / total       0.66      0.65      0.65     16526