Data source
https://www.datasciencedata.com/auto-insurance-churn-data

In [2]:
#Import the basics
import matplotlib
from matplotlib import pylab
import pandas as pd

In [3]:
df = pd.read_csv("./full_auto_insurance_data.csv",
                     names=['INDIVIDUAL_ID', 'acct_terminated', 'ADDRESS_ID', 'CURR_ANN_AMT', 'DAYS_TENURE', 'CUST_ORIG_DATE', 
                           'AGE_IN_YEARS', 'DATE_OF_BIRTH', 'SOCIAL_SECURITY_NUMBER', 'LATITUDE', 'LONGITUDE', 'STREET_ADDRESS', 
                           'CITY', 'STATE', 'COUNTY', 'INCOME', 'HAS_CHILDREN', 'LENGTH_OF_RESIDENCE', 'MARITAL_STATUS', 
                           'HOME_MARKET_VALUE', 'HOME_OWNER', 'COLLEGE_DEGREE', 'GOOD_CREDIT', 'ACCT_SUSPD_DATE'],
                     na_values=['0'])

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,6,9,10,15,16,17,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
0,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,NaN,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,NaN
2,221300134410.00,NaN,521300051115.00,974.19,1795.00,2018-01-02,72.559,1950-05-30,342-XX-6908,32.732209,...,Dallas,27500.00,0.00,2.00,Single,50000 - 74999,1,NaN,NaN,NaN
3,221300673028.00,NaN,521300247929.00,967.37,4818.00,2009-09-23,55.444,1967-07-07,240-XX-9224,32.819776999999995,...,Dallas,42500.00,0.00,10.00,Married,75000 - 99999,1,NaN,NaN,NaN
4,221301573419.00,NaN,521300570147.00,992.40,130.00,2022-07-25,53.558,1969-05-25,775-XX-6249,32.684065,...,Tarrant,125000.00,1.00,6.00,Married,175000 - 199999,1,NaN,1,2021-12-22
5,221301622347.00,NaN,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,NaN
6,221302735288.00,NaN,521300990369.00,909.91,484.00,2021-08-05,32.641,1990-04-20,194-XX-6050,NaN,...,Dallas,52500.00,0.00,2.00,Married,125000 - 149999,1,NaN,1,NaN
7,221300697686.00,NaN,521300256124.00,1084.04,2896.00,2014-12-28,70.806,1952-02-29,653-XX-7262,33.006985,...,Denton,125000.00,1.00,8.00,Married,100000 - 124999,1,NaN,1,NaN
8,221302209400.00,NaN,521300798596.00,1277.37,4096.00,2011-09-15,45.969,1976-12-24,163-XX-1670,33.085901,...,Collin,47500.00,0.00,12.00,Married,125000 - 149999,1,NaN,1,NaN
9,221302854567.00,NaN,521301084127.00,917.20,2107.00,2017-02-24,56.389,1966-07-27,621-XX-5572,32.828468,...,Tarrant,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1,2022-12-01
10,221301247282.00,NaN,521300454553.00,1095.39,3387.00,2013-08-24,64.307,1958-08-28,793-XX-1178,32.753978000000004,...,Dallas,32500.00,0.00,15.00,Married,25000 - 49999,1,NaN,NaN,NaN
11,221301452429.00,NaN,521300528279.00,966.83,80.00,2022-09-13,55.444,1967-07-07,677-XX-1586,32.805436,...,Tarrant,80372.17,0.00,6.80,NaN,50000 - 74999,NaN,1,NaN,2022-09-16
12,221301301436.00,NaN,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,NaN
13,221301266555.00,NaN,521300461742.00,619.60,1606.00,2018-07-10,NaN,1993-11-21,133-XX-4591,32.711729,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,221303070400.00,NaN,521301299960.00,590.95,1606.00,2018-07-10,55.444,1967-07-07,777-XX-2081,NaN,...,Parker,70000.00,0.00,0.00,NaN,NaN,NaN,NaN,1,NaN
15,221302005705.00,NaN,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,NaN
16,221302781834.00,NaN,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,NaN
17,221302113180.00,NaN,521300763928.00,569.83,107.00,2022-08-17,32.559,1990-05-20,277-XX-1871,32.85491,...,Tarrant,80372.17,0.00,6.80,NaN,150000 - 174999,NaN,1,1,NaN
18,221300941052.00,NaN,521300346046.00,961.04,80.00,2022-09-13,55.444,1967-07-07,563-XX-7554,NaN,...,Dallas,47500.00,0.00,0.00,NaN,NaN,NaN,NaN,1,2022-06-12
19,221301392462.00,NaN,521300507544.00,841.02,150.00,2022-07-05,59.053,1963-11-28,551-XX-2401,32.841713,...,Dallas,57500.00,0.00,11.00,Single,150000 - 174999,NaN,NaN,1,NaN
20,221301470025.00,NaN,521300534230.00,943.55,2409.00,2016-04-28,55.444,1967-07-07,455-XX-5888,NaN,...,Dallas,80372.17,0.00,6.80,NaN,250000 - 274999,NaN,NaN,1,NaN
21,221303096842.00,NaN,521301326403.00,741.67,4711.00,2010-01-08,43.723,1979-03-24,734-XX-3221,32.851905,...,Dallas,125000.00,1.00,10.00,Single,225000 - 249999,1,NaN,1,NaN
22,221301479205.00,NaN,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,NaN
23,221303215002.00,NaN,521301444564.00,913.66,6226.00,2005-11-15,60.559,1962-05-27,424-XX-2825,32.639399,...,Tarrant,47500.00,0.00,12.00,Married,50000 - 74999,1,NaN,1,NaN
24,221301003945.00,NaN,521300368024.00,438.24,1018.00,2020-02-18,48.893,1974-01-22,950-XX-8716,32.807283,...,Dallas,70000.00,0.00,6.00,Married,150000 - 174999,NaN,NaN,1,NaN
25,221300771454.00,NaN,521300283230.00,953.30,5463.00,2007-12-18,67.806,1955-02-28,585-XX-2402,32.869218,...,Tarrant,125000.00,0.00,9.00,Married,75000 - 99999,1,NaN,1,NaN
26,221302382580.00,NaN,521300862858.00,725.16,3336.00,2013-10-14,38.22,1984-09-22,423-XX-4997,32.841944,...,Tarrant,70000.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,NaN
27,221300001751.00,NaN,521300000712.00,716.71,5654.00,2007-06-10,48.893,1974-01-22,479-XX-4835,NaN,...,Tarrant,87500.00,1.00,0.00,Single,NaN,NaN,NaN,NaN,2021-12-20
28,221302016189.00,NaN,521300730039.00,1103.39,6291.00,2005-09-11,NaN,1982-02-27,540-XX-5795,32.841068,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,221301094174.00,NaN,521300399872.00,795.03,2409.00,2016-04-28,55.444,1967-07-07,627-XX-9534,32.832474,...,Dallas,32500.00,0.00,6.80,NaN,75000 - 99999,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280292,2.213e+11,NaN,5.213e+11,1072.36,1813,2017-12-15,34.472,1988-06-21,630-XX-8564,NaN,...,Collin,125000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280293,2.21301e+11,NaN,5.213e+11,908.39,3762,2012-08-14,59.138,1963-10-28,506-XX-6711,32.8622,...,Tarrant,47500,1,15,Married,75000 - 99999,1,NaN,1,NaN
2280294,2.213e+11,NaN,5.213e+11,1105.36,3101,2014-06-06,51.89,1971-01-24,364-XX-8511,32.6835,...,Tarrant,87500,1,12,Married,75000 - 99999,1,NaN,1,NaN
2280295,2.213e+11,NaN,5.213e+11,790.96,2385,2016-05-22,NaN,1983-04-19,505-XX-4395,32.9183,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280296,2.21302e+11,NaN,5.21301e+11,1290.31,282,2022-02-23,56.559,1966-05-26,595-XX-3128,32.6607,...,Dallas,5000,1,15,Single,50000 - 74999,1,NaN,NaN,NaN
2280297,2.213e+11,NaN,5.213e+11,1251.92,506,2021-07-14,33.306,1989-08-20,782-XX-8679,32.7584,...,Kaufman,42500,NaN,15,Married,50000 - 74999,1,NaN,1,NaN
2280298,2.21303e+11,NaN,5.21301e+11,998.89,140,2022-07-15,56.389,1966-07-27,646-XX-6005,32.5818,...,Dallas,57500,1,5,Single,25000 - 49999,1,NaN,1,NaN
2280299,2.21301e+11,NaN,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,NaN
2280300,2.21303e+11,NaN,5.21301e+11,918.77,3963,2012-01-26,45.054,1977-11-23,154-XX-9474,32.7778,...,Dallas,12500,1,4,Single,100000 - 124999,1,NaN,NaN,NaN
2280301,2.21301e+11,NaN,5.213e+11,1257.56,98,2022-08-26,44.808,1978-02-21,795-XX-4476,33.0408,...,Parker,27500,1,6.8,Single,25000 - 49999,NaN,1,NaN,2021-12-23
2280302,2.213e+11,NaN,5.213e+11,726.39,2241,2016-10-13,42.472,1980-06-23,683-XX-5655,33.0064,...,Collin,87500,1,3,Married,200000 - 224999,1,NaN,1,NaN
2280303,2.21302e+11,NaN,5.21301e+11,808.34,4697,2010-01-22,69.388,1953-07-30,169-XX-1714,33.17,...,Collin,70000,1,1,Married,125000 - 149999,1,NaN,1,NaN
2280304,2.21303e+11,NaN,5.21301e+11,591.31,2398,2016-05-09,31.053,1991-11-21,130-XX-4154,32.7322,...,Kaufman,12500,1,5,Single,1000 - 24999,NaN,NaN,1,NaN
2280305,2.21302e+11,NaN,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,NaN
2280306,2.213e+11,NaN,5.213e+11,877.39,161,2022-06-24,55.444,1967-07-07,491-XX-1532,32.6993,...,Tarrant,80372.2,NaN,NaN,NaN,25000 - 49999,1,NaN,NaN,NaN
2280307,2.213e+11,NaN,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,NaN
2280308,2.21303e+11,NaN,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,NaN
2280309,2.213e+11,NaN,5.213e+11,931.09,6291,2005-09-11,82.557,1940-06-02,386-XX-4360,32.9405,...,Rockwall,47500,1,15,Married,50000 - 74999,1,1,1,2022-03-26
2280310,2.21302e+11,NaN,5.21301e+11,510.96,278,2022-02-27,NaN,1998-06-27,575-XX-4965,32.8966,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280311,2.21302e+11,NaN,5.21301e+11,775.55,2097,2017-03-06,56.222,1966-09-26,740-XX-8182,32.8591,...,Tarrant,80372.2,NaN,1,Single,100000 - 124999,1,NaN,1,NaN
2280312,2.213e+11,NaN,5.213e+11,960.69,723,2020-12-09,55.444,1967-07-07,313-XX-4211,33.1066,...,Collin,70000,1,4,Single,100000 - 124999,1,NaN,1,NaN
2280313,2.21301e+11,NaN,5.213e+11,1259.9,803,2020-09-20,55.444,1967-07-07,836-XX-1003,32.6785,...,Dallas,27500,1,3,Single,50000 - 74999,1,NaN,1,NaN
2280314,2.21301e+11,NaN,5.21301e+11,604.09,3261,2013-12-28,77.473,1945-07-01,498-XX-6384,32.972,...,Dallas,87500,NaN,1,Married,125000 - 149999,1,NaN,1,NaN
2280315,2.21303e+11,NaN,5.21301e+11,1255.57,3403,2013-08-08,41.221,1981-09-22,960-XX-3949,32.9028,...,Dallas,125000,NaN,12,Married,125000 - 149999,1,1,1,NaN
2280316,2.213e+11,NaN,5.213e+11,1041.94,5341,2008-04-18,NaN,1980-05-07,764-XX-2229,NaN,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280317,2.21301e+11,NaN,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,NaN
2280318,2.213e+11,NaN,5.213e+11,1189.74,142,2022-07-13,37.388,1985-07-22,306-XX-2712,33.1849,...,Collin,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,1,1,NaN
2280319,2.21302e+11,NaN,5.21301e+11,362.14,1606,2018-07-10,55.444,1967-07-07,800-XX-2726,33.0197,...,Collin,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,NaN
2280320,2.21301e+11,NaN,5.213e+11,611.69,6291,2005-09-11,NaN,1998-11-09,198-XX-4107,33.0388,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280321,2.21302e+11,NaN,5.21301e+11,829.86,2504,2016-01-24,63.639,1959-04-29,520-XX-7573,33.1469,...,Denton,225000,1,4,Married,200000 - 224999,1,NaN,1,NaN

In [7]:
#Change NaN values to 0 in acct_terminated 
df['acct_terminated'] = df['acct_terminated'].fillna(0)

In [8]:
#print to check
df

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
0,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,NaN
2,221300134410.00,0,521300051115.00,974.19,1795.00,2018-01-02,72.559,1950-05-30,342-XX-6908,32.732209,...,Dallas,27500.00,0.00,2.00,Single,50000 - 74999,1,NaN,NaN,NaN
3,221300673028.00,0,521300247929.00,967.37,4818.00,2009-09-23,55.444,1967-07-07,240-XX-9224,32.819776999999995,...,Dallas,42500.00,0.00,10.00,Married,75000 - 99999,1,NaN,NaN,NaN
4,221301573419.00,0,521300570147.00,992.40,130.00,2022-07-25,53.558,1969-05-25,775-XX-6249,32.684065,...,Tarrant,125000.00,1.00,6.00,Married,175000 - 199999,1,NaN,1,2021-12-22
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,NaN
6,221302735288.00,0,521300990369.00,909.91,484.00,2021-08-05,32.641,1990-04-20,194-XX-6050,NaN,...,Dallas,52500.00,0.00,2.00,Married,125000 - 149999,1,NaN,1,NaN
7,221300697686.00,0,521300256124.00,1084.04,2896.00,2014-12-28,70.806,1952-02-29,653-XX-7262,33.006985,...,Denton,125000.00,1.00,8.00,Married,100000 - 124999,1,NaN,1,NaN
8,221302209400.00,0,521300798596.00,1277.37,4096.00,2011-09-15,45.969,1976-12-24,163-XX-1670,33.085901,...,Collin,47500.00,0.00,12.00,Married,125000 - 149999,1,NaN,1,NaN
9,221302854567.00,0,521301084127.00,917.20,2107.00,2017-02-24,56.389,1966-07-27,621-XX-5572,32.828468,...,Tarrant,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1,2022-12-01
10,221301247282.00,0,521300454553.00,1095.39,3387.00,2013-08-24,64.307,1958-08-28,793-XX-1178,32.753978000000004,...,Dallas,32500.00,0.00,15.00,Married,25000 - 49999,1,NaN,NaN,NaN
11,221301452429.00,0,521300528279.00,966.83,80.00,2022-09-13,55.444,1967-07-07,677-XX-1586,32.805436,...,Tarrant,80372.17,0.00,6.80,NaN,50000 - 74999,NaN,1,NaN,2022-09-16
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,NaN
13,221301266555.00,0,521300461742.00,619.60,1606.00,2018-07-10,NaN,1993-11-21,133-XX-4591,32.711729,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,221303070400.00,0,521301299960.00,590.95,1606.00,2018-07-10,55.444,1967-07-07,777-XX-2081,NaN,...,Parker,70000.00,0.00,0.00,NaN,NaN,NaN,NaN,1,NaN
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,NaN
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,NaN
17,221302113180.00,0,521300763928.00,569.83,107.00,2022-08-17,32.559,1990-05-20,277-XX-1871,32.85491,...,Tarrant,80372.17,0.00,6.80,NaN,150000 - 174999,NaN,1,1,NaN
18,221300941052.00,0,521300346046.00,961.04,80.00,2022-09-13,55.444,1967-07-07,563-XX-7554,NaN,...,Dallas,47500.00,0.00,0.00,NaN,NaN,NaN,NaN,1,2022-06-12
19,221301392462.00,0,521300507544.00,841.02,150.00,2022-07-05,59.053,1963-11-28,551-XX-2401,32.841713,...,Dallas,57500.00,0.00,11.00,Single,150000 - 174999,NaN,NaN,1,NaN
20,221301470025.00,0,521300534230.00,943.55,2409.00,2016-04-28,55.444,1967-07-07,455-XX-5888,NaN,...,Dallas,80372.17,0.00,6.80,NaN,250000 - 274999,NaN,NaN,1,NaN
21,221303096842.00,0,521301326403.00,741.67,4711.00,2010-01-08,43.723,1979-03-24,734-XX-3221,32.851905,...,Dallas,125000.00,1.00,10.00,Single,225000 - 249999,1,NaN,1,NaN
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,NaN
23,221303215002.00,0,521301444564.00,913.66,6226.00,2005-11-15,60.559,1962-05-27,424-XX-2825,32.639399,...,Tarrant,47500.00,0.00,12.00,Married,50000 - 74999,1,NaN,1,NaN
24,221301003945.00,0,521300368024.00,438.24,1018.00,2020-02-18,48.893,1974-01-22,950-XX-8716,32.807283,...,Dallas,70000.00,0.00,6.00,Married,150000 - 174999,NaN,NaN,1,NaN
25,221300771454.00,0,521300283230.00,953.30,5463.00,2007-12-18,67.806,1955-02-28,585-XX-2402,32.869218,...,Tarrant,125000.00,0.00,9.00,Married,75000 - 99999,1,NaN,1,NaN
26,221302382580.00,0,521300862858.00,725.16,3336.00,2013-10-14,38.22,1984-09-22,423-XX-4997,32.841944,...,Tarrant,70000.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,NaN
27,221300001751.00,0,521300000712.00,716.71,5654.00,2007-06-10,48.893,1974-01-22,479-XX-4835,NaN,...,Tarrant,87500.00,1.00,0.00,Single,NaN,NaN,NaN,NaN,2021-12-20
28,221302016189.00,0,521300730039.00,1103.39,6291.00,2005-09-11,NaN,1982-02-27,540-XX-5795,32.841068,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,221301094174.00,0,521300399872.00,795.03,2409.00,2016-04-28,55.444,1967-07-07,627-XX-9534,32.832474,...,Dallas,32500.00,0.00,6.80,NaN,75000 - 99999,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280292,2.213e+11,0,5.213e+11,1072.36,1813,2017-12-15,34.472,1988-06-21,630-XX-8564,NaN,...,Collin,125000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280293,2.21301e+11,0,5.213e+11,908.39,3762,2012-08-14,59.138,1963-10-28,506-XX-6711,32.8622,...,Tarrant,47500,1,15,Married,75000 - 99999,1,NaN,1,NaN
2280294,2.213e+11,0,5.213e+11,1105.36,3101,2014-06-06,51.89,1971-01-24,364-XX-8511,32.6835,...,Tarrant,87500,1,12,Married,75000 - 99999,1,NaN,1,NaN
2280295,2.213e+11,0,5.213e+11,790.96,2385,2016-05-22,NaN,1983-04-19,505-XX-4395,32.9183,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280296,2.21302e+11,0,5.21301e+11,1290.31,282,2022-02-23,56.559,1966-05-26,595-XX-3128,32.6607,...,Dallas,5000,1,15,Single,50000 - 74999,1,NaN,NaN,NaN
2280297,2.213e+11,0,5.213e+11,1251.92,506,2021-07-14,33.306,1989-08-20,782-XX-8679,32.7584,...,Kaufman,42500,NaN,15,Married,50000 - 74999,1,NaN,1,NaN
2280298,2.21303e+11,0,5.21301e+11,998.89,140,2022-07-15,56.389,1966-07-27,646-XX-6005,32.5818,...,Dallas,57500,1,5,Single,25000 - 49999,1,NaN,1,NaN
2280299,2.21301e+11,0,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,NaN
2280300,2.21303e+11,0,5.21301e+11,918.77,3963,2012-01-26,45.054,1977-11-23,154-XX-9474,32.7778,...,Dallas,12500,1,4,Single,100000 - 124999,1,NaN,NaN,NaN
2280301,2.21301e+11,0,5.213e+11,1257.56,98,2022-08-26,44.808,1978-02-21,795-XX-4476,33.0408,...,Parker,27500,1,6.8,Single,25000 - 49999,NaN,1,NaN,2021-12-23
2280302,2.213e+11,0,5.213e+11,726.39,2241,2016-10-13,42.472,1980-06-23,683-XX-5655,33.0064,...,Collin,87500,1,3,Married,200000 - 224999,1,NaN,1,NaN
2280303,2.21302e+11,0,5.21301e+11,808.34,4697,2010-01-22,69.388,1953-07-30,169-XX-1714,33.17,...,Collin,70000,1,1,Married,125000 - 149999,1,NaN,1,NaN
2280304,2.21303e+11,0,5.21301e+11,591.31,2398,2016-05-09,31.053,1991-11-21,130-XX-4154,32.7322,...,Kaufman,12500,1,5,Single,1000 - 24999,NaN,NaN,1,NaN
2280305,2.21302e+11,0,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,NaN
2280306,2.213e+11,0,5.213e+11,877.39,161,2022-06-24,55.444,1967-07-07,491-XX-1532,32.6993,...,Tarrant,80372.2,NaN,NaN,NaN,25000 - 49999,1,NaN,NaN,NaN
2280307,2.213e+11,0,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,NaN
2280308,2.21303e+11,0,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,NaN
2280309,2.213e+11,0,5.213e+11,931.09,6291,2005-09-11,82.557,1940-06-02,386-XX-4360,32.9405,...,Rockwall,47500,1,15,Married,50000 - 74999,1,1,1,2022-03-26
2280310,2.21302e+11,0,5.21301e+11,510.96,278,2022-02-27,NaN,1998-06-27,575-XX-4965,32.8966,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280311,2.21302e+11,0,5.21301e+11,775.55,2097,2017-03-06,56.222,1966-09-26,740-XX-8182,32.8591,...,Tarrant,80372.2,NaN,1,Single,100000 - 124999,1,NaN,1,NaN
2280312,2.213e+11,0,5.213e+11,960.69,723,2020-12-09,55.444,1967-07-07,313-XX-4211,33.1066,...,Collin,70000,1,4,Single,100000 - 124999,1,NaN,1,NaN
2280313,2.21301e+11,0,5.213e+11,1259.9,803,2020-09-20,55.444,1967-07-07,836-XX-1003,32.6785,...,Dallas,27500,1,3,Single,50000 - 74999,1,NaN,1,NaN
2280314,2.21301e+11,0,5.21301e+11,604.09,3261,2013-12-28,77.473,1945-07-01,498-XX-6384,32.972,...,Dallas,87500,NaN,1,Married,125000 - 149999,1,NaN,1,NaN
2280315,2.21303e+11,0,5.21301e+11,1255.57,3403,2013-08-08,41.221,1981-09-22,960-XX-3949,32.9028,...,Dallas,125000,NaN,12,Married,125000 - 149999,1,1,1,NaN
2280316,2.213e+11,0,5.213e+11,1041.94,5341,2008-04-18,NaN,1980-05-07,764-XX-2229,NaN,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280317,2.21301e+11,0,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,NaN
2280318,2.213e+11,0,5.213e+11,1189.74,142,2022-07-13,37.388,1985-07-22,306-XX-2712,33.1849,...,Collin,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,1,1,NaN
2280319,2.21302e+11,0,5.21301e+11,362.14,1606,2018-07-10,55.444,1967-07-07,800-XX-2726,33.0197,...,Collin,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,NaN
2280320,2.21301e+11,0,5.213e+11,611.69,6291,2005-09-11,NaN,1998-11-09,198-XX-4107,33.0388,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280321,2.21302e+11,0,5.21301e+11,829.86,2504,2016-01-24,63.639,1959-04-29,520-XX-7573,33.1469,...,Denton,225000,1,4,Married,200000 - 224999,1,NaN,1,NaN

In [9]:
#If Acct_Susd_date is not null, set acct_terminated to 1 to represent true
df.loc[df['ACCT_SUSPD_DATE'].notnull(), 'acct_terminated'] = 1

In [10]:
df

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
0,INDIVIDUAL_ID,1,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,NaN
2,221300134410.00,0,521300051115.00,974.19,1795.00,2018-01-02,72.559,1950-05-30,342-XX-6908,32.732209,...,Dallas,27500.00,0.00,2.00,Single,50000 - 74999,1,NaN,NaN,NaN
3,221300673028.00,0,521300247929.00,967.37,4818.00,2009-09-23,55.444,1967-07-07,240-XX-9224,32.819776999999995,...,Dallas,42500.00,0.00,10.00,Married,75000 - 99999,1,NaN,NaN,NaN
4,221301573419.00,1,521300570147.00,992.40,130.00,2022-07-25,53.558,1969-05-25,775-XX-6249,32.684065,...,Tarrant,125000.00,1.00,6.00,Married,175000 - 199999,1,NaN,1,2021-12-22
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,NaN
6,221302735288.00,0,521300990369.00,909.91,484.00,2021-08-05,32.641,1990-04-20,194-XX-6050,NaN,...,Dallas,52500.00,0.00,2.00,Married,125000 - 149999,1,NaN,1,NaN
7,221300697686.00,0,521300256124.00,1084.04,2896.00,2014-12-28,70.806,1952-02-29,653-XX-7262,33.006985,...,Denton,125000.00,1.00,8.00,Married,100000 - 124999,1,NaN,1,NaN
8,221302209400.00,0,521300798596.00,1277.37,4096.00,2011-09-15,45.969,1976-12-24,163-XX-1670,33.085901,...,Collin,47500.00,0.00,12.00,Married,125000 - 149999,1,NaN,1,NaN
9,221302854567.00,1,521301084127.00,917.20,2107.00,2017-02-24,56.389,1966-07-27,621-XX-5572,32.828468,...,Tarrant,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1,2022-12-01
10,221301247282.00,0,521300454553.00,1095.39,3387.00,2013-08-24,64.307,1958-08-28,793-XX-1178,32.753978000000004,...,Dallas,32500.00,0.00,15.00,Married,25000 - 49999,1,NaN,NaN,NaN
11,221301452429.00,1,521300528279.00,966.83,80.00,2022-09-13,55.444,1967-07-07,677-XX-1586,32.805436,...,Tarrant,80372.17,0.00,6.80,NaN,50000 - 74999,NaN,1,NaN,2022-09-16
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,NaN
13,221301266555.00,0,521300461742.00,619.60,1606.00,2018-07-10,NaN,1993-11-21,133-XX-4591,32.711729,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,221303070400.00,0,521301299960.00,590.95,1606.00,2018-07-10,55.444,1967-07-07,777-XX-2081,NaN,...,Parker,70000.00,0.00,0.00,NaN,NaN,NaN,NaN,1,NaN
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,NaN
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,NaN
17,221302113180.00,0,521300763928.00,569.83,107.00,2022-08-17,32.559,1990-05-20,277-XX-1871,32.85491,...,Tarrant,80372.17,0.00,6.80,NaN,150000 - 174999,NaN,1,1,NaN
18,221300941052.00,1,521300346046.00,961.04,80.00,2022-09-13,55.444,1967-07-07,563-XX-7554,NaN,...,Dallas,47500.00,0.00,0.00,NaN,NaN,NaN,NaN,1,2022-06-12
19,221301392462.00,0,521300507544.00,841.02,150.00,2022-07-05,59.053,1963-11-28,551-XX-2401,32.841713,...,Dallas,57500.00,0.00,11.00,Single,150000 - 174999,NaN,NaN,1,NaN
20,221301470025.00,0,521300534230.00,943.55,2409.00,2016-04-28,55.444,1967-07-07,455-XX-5888,NaN,...,Dallas,80372.17,0.00,6.80,NaN,250000 - 274999,NaN,NaN,1,NaN
21,221303096842.00,0,521301326403.00,741.67,4711.00,2010-01-08,43.723,1979-03-24,734-XX-3221,32.851905,...,Dallas,125000.00,1.00,10.00,Single,225000 - 249999,1,NaN,1,NaN
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,NaN
23,221303215002.00,0,521301444564.00,913.66,6226.00,2005-11-15,60.559,1962-05-27,424-XX-2825,32.639399,...,Tarrant,47500.00,0.00,12.00,Married,50000 - 74999,1,NaN,1,NaN
24,221301003945.00,0,521300368024.00,438.24,1018.00,2020-02-18,48.893,1974-01-22,950-XX-8716,32.807283,...,Dallas,70000.00,0.00,6.00,Married,150000 - 174999,NaN,NaN,1,NaN
25,221300771454.00,0,521300283230.00,953.30,5463.00,2007-12-18,67.806,1955-02-28,585-XX-2402,32.869218,...,Tarrant,125000.00,0.00,9.00,Married,75000 - 99999,1,NaN,1,NaN
26,221302382580.00,0,521300862858.00,725.16,3336.00,2013-10-14,38.22,1984-09-22,423-XX-4997,32.841944,...,Tarrant,70000.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,NaN
27,221300001751.00,1,521300000712.00,716.71,5654.00,2007-06-10,48.893,1974-01-22,479-XX-4835,NaN,...,Tarrant,87500.00,1.00,0.00,Single,NaN,NaN,NaN,NaN,2021-12-20
28,221302016189.00,0,521300730039.00,1103.39,6291.00,2005-09-11,NaN,1982-02-27,540-XX-5795,32.841068,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,221301094174.00,0,521300399872.00,795.03,2409.00,2016-04-28,55.444,1967-07-07,627-XX-9534,32.832474,...,Dallas,32500.00,0.00,6.80,NaN,75000 - 99999,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280292,2.213e+11,0,5.213e+11,1072.36,1813,2017-12-15,34.472,1988-06-21,630-XX-8564,NaN,...,Collin,125000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280293,2.21301e+11,0,5.213e+11,908.39,3762,2012-08-14,59.138,1963-10-28,506-XX-6711,32.8622,...,Tarrant,47500,1,15,Married,75000 - 99999,1,NaN,1,NaN
2280294,2.213e+11,0,5.213e+11,1105.36,3101,2014-06-06,51.89,1971-01-24,364-XX-8511,32.6835,...,Tarrant,87500,1,12,Married,75000 - 99999,1,NaN,1,NaN
2280295,2.213e+11,0,5.213e+11,790.96,2385,2016-05-22,NaN,1983-04-19,505-XX-4395,32.9183,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280296,2.21302e+11,0,5.21301e+11,1290.31,282,2022-02-23,56.559,1966-05-26,595-XX-3128,32.6607,...,Dallas,5000,1,15,Single,50000 - 74999,1,NaN,NaN,NaN
2280297,2.213e+11,0,5.213e+11,1251.92,506,2021-07-14,33.306,1989-08-20,782-XX-8679,32.7584,...,Kaufman,42500,NaN,15,Married,50000 - 74999,1,NaN,1,NaN
2280298,2.21303e+11,0,5.21301e+11,998.89,140,2022-07-15,56.389,1966-07-27,646-XX-6005,32.5818,...,Dallas,57500,1,5,Single,25000 - 49999,1,NaN,1,NaN
2280299,2.21301e+11,0,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,NaN
2280300,2.21303e+11,0,5.21301e+11,918.77,3963,2012-01-26,45.054,1977-11-23,154-XX-9474,32.7778,...,Dallas,12500,1,4,Single,100000 - 124999,1,NaN,NaN,NaN
2280301,2.21301e+11,1,5.213e+11,1257.56,98,2022-08-26,44.808,1978-02-21,795-XX-4476,33.0408,...,Parker,27500,1,6.8,Single,25000 - 49999,NaN,1,NaN,2021-12-23
2280302,2.213e+11,0,5.213e+11,726.39,2241,2016-10-13,42.472,1980-06-23,683-XX-5655,33.0064,...,Collin,87500,1,3,Married,200000 - 224999,1,NaN,1,NaN
2280303,2.21302e+11,0,5.21301e+11,808.34,4697,2010-01-22,69.388,1953-07-30,169-XX-1714,33.17,...,Collin,70000,1,1,Married,125000 - 149999,1,NaN,1,NaN
2280304,2.21303e+11,0,5.21301e+11,591.31,2398,2016-05-09,31.053,1991-11-21,130-XX-4154,32.7322,...,Kaufman,12500,1,5,Single,1000 - 24999,NaN,NaN,1,NaN
2280305,2.21302e+11,0,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,NaN
2280306,2.213e+11,0,5.213e+11,877.39,161,2022-06-24,55.444,1967-07-07,491-XX-1532,32.6993,...,Tarrant,80372.2,NaN,NaN,NaN,25000 - 49999,1,NaN,NaN,NaN
2280307,2.213e+11,0,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,NaN
2280308,2.21303e+11,0,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,NaN
2280309,2.213e+11,1,5.213e+11,931.09,6291,2005-09-11,82.557,1940-06-02,386-XX-4360,32.9405,...,Rockwall,47500,1,15,Married,50000 - 74999,1,1,1,2022-03-26
2280310,2.21302e+11,0,5.21301e+11,510.96,278,2022-02-27,NaN,1998-06-27,575-XX-4965,32.8966,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280311,2.21302e+11,0,5.21301e+11,775.55,2097,2017-03-06,56.222,1966-09-26,740-XX-8182,32.8591,...,Tarrant,80372.2,NaN,1,Single,100000 - 124999,1,NaN,1,NaN
2280312,2.213e+11,0,5.213e+11,960.69,723,2020-12-09,55.444,1967-07-07,313-XX-4211,33.1066,...,Collin,70000,1,4,Single,100000 - 124999,1,NaN,1,NaN
2280313,2.21301e+11,0,5.213e+11,1259.9,803,2020-09-20,55.444,1967-07-07,836-XX-1003,32.6785,...,Dallas,27500,1,3,Single,50000 - 74999,1,NaN,1,NaN
2280314,2.21301e+11,0,5.21301e+11,604.09,3261,2013-12-28,77.473,1945-07-01,498-XX-6384,32.972,...,Dallas,87500,NaN,1,Married,125000 - 149999,1,NaN,1,NaN
2280315,2.21303e+11,0,5.21301e+11,1255.57,3403,2013-08-08,41.221,1981-09-22,960-XX-3949,32.9028,...,Dallas,125000,NaN,12,Married,125000 - 149999,1,1,1,NaN
2280316,2.213e+11,0,5.213e+11,1041.94,5341,2008-04-18,NaN,1980-05-07,764-XX-2229,NaN,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280317,2.21301e+11,0,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,NaN
2280318,2.213e+11,0,5.213e+11,1189.74,142,2022-07-13,37.388,1985-07-22,306-XX-2712,33.1849,...,Collin,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,1,1,NaN
2280319,2.21302e+11,0,5.21301e+11,362.14,1606,2018-07-10,55.444,1967-07-07,800-XX-2726,33.0197,...,Collin,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,NaN
2280320,2.21301e+11,0,5.213e+11,611.69,6291,2005-09-11,NaN,1998-11-09,198-XX-4107,33.0388,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280321,2.21302e+11,0,5.21301e+11,829.86,2504,2016-01-24,63.639,1959-04-29,520-XX-7573,33.1469,...,Denton,225000,1,4,Married,200000 - 224999,1,NaN,1,NaN

In [14]:
df = df.tail(-1)

In [15]:
df

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,NaN
2,221300134410.00,0,521300051115.00,974.19,1795.00,2018-01-02,72.559,1950-05-30,342-XX-6908,32.732209,...,Dallas,27500.00,0.00,2.00,Single,50000 - 74999,1,NaN,NaN,NaN
3,221300673028.00,0,521300247929.00,967.37,4818.00,2009-09-23,55.444,1967-07-07,240-XX-9224,32.819776999999995,...,Dallas,42500.00,0.00,10.00,Married,75000 - 99999,1,NaN,NaN,NaN
4,221301573419.00,1,521300570147.00,992.40,130.00,2022-07-25,53.558,1969-05-25,775-XX-6249,32.684065,...,Tarrant,125000.00,1.00,6.00,Married,175000 - 199999,1,NaN,1,2021-12-22
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,NaN
6,221302735288.00,0,521300990369.00,909.91,484.00,2021-08-05,32.641,1990-04-20,194-XX-6050,NaN,...,Dallas,52500.00,0.00,2.00,Married,125000 - 149999,1,NaN,1,NaN
7,221300697686.00,0,521300256124.00,1084.04,2896.00,2014-12-28,70.806,1952-02-29,653-XX-7262,33.006985,...,Denton,125000.00,1.00,8.00,Married,100000 - 124999,1,NaN,1,NaN
8,221302209400.00,0,521300798596.00,1277.37,4096.00,2011-09-15,45.969,1976-12-24,163-XX-1670,33.085901,...,Collin,47500.00,0.00,12.00,Married,125000 - 149999,1,NaN,1,NaN
9,221302854567.00,1,521301084127.00,917.20,2107.00,2017-02-24,56.389,1966-07-27,621-XX-5572,32.828468,...,Tarrant,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1,2022-12-01
10,221301247282.00,0,521300454553.00,1095.39,3387.00,2013-08-24,64.307,1958-08-28,793-XX-1178,32.753978000000004,...,Dallas,32500.00,0.00,15.00,Married,25000 - 49999,1,NaN,NaN,NaN
11,221301452429.00,1,521300528279.00,966.83,80.00,2022-09-13,55.444,1967-07-07,677-XX-1586,32.805436,...,Tarrant,80372.17,0.00,6.80,NaN,50000 - 74999,NaN,1,NaN,2022-09-16
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,NaN
13,221301266555.00,0,521300461742.00,619.60,1606.00,2018-07-10,NaN,1993-11-21,133-XX-4591,32.711729,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,221303070400.00,0,521301299960.00,590.95,1606.00,2018-07-10,55.444,1967-07-07,777-XX-2081,NaN,...,Parker,70000.00,0.00,0.00,NaN,NaN,NaN,NaN,1,NaN
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,NaN
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,NaN
17,221302113180.00,0,521300763928.00,569.83,107.00,2022-08-17,32.559,1990-05-20,277-XX-1871,32.85491,...,Tarrant,80372.17,0.00,6.80,NaN,150000 - 174999,NaN,1,1,NaN
18,221300941052.00,1,521300346046.00,961.04,80.00,2022-09-13,55.444,1967-07-07,563-XX-7554,NaN,...,Dallas,47500.00,0.00,0.00,NaN,NaN,NaN,NaN,1,2022-06-12
19,221301392462.00,0,521300507544.00,841.02,150.00,2022-07-05,59.053,1963-11-28,551-XX-2401,32.841713,...,Dallas,57500.00,0.00,11.00,Single,150000 - 174999,NaN,NaN,1,NaN
20,221301470025.00,0,521300534230.00,943.55,2409.00,2016-04-28,55.444,1967-07-07,455-XX-5888,NaN,...,Dallas,80372.17,0.00,6.80,NaN,250000 - 274999,NaN,NaN,1,NaN
21,221303096842.00,0,521301326403.00,741.67,4711.00,2010-01-08,43.723,1979-03-24,734-XX-3221,32.851905,...,Dallas,125000.00,1.00,10.00,Single,225000 - 249999,1,NaN,1,NaN
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,NaN
23,221303215002.00,0,521301444564.00,913.66,6226.00,2005-11-15,60.559,1962-05-27,424-XX-2825,32.639399,...,Tarrant,47500.00,0.00,12.00,Married,50000 - 74999,1,NaN,1,NaN
24,221301003945.00,0,521300368024.00,438.24,1018.00,2020-02-18,48.893,1974-01-22,950-XX-8716,32.807283,...,Dallas,70000.00,0.00,6.00,Married,150000 - 174999,NaN,NaN,1,NaN
25,221300771454.00,0,521300283230.00,953.30,5463.00,2007-12-18,67.806,1955-02-28,585-XX-2402,32.869218,...,Tarrant,125000.00,0.00,9.00,Married,75000 - 99999,1,NaN,1,NaN
26,221302382580.00,0,521300862858.00,725.16,3336.00,2013-10-14,38.22,1984-09-22,423-XX-4997,32.841944,...,Tarrant,70000.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,NaN
27,221300001751.00,1,521300000712.00,716.71,5654.00,2007-06-10,48.893,1974-01-22,479-XX-4835,NaN,...,Tarrant,87500.00,1.00,0.00,Single,NaN,NaN,NaN,NaN,2021-12-20
28,221302016189.00,0,521300730039.00,1103.39,6291.00,2005-09-11,NaN,1982-02-27,540-XX-5795,32.841068,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,221301094174.00,0,521300399872.00,795.03,2409.00,2016-04-28,55.444,1967-07-07,627-XX-9534,32.832474,...,Dallas,32500.00,0.00,6.80,NaN,75000 - 99999,NaN,NaN,1,NaN
30,221301530535.00,0,521300555215.00,1322.51,6291.00,2005-09-11,55.138,1967-10-27,250-XX-8931,NaN,...,Dallas,37500.00,1.00,7.00,Single,100000 - 124999,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280292,2.213e+11,0,5.213e+11,1072.36,1813,2017-12-15,34.472,1988-06-21,630-XX-8564,NaN,...,Collin,125000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280293,2.21301e+11,0,5.213e+11,908.39,3762,2012-08-14,59.138,1963-10-28,506-XX-6711,32.8622,...,Tarrant,47500,1,15,Married,75000 - 99999,1,NaN,1,NaN
2280294,2.213e+11,0,5.213e+11,1105.36,3101,2014-06-06,51.89,1971-01-24,364-XX-8511,32.6835,...,Tarrant,87500,1,12,Married,75000 - 99999,1,NaN,1,NaN
2280295,2.213e+11,0,5.213e+11,790.96,2385,2016-05-22,NaN,1983-04-19,505-XX-4395,32.9183,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280296,2.21302e+11,0,5.21301e+11,1290.31,282,2022-02-23,56.559,1966-05-26,595-XX-3128,32.6607,...,Dallas,5000,1,15,Single,50000 - 74999,1,NaN,NaN,NaN
2280297,2.213e+11,0,5.213e+11,1251.92,506,2021-07-14,33.306,1989-08-20,782-XX-8679,32.7584,...,Kaufman,42500,NaN,15,Married,50000 - 74999,1,NaN,1,NaN
2280298,2.21303e+11,0,5.21301e+11,998.89,140,2022-07-15,56.389,1966-07-27,646-XX-6005,32.5818,...,Dallas,57500,1,5,Single,25000 - 49999,1,NaN,1,NaN
2280299,2.21301e+11,0,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,NaN
2280300,2.21303e+11,0,5.21301e+11,918.77,3963,2012-01-26,45.054,1977-11-23,154-XX-9474,32.7778,...,Dallas,12500,1,4,Single,100000 - 124999,1,NaN,NaN,NaN
2280301,2.21301e+11,1,5.213e+11,1257.56,98,2022-08-26,44.808,1978-02-21,795-XX-4476,33.0408,...,Parker,27500,1,6.8,Single,25000 - 49999,NaN,1,NaN,2021-12-23
2280302,2.213e+11,0,5.213e+11,726.39,2241,2016-10-13,42.472,1980-06-23,683-XX-5655,33.0064,...,Collin,87500,1,3,Married,200000 - 224999,1,NaN,1,NaN
2280303,2.21302e+11,0,5.21301e+11,808.34,4697,2010-01-22,69.388,1953-07-30,169-XX-1714,33.17,...,Collin,70000,1,1,Married,125000 - 149999,1,NaN,1,NaN
2280304,2.21303e+11,0,5.21301e+11,591.31,2398,2016-05-09,31.053,1991-11-21,130-XX-4154,32.7322,...,Kaufman,12500,1,5,Single,1000 - 24999,NaN,NaN,1,NaN
2280305,2.21302e+11,0,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,NaN
2280306,2.213e+11,0,5.213e+11,877.39,161,2022-06-24,55.444,1967-07-07,491-XX-1532,32.6993,...,Tarrant,80372.2,NaN,NaN,NaN,25000 - 49999,1,NaN,NaN,NaN
2280307,2.213e+11,0,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,NaN
2280308,2.21303e+11,0,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,NaN
2280309,2.213e+11,1,5.213e+11,931.09,6291,2005-09-11,82.557,1940-06-02,386-XX-4360,32.9405,...,Rockwall,47500,1,15,Married,50000 - 74999,1,1,1,2022-03-26
2280310,2.21302e+11,0,5.21301e+11,510.96,278,2022-02-27,NaN,1998-06-27,575-XX-4965,32.8966,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280311,2.21302e+11,0,5.21301e+11,775.55,2097,2017-03-06,56.222,1966-09-26,740-XX-8182,32.8591,...,Tarrant,80372.2,NaN,1,Single,100000 - 124999,1,NaN,1,NaN
2280312,2.213e+11,0,5.213e+11,960.69,723,2020-12-09,55.444,1967-07-07,313-XX-4211,33.1066,...,Collin,70000,1,4,Single,100000 - 124999,1,NaN,1,NaN
2280313,2.21301e+11,0,5.213e+11,1259.9,803,2020-09-20,55.444,1967-07-07,836-XX-1003,32.6785,...,Dallas,27500,1,3,Single,50000 - 74999,1,NaN,1,NaN
2280314,2.21301e+11,0,5.21301e+11,604.09,3261,2013-12-28,77.473,1945-07-01,498-XX-6384,32.972,...,Dallas,87500,NaN,1,Married,125000 - 149999,1,NaN,1,NaN
2280315,2.21303e+11,0,5.21301e+11,1255.57,3403,2013-08-08,41.221,1981-09-22,960-XX-3949,32.9028,...,Dallas,125000,NaN,12,Married,125000 - 149999,1,1,1,NaN
2280316,2.213e+11,0,5.213e+11,1041.94,5341,2008-04-18,NaN,1980-05-07,764-XX-2229,NaN,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280317,2.21301e+11,0,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,NaN
2280318,2.213e+11,0,5.213e+11,1189.74,142,2022-07-13,37.388,1985-07-22,306-XX-2712,33.1849,...,Collin,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,1,1,NaN
2280319,2.21302e+11,0,5.21301e+11,362.14,1606,2018-07-10,55.444,1967-07-07,800-XX-2726,33.0197,...,Collin,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,NaN
2280320,2.21301e+11,0,5.213e+11,611.69,6291,2005-09-11,NaN,1998-11-09,198-XX-4107,33.0388,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280321,2.21302e+11,0,5.21301e+11,829.86,2504,2016-01-24,63.639,1959-04-29,520-XX-7573,33.1469,...,Denton,225000,1,4,Married,200000 - 224999,1,NaN,1,NaN

In [16]:
#may1_df = log_df[log_df['Date'] == '1-May-98']
terminated = df[df['acct_terminated'] == 1]
# We should have 269,259 since that is the number of rows in the terminated csv
terminated

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
4,221301573419.00,1,521300570147.00,992.40,130.00,2022-07-25,53.558,1969-05-25,775-XX-6249,32.684065,...,Tarrant,125000.00,1.00,6.00,Married,175000 - 199999,1,NaN,1,2021-12-22
9,221302854567.00,1,521301084127.00,917.20,2107.00,2017-02-24,56.389,1966-07-27,621-XX-5572,32.828468,...,Tarrant,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1,2022-12-01
11,221301452429.00,1,521300528279.00,966.83,80.00,2022-09-13,55.444,1967-07-07,677-XX-1586,32.805436,...,Tarrant,80372.17,0.00,6.80,NaN,50000 - 74999,NaN,1,NaN,2022-09-16
18,221300941052.00,1,521300346046.00,961.04,80.00,2022-09-13,55.444,1967-07-07,563-XX-7554,NaN,...,Dallas,47500.00,0.00,0.00,NaN,NaN,NaN,NaN,1,2022-06-12
27,221300001751.00,1,521300000712.00,716.71,5654.00,2007-06-10,48.893,1974-01-22,479-XX-4835,NaN,...,Tarrant,87500.00,1.00,0.00,Single,NaN,NaN,NaN,NaN,2021-12-20
44,221301284371.00,1,521300468339.00,750.16,257.00,2022-03-20,53.054,1969-11-25,938-XX-8849,32.729759,...,Dallas,22500.00,1.00,3.00,Single,50000 - 74999,NaN,NaN,NaN,2022-03-12
71,221303291761.00,1,521301521324.00,655.65,1960.00,2017-07-21,39.387,1983-07-24,610-XX-3821,NaN,...,NaN,47500.00,1.00,0.00,Married,NaN,NaN,1,1,2021-12-29
75,221302198958.00,1,521300794487.00,756.43,165.00,2022-06-20,63.053,1959-11-29,675-XX-1297,32.912362,...,Dallas,250000.00,1.00,12.00,Single,275000 - 299999,1,NaN,1,2022-11-22
86,221301391410.00,1,521300507156.00,1015.13,4384.00,2010-12-01,77.969,1945-01-01,597-XX-3929,32.981856,...,Dallas,250000.00,1.00,15.00,Married,175000 - 199999,1,NaN,1,2022-06-12
93,221302610867.00,1,521300945735.00,1534.94,132.00,2022-07-23,NaN,1978-02-13,200-XX-5959,32.749871,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-27
101,221302299299.00,1,521300831418.00,803.96,2008.00,2017-06-03,55.444,1967-07-07,964-XX-4789,NaN,...,Collin,80372.17,0.00,0.00,Single,NaN,NaN,NaN,1,2022-05-19
107,221302175193.00,1,521300786107.00,1056.09,161.00,2022-06-24,55.444,1967-07-07,602-XX-6030,32.661903,...,Tarrant,87500.00,1.00,1.00,Married,75000 - 99999,1,NaN,1,2022-01-28
112,221300253757.00,1,521300095886.00,1267.65,64.00,2022-09-29,35.387,1987-07-23,188-XX-9778,32.815815,...,Tarrant,47500.00,0.00,9.00,Married,75000 - 99999,NaN,NaN,1,2022-01-15
115,221301589229.00,1,521300576007.00,675.04,174.00,2022-06-11,41.807,1981-02-20,903-XX-4297,32.724936,...,Tarrant,17500.00,1.00,7.00,Married,50000 - 74999,1,NaN,1,2022-06-24
122,221300424049.00,1,521300158854.00,919.15,118.00,2022-08-06,50.138,1972-10-25,631-XX-1550,33.010636,...,Collin,52500.00,1.00,15.00,Married,100000 - 124999,1,NaN,1,2022-05-28
141,221302002011.00,1,521300724937.00,610.58,975.00,2020-04-01,35.723,1987-03-22,275-XX-2759,32.336101,...,Ellis,70000.00,1.00,2.00,Married,50000 - 74999,1,NaN,1,2022-04-25
147,221302790779.00,1,521301020339.00,930.37,496.00,2021-07-24,85.807,1937-03-03,440-XX-5250,32.895669,...,Dallas,87500.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,2022-07-31
151,221303265945.00,1,521301495508.00,1208.22,6291.00,2005-09-11,56.559,1966-05-26,444-XX-1242,32.674974,...,Dallas,80372.17,0.00,0.00,NaN,100000 - 124999,1,1,1,2022-08-15
165,221301088887.00,1,521300397817.00,1018.90,124.00,2022-07-31,51.97,1970-12-26,262-XX-8637,33.182285,...,Collin,70000.00,1.00,10.00,Married,125000 - 149999,1,1,1,2022-06-21
168,221303288177.00,1,521301517740.00,411.85,2111.00,2017-02-20,56.474,1966-06-26,297-XX-3354,NaN,...,Tarrant,87500.00,0.00,0.00,Single,NaN,NaN,1,1,2022-11-22
172,221300172169.00,1,521300065205.00,1090.52,306.00,2022-01-30,59.89,1963-01-26,700-XX-3354,32.60802,...,Dallas,52500.00,1.00,2.00,Single,75000 - 99999,1,NaN,1,2022-05-23
193,221301582422.00,1,521300573428.00,824.60,131.00,2022-07-24,53.807,1969-02-23,355-XX-5669,32.726827,...,Dallas,37500.00,1.00,15.00,Married,50000 - 74999,1,1,1,2022-03-15
197,221301248702.00,1,521300455115.00,1210.87,138.00,2022-07-17,55.806,1967-02-25,696-XX-8224,32.839399,...,Dallas,22500.00,0.00,4.00,NaN,150000 - 174999,1,NaN,1,2022-07-25
202,221302921202.00,1,521301150762.00,936.49,5220.00,2008-08-17,55.444,1967-07-07,633-XX-6947,32.539157,...,Johnson,80372.17,0.00,6.80,NaN,1000 - 24999,NaN,NaN,1,2021-12-11
218,221302963039.00,1,521301192599.00,1058.81,5501.00,2007-11-10,48.055,1974-11-24,347-XX-3683,32.773776999999995,...,Dallas,125000.00,1.00,13.00,Married,100000 - 124999,1,NaN,1,2022-05-11
221,221301514686.00,1,521300550258.00,1031.51,1412.00,2019-01-20,30.806,1992-02-19,480-XX-2228,33.04509,...,TX,250000.00,0.00,2.00,Married,150000 - 174999,1,NaN,1,2022-03-18
224,221300285957.00,1,521300108234.00,531.29,77.00,2022-09-16,39.138,1983-10-23,109-XX-5266,32.526067000000005,...,Johnson,47500.00,1.00,2.00,Single,125000 - 149999,NaN,1,NaN,2021-12-16
235,221302746904.00,1,521300994286.00,1109.60,80.00,2022-09-13,55.444,1967-07-07,201-XX-5276,32.877321,...,Dallas,42500.00,0.00,1.00,Single,50000 - 74999,1,NaN,1,2022-05-17
255,221303131079.00,1,521301360640.00,805.19,1425.00,2019-01-07,61.306,1961-08-27,302-XX-1285,32.756733999999994,...,Dallas,22500.00,0.00,8.00,Married,75000 - 99999,1,NaN,NaN,2022-07-14
262,221300838972.00,1,521300308729.00,769.75,80.00,2022-09-13,55.444,1967-07-07,526-XX-1504,33.025393,...,Denton,22500.00,0.00,7.00,Single,125000 - 149999,1,NaN,1,2022-08-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2279946,2.213e+11,1,5.213e+11,1082.37,5628,2007-07-06,69.306,1953-08-29,778-XX-1885,32.9263,...,Dallas,27500,1,12,Single,150000 - 174999,1,NaN,1,2021-12-31
2279947,2.21302e+11,1,5.21301e+11,1036.65,92,2022-09-01,43.053,1979-11-24,484-XX-5806,32.95,...,Tarrant,250000,1,5,Married,175000 - 199999,1,NaN,1,2022-04-23
2279955,2.213e+11,1,5.213e+11,1181.57,6291,2005-09-11,81.558,1941-06-01,513-XX-3709,32.8692,...,Tarrant,57500,NaN,15,Married,50000 - 74999,1,NaN,1,2022-04-25
2279958,2.21303e+11,1,5.21301e+11,1003.55,6291,2005-09-11,45.139,1977-10-23,615-XX-7591,33.1799,...,Collin,47500,1,5,Married,200000 - 224999,1,1,1,2022-09-21
2279971,2.21301e+11,1,5.213e+11,1001.31,527,2021-06-23,NaN,1993-11-10,368-XX-4040,32.8427,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-21
2279992,2.21302e+11,1,5.21301e+11,745.21,5993,2006-07-06,72.641,1950-04-30,622-XX-7833,32.665,...,Tarrant,32500,NaN,3,Single,400000 - 449999,1,NaN,1,2022-09-24
2280046,2.21302e+11,1,5.21301e+11,796.02,6291,2005-09-11,NaN,1997-02-01,197-XX-8803,32.6305,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18
2280056,2.21302e+11,1,5.21301e+11,658.9,1436,2018-12-27,44.14,1978-10-23,695-XX-6800,33.0317,...,Collin,47500,NaN,4,Single,150000 - 174999,NaN,NaN,1,2022-10-18
2280062,2.21301e+11,1,5.21301e+11,1120.17,80,2022-09-13,55.444,1967-07-07,612-XX-1678,NaN,...,Dallas,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,NaN,NaN,2022-03-15
2280066,2.213e+11,1,5.213e+11,991.4,101,2022-08-23,45.473,1977-06-23,521-XX-3975,33.2358,...,Denton,62500,1,8,Married,100000 - 124999,1,NaN,1,2022-09-19
2280077,2.21303e+11,1,5.21301e+11,549.94,65,2022-09-28,35.806,1987-02-20,803-XX-7026,33.1705,...,Collin,125000,1,3,Married,175000 - 199999,1,NaN,1,2022-05-21
2280088,2.213e+11,1,5.213e+11,1515.77,81,2022-09-12,NaN,1985-04-07,541-XX-7164,33.1772,...,Denton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-27
2280092,2.213e+11,1,5.213e+11,1072.48,6291,2005-09-11,96.222,1926-10-06,619-XX-2458,33.259,...,Denton,37500,NaN,15,Single,100000 - 124999,1,1,1,2022-07-02
2280100,2.21302e+11,1,5.21301e+11,735.28,4830,2009-09-11,35.556,1987-05-22,981-XX-2756,33.1188,...,Denton,42500,1,4,Single,100000 - 124999,NaN,1,1,2022-04-12
2280118,2.21301e+11,1,5.213e+11,725.62,80,2022-09-13,55.444,1967-07-07,931-XX-9516,NaN,...,Collin,80372.2,NaN,6.8,NaN,250000 - 274999,NaN,NaN,1,2022-08-30
2280121,2.21302e+11,1,5.21301e+11,714.57,80,2022-09-13,NaN,1982-07-23,842-XX-2017,NaN,...,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-12
2280146,2.21303e+11,1,5.21301e+11,514.12,161,2022-06-24,55.444,1967-07-07,518-XX-2233,NaN,...,Dallas,87500,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-11-29
2280148,2.21303e+11,1,5.21301e+11,828.83,1204,2019-08-16,55.444,1967-07-07,386-XX-5787,32.9862,...,TX,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,2022-11-10
2280159,2.21303e+11,1,5.21301e+11,142.64,80,2022-09-13,NaN,1992-05-30,643-XX-6182,NaN,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-26
2280174,2.21302e+11,1,5.21301e+11,534.55,134,2022-07-21,54.557,1968-05-26,914-XX-2141,33.1879,...,Collin,125000,1,1,Married,225000 - 249999,1,NaN,1,2022-03-09
2280197,2.21303e+11,1,5.21302e+11,613.99,150,2022-07-05,58.891,1964-01-26,255-XX-5671,32.8808,...,Tarrant,17500,NaN,4,Single,150000 - 174999,NaN,NaN,NaN,2022-06-23
2280217,2.21302e+11,1,5.21301e+11,1138.64,6291,2005-09-11,NaN,1998-05-25,351-XX-4716,NaN,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-21
2280236,2.21303e+11,1,5.21301e+11,722.13,5608,2007-07-26,48.641,1974-04-24,420-XX-2594,33.0997,...,Denton,125000,NaN,6,Single,250000 - 274999,1,NaN,1,2022-04-29
2280239,2.21303e+11,1,5.21301e+11,1085.1,92,2022-09-01,43.053,1979-11-24,643-XX-2312,NaN,...,Dallas,70000,NaN,6.8,NaN,250000 - 274999,NaN,NaN,1,2022-07-28
2280266,2.21301e+11,1,5.213e+11,888.45,5516,2007-10-26,48.14,1974-10-24,970-XX-3478,32.6186,...,Tarrant,125000,1,6,Married,225000 - 249999,1,NaN,1,2022-11-17
2280276,2.21303e+11,1,5.21301e+11,1009.71,1204,2019-08-16,55.444,1967-07-07,637-XX-6842,NaN,...,Dallas,47500,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-21
2280283,2.21301e+11,1,5.213e+11,866.2,140,2022-07-15,56.307,1966-08-26,552-XX-5394,32.8723,...,Dallas,125000,1,15,Married,125000 - 149999,1,NaN,1,2022-07-29
2280291,2.21301e+11,1,5.213e+11,1121.54,161,2022-06-24,55.444,1967-07-07,572-XX-5954,32.7135,...,Tarrant,80372.2,NaN,6.8,NaN,25000 - 49999,NaN,NaN,NaN,2022-10-26
2280301,2.21301e+11,1,5.213e+11,1257.56,98,2022-08-26,44.808,1978-02-21,795-XX-4476,33.0408,...,Parker,27500,1,6.8,Single,25000 - 49999,NaN,1,NaN,2021-12-23
2280309,2.213e+11,1,5.213e+11,931.09,6291,2005-09-11,82.557,1940-06-02,386-XX-4360,32.9405,...,Rockwall,47500,1,15,Married,50000 - 74999,1,1,1,2022-03-26

In [17]:
#may1_df = log_df[log_df['Date'] == '1-May-98']
active = df[df['acct_terminated'] == 0]
active

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,NaN
2,221300134410.00,0,521300051115.00,974.19,1795.00,2018-01-02,72.559,1950-05-30,342-XX-6908,32.732209,...,Dallas,27500.00,0.00,2.00,Single,50000 - 74999,1,NaN,NaN,NaN
3,221300673028.00,0,521300247929.00,967.37,4818.00,2009-09-23,55.444,1967-07-07,240-XX-9224,32.819776999999995,...,Dallas,42500.00,0.00,10.00,Married,75000 - 99999,1,NaN,NaN,NaN
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,NaN
6,221302735288.00,0,521300990369.00,909.91,484.00,2021-08-05,32.641,1990-04-20,194-XX-6050,NaN,...,Dallas,52500.00,0.00,2.00,Married,125000 - 149999,1,NaN,1,NaN
7,221300697686.00,0,521300256124.00,1084.04,2896.00,2014-12-28,70.806,1952-02-29,653-XX-7262,33.006985,...,Denton,125000.00,1.00,8.00,Married,100000 - 124999,1,NaN,1,NaN
8,221302209400.00,0,521300798596.00,1277.37,4096.00,2011-09-15,45.969,1976-12-24,163-XX-1670,33.085901,...,Collin,47500.00,0.00,12.00,Married,125000 - 149999,1,NaN,1,NaN
10,221301247282.00,0,521300454553.00,1095.39,3387.00,2013-08-24,64.307,1958-08-28,793-XX-1178,32.753978000000004,...,Dallas,32500.00,0.00,15.00,Married,25000 - 49999,1,NaN,NaN,NaN
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,NaN
13,221301266555.00,0,521300461742.00,619.60,1606.00,2018-07-10,NaN,1993-11-21,133-XX-4591,32.711729,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,221303070400.00,0,521301299960.00,590.95,1606.00,2018-07-10,55.444,1967-07-07,777-XX-2081,NaN,...,Parker,70000.00,0.00,0.00,NaN,NaN,NaN,NaN,1,NaN
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,NaN
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,NaN
17,221302113180.00,0,521300763928.00,569.83,107.00,2022-08-17,32.559,1990-05-20,277-XX-1871,32.85491,...,Tarrant,80372.17,0.00,6.80,NaN,150000 - 174999,NaN,1,1,NaN
19,221301392462.00,0,521300507544.00,841.02,150.00,2022-07-05,59.053,1963-11-28,551-XX-2401,32.841713,...,Dallas,57500.00,0.00,11.00,Single,150000 - 174999,NaN,NaN,1,NaN
20,221301470025.00,0,521300534230.00,943.55,2409.00,2016-04-28,55.444,1967-07-07,455-XX-5888,NaN,...,Dallas,80372.17,0.00,6.80,NaN,250000 - 274999,NaN,NaN,1,NaN
21,221303096842.00,0,521301326403.00,741.67,4711.00,2010-01-08,43.723,1979-03-24,734-XX-3221,32.851905,...,Dallas,125000.00,1.00,10.00,Single,225000 - 249999,1,NaN,1,NaN
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,NaN
23,221303215002.00,0,521301444564.00,913.66,6226.00,2005-11-15,60.559,1962-05-27,424-XX-2825,32.639399,...,Tarrant,47500.00,0.00,12.00,Married,50000 - 74999,1,NaN,1,NaN
24,221301003945.00,0,521300368024.00,438.24,1018.00,2020-02-18,48.893,1974-01-22,950-XX-8716,32.807283,...,Dallas,70000.00,0.00,6.00,Married,150000 - 174999,NaN,NaN,1,NaN
25,221300771454.00,0,521300283230.00,953.30,5463.00,2007-12-18,67.806,1955-02-28,585-XX-2402,32.869218,...,Tarrant,125000.00,0.00,9.00,Married,75000 - 99999,1,NaN,1,NaN
26,221302382580.00,0,521300862858.00,725.16,3336.00,2013-10-14,38.22,1984-09-22,423-XX-4997,32.841944,...,Tarrant,70000.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,NaN
28,221302016189.00,0,521300730039.00,1103.39,6291.00,2005-09-11,NaN,1982-02-27,540-XX-5795,32.841068,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,221301094174.00,0,521300399872.00,795.03,2409.00,2016-04-28,55.444,1967-07-07,627-XX-9534,32.832474,...,Dallas,32500.00,0.00,6.80,NaN,75000 - 99999,NaN,NaN,1,NaN
30,221301530535.00,0,521300555215.00,1322.51,6291.00,2005-09-11,55.138,1967-10-27,250-XX-8931,NaN,...,Dallas,37500.00,1.00,7.00,Single,100000 - 124999,1,1,1,NaN
31,221300678013.00,0,521300249526.00,839.85,3879.00,2012-04-19,NaN,1992-04-08,643-XX-6726,NaN,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,221302855707.00,0,521301085267.00,908.89,6291.00,2005-09-11,53.725,1969-03-25,633-XX-7989,32.924986999999994,...,Dallas,27500.00,1.00,15.00,Single,75000 - 99999,1,NaN,1,NaN
33,221300623694.00,0,521300230809.00,885.99,662.00,2021-02-08,108.641,1914-05-09,574-XX-3902,32.72473,...,Dallas,125000.00,1.00,4.00,Married,75000 - 99999,1,NaN,1,NaN
34,221302596763.00,0,521300940558.00,862.42,824.00,2020-08-30,32.969,1989-12-21,995-XX-7073,32.693945,...,Dallas,37500.00,0.00,15.00,Married,25000 - 49999,1,NaN,1,NaN
35,221301208476.00,0,521300440009.00,1144.91,261.00,2022-03-16,89.388,1933-08-04,307-XX-4849,32.713564,...,Dallas,22500.00,0.00,15.00,Married,100000 - 124999,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280289,2.21302e+11,0,5.21301e+11,917.05,2332,2016-07-14,NaN,1982-08-14,743-XX-1686,NaN,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280290,2.21303e+11,0,5.21301e+11,642.22,4818,2009-09-23,NaN,1991-12-28,301-XX-2638,32.7533,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280292,2.213e+11,0,5.213e+11,1072.36,1813,2017-12-15,34.472,1988-06-21,630-XX-8564,NaN,...,Collin,125000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280293,2.21301e+11,0,5.213e+11,908.39,3762,2012-08-14,59.138,1963-10-28,506-XX-6711,32.8622,...,Tarrant,47500,1,15,Married,75000 - 99999,1,NaN,1,NaN
2280294,2.213e+11,0,5.213e+11,1105.36,3101,2014-06-06,51.89,1971-01-24,364-XX-8511,32.6835,...,Tarrant,87500,1,12,Married,75000 - 99999,1,NaN,1,NaN
2280295,2.213e+11,0,5.213e+11,790.96,2385,2016-05-22,NaN,1983-04-19,505-XX-4395,32.9183,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280296,2.21302e+11,0,5.21301e+11,1290.31,282,2022-02-23,56.559,1966-05-26,595-XX-3128,32.6607,...,Dallas,5000,1,15,Single,50000 - 74999,1,NaN,NaN,NaN
2280297,2.213e+11,0,5.213e+11,1251.92,506,2021-07-14,33.306,1989-08-20,782-XX-8679,32.7584,...,Kaufman,42500,NaN,15,Married,50000 - 74999,1,NaN,1,NaN
2280298,2.21303e+11,0,5.21301e+11,998.89,140,2022-07-15,56.389,1966-07-27,646-XX-6005,32.5818,...,Dallas,57500,1,5,Single,25000 - 49999,1,NaN,1,NaN
2280299,2.21301e+11,0,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,NaN
2280300,2.21303e+11,0,5.21301e+11,918.77,3963,2012-01-26,45.054,1977-11-23,154-XX-9474,32.7778,...,Dallas,12500,1,4,Single,100000 - 124999,1,NaN,NaN,NaN
2280302,2.213e+11,0,5.213e+11,726.39,2241,2016-10-13,42.472,1980-06-23,683-XX-5655,33.0064,...,Collin,87500,1,3,Married,200000 - 224999,1,NaN,1,NaN
2280303,2.21302e+11,0,5.21301e+11,808.34,4697,2010-01-22,69.388,1953-07-30,169-XX-1714,33.17,...,Collin,70000,1,1,Married,125000 - 149999,1,NaN,1,NaN
2280304,2.21303e+11,0,5.21301e+11,591.31,2398,2016-05-09,31.053,1991-11-21,130-XX-4154,32.7322,...,Kaufman,12500,1,5,Single,1000 - 24999,NaN,NaN,1,NaN
2280305,2.21302e+11,0,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,NaN
2280306,2.213e+11,0,5.213e+11,877.39,161,2022-06-24,55.444,1967-07-07,491-XX-1532,32.6993,...,Tarrant,80372.2,NaN,NaN,NaN,25000 - 49999,1,NaN,NaN,NaN
2280307,2.213e+11,0,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,NaN
2280308,2.21303e+11,0,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,NaN
2280310,2.21302e+11,0,5.21301e+11,510.96,278,2022-02-27,NaN,1998-06-27,575-XX-4965,32.8966,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280311,2.21302e+11,0,5.21301e+11,775.55,2097,2017-03-06,56.222,1966-09-26,740-XX-8182,32.8591,...,Tarrant,80372.2,NaN,1,Single,100000 - 124999,1,NaN,1,NaN
2280312,2.213e+11,0,5.213e+11,960.69,723,2020-12-09,55.444,1967-07-07,313-XX-4211,33.1066,...,Collin,70000,1,4,Single,100000 - 124999,1,NaN,1,NaN
2280313,2.21301e+11,0,5.213e+11,1259.9,803,2020-09-20,55.444,1967-07-07,836-XX-1003,32.6785,...,Dallas,27500,1,3,Single,50000 - 74999,1,NaN,1,NaN
2280314,2.21301e+11,0,5.21301e+11,604.09,3261,2013-12-28,77.473,1945-07-01,498-XX-6384,32.972,...,Dallas,87500,NaN,1,Married,125000 - 149999,1,NaN,1,NaN
2280315,2.21303e+11,0,5.21301e+11,1255.57,3403,2013-08-08,41.221,1981-09-22,960-XX-3949,32.9028,...,Dallas,125000,NaN,12,Married,125000 - 149999,1,1,1,NaN
2280316,2.213e+11,0,5.213e+11,1041.94,5341,2008-04-18,NaN,1980-05-07,764-XX-2229,NaN,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280317,2.21301e+11,0,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,NaN
2280318,2.213e+11,0,5.213e+11,1189.74,142,2022-07-13,37.388,1985-07-22,306-XX-2712,33.1849,...,Collin,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,1,1,NaN
2280319,2.21302e+11,0,5.21301e+11,362.14,1606,2018-07-10,55.444,1967-07-07,800-XX-2726,33.0197,...,Collin,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,NaN
2280320,2.21301e+11,0,5.213e+11,611.69,6291,2005-09-11,NaN,1998-11-09,198-XX-4107,33.0388,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280321,2.21302e+11,0,5.21301e+11,829.86,2504,2016-01-24,63.639,1959-04-29,520-XX-7573,33.1469,...,Denton,225000,1,4,Married,200000 - 224999,1,NaN,1,NaN

In [18]:
#Change all NaN values in ACCT_SUSPD DAte
active['ACCT_SUSPD_DATE'] = active['ACCT_SUSPD_DATE'].fillna('-')
active

/usr/lib/python3/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,-
2,221300134410.00,0,521300051115.00,974.19,1795.00,2018-01-02,72.559,1950-05-30,342-XX-6908,32.732209,...,Dallas,27500.00,0.00,2.00,Single,50000 - 74999,1,NaN,NaN,-
3,221300673028.00,0,521300247929.00,967.37,4818.00,2009-09-23,55.444,1967-07-07,240-XX-9224,32.819776999999995,...,Dallas,42500.00,0.00,10.00,Married,75000 - 99999,1,NaN,NaN,-
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,-
6,221302735288.00,0,521300990369.00,909.91,484.00,2021-08-05,32.641,1990-04-20,194-XX-6050,NaN,...,Dallas,52500.00,0.00,2.00,Married,125000 - 149999,1,NaN,1,-
7,221300697686.00,0,521300256124.00,1084.04,2896.00,2014-12-28,70.806,1952-02-29,653-XX-7262,33.006985,...,Denton,125000.00,1.00,8.00,Married,100000 - 124999,1,NaN,1,-
8,221302209400.00,0,521300798596.00,1277.37,4096.00,2011-09-15,45.969,1976-12-24,163-XX-1670,33.085901,...,Collin,47500.00,0.00,12.00,Married,125000 - 149999,1,NaN,1,-
10,221301247282.00,0,521300454553.00,1095.39,3387.00,2013-08-24,64.307,1958-08-28,793-XX-1178,32.753978000000004,...,Dallas,32500.00,0.00,15.00,Married,25000 - 49999,1,NaN,NaN,-
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,-
13,221301266555.00,0,521300461742.00,619.60,1606.00,2018-07-10,NaN,1993-11-21,133-XX-4591,32.711729,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
14,221303070400.00,0,521301299960.00,590.95,1606.00,2018-07-10,55.444,1967-07-07,777-XX-2081,NaN,...,Parker,70000.00,0.00,0.00,NaN,NaN,NaN,NaN,1,-
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,-
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,-
17,221302113180.00,0,521300763928.00,569.83,107.00,2022-08-17,32.559,1990-05-20,277-XX-1871,32.85491,...,Tarrant,80372.17,0.00,6.80,NaN,150000 - 174999,NaN,1,1,-
19,221301392462.00,0,521300507544.00,841.02,150.00,2022-07-05,59.053,1963-11-28,551-XX-2401,32.841713,...,Dallas,57500.00,0.00,11.00,Single,150000 - 174999,NaN,NaN,1,-
20,221301470025.00,0,521300534230.00,943.55,2409.00,2016-04-28,55.444,1967-07-07,455-XX-5888,NaN,...,Dallas,80372.17,0.00,6.80,NaN,250000 - 274999,NaN,NaN,1,-
21,221303096842.00,0,521301326403.00,741.67,4711.00,2010-01-08,43.723,1979-03-24,734-XX-3221,32.851905,...,Dallas,125000.00,1.00,10.00,Single,225000 - 249999,1,NaN,1,-
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,-
23,221303215002.00,0,521301444564.00,913.66,6226.00,2005-11-15,60.559,1962-05-27,424-XX-2825,32.639399,...,Tarrant,47500.00,0.00,12.00,Married,50000 - 74999,1,NaN,1,-
24,221301003945.00,0,521300368024.00,438.24,1018.00,2020-02-18,48.893,1974-01-22,950-XX-8716,32.807283,...,Dallas,70000.00,0.00,6.00,Married,150000 - 174999,NaN,NaN,1,-
25,221300771454.00,0,521300283230.00,953.30,5463.00,2007-12-18,67.806,1955-02-28,585-XX-2402,32.869218,...,Tarrant,125000.00,0.00,9.00,Married,75000 - 99999,1,NaN,1,-
26,221302382580.00,0,521300862858.00,725.16,3336.00,2013-10-14,38.22,1984-09-22,423-XX-4997,32.841944,...,Tarrant,70000.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,-
28,221302016189.00,0,521300730039.00,1103.39,6291.00,2005-09-11,NaN,1982-02-27,540-XX-5795,32.841068,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
29,221301094174.00,0,521300399872.00,795.03,2409.00,2016-04-28,55.444,1967-07-07,627-XX-9534,32.832474,...,Dallas,32500.00,0.00,6.80,NaN,75000 - 99999,NaN,NaN,1,-
30,221301530535.00,0,521300555215.00,1322.51,6291.00,2005-09-11,55.138,1967-10-27,250-XX-8931,NaN,...,Dallas,37500.00,1.00,7.00,Single,100000 - 124999,1,1,1,-
31,221300678013.00,0,521300249526.00,839.85,3879.00,2012-04-19,NaN,1992-04-08,643-XX-6726,NaN,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
32,221302855707.00,0,521301085267.00,908.89,6291.00,2005-09-11,53.725,1969-03-25,633-XX-7989,32.924986999999994,...,Dallas,27500.00,1.00,15.00,Single,75000 - 99999,1,NaN,1,-
33,221300623694.00,0,521300230809.00,885.99,662.00,2021-02-08,108.641,1914-05-09,574-XX-3902,32.72473,...,Dallas,125000.00,1.00,4.00,Married,75000 - 99999,1,NaN,1,-
34,221302596763.00,0,521300940558.00,862.42,824.00,2020-08-30,32.969,1989-12-21,995-XX-7073,32.693945,...,Dallas,37500.00,0.00,15.00,Married,25000 - 49999,1,NaN,1,-
35,221301208476.00,0,521300440009.00,1144.91,261.00,2022-03-16,89.388,1933-08-04,307-XX-4849,32.713564,...,Dallas,22500.00,0.00,15.00,Married,100000 - 124999,1,NaN,NaN,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280289,2.21302e+11,0,5.21301e+11,917.05,2332,2016-07-14,NaN,1982-08-14,743-XX-1686,NaN,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
2280290,2.21303e+11,0,5.21301e+11,642.22,4818,2009-09-23,NaN,1991-12-28,301-XX-2638,32.7533,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
2280292,2.213e+11,0,5.213e+11,1072.36,1813,2017-12-15,34.472,1988-06-21,630-XX-8564,NaN,...,Collin,125000,1,NaN,NaN,NaN,NaN,NaN,NaN,-
2280293,2.21301e+11,0,5.213e+11,908.39,3762,2012-08-14,59.138,1963-10-28,506-XX-6711,32.8622,...,Tarrant,47500,1,15,Married,75000 - 99999,1,NaN,1,-
2280294,2.213e+11,0,5.213e+11,1105.36,3101,2014-06-06,51.89,1971-01-24,364-XX-8511,32.6835,...,Tarrant,87500,1,12,Married,75000 - 99999,1,NaN,1,-
2280295,2.213e+11,0,5.213e+11,790.96,2385,2016-05-22,NaN,1983-04-19,505-XX-4395,32.9183,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
2280296,2.21302e+11,0,5.21301e+11,1290.31,282,2022-02-23,56.559,1966-05-26,595-XX-3128,32.6607,...,Dallas,5000,1,15,Single,50000 - 74999,1,NaN,NaN,-
2280297,2.213e+11,0,5.213e+11,1251.92,506,2021-07-14,33.306,1989-08-20,782-XX-8679,32.7584,...,Kaufman,42500,NaN,15,Married,50000 - 74999,1,NaN,1,-
2280298,2.21303e+11,0,5.21301e+11,998.89,140,2022-07-15,56.389,1966-07-27,646-XX-6005,32.5818,...,Dallas,57500,1,5,Single,25000 - 49999,1,NaN,1,-
2280299,2.21301e+11,0,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,-
2280300,2.21303e+11,0,5.21301e+11,918.77,3963,2012-01-26,45.054,1977-11-23,154-XX-9474,32.7778,...,Dallas,12500,1,4,Single,100000 - 124999,1,NaN,NaN,-
2280302,2.213e+11,0,5.213e+11,726.39,2241,2016-10-13,42.472,1980-06-23,683-XX-5655,33.0064,...,Collin,87500,1,3,Married,200000 - 224999,1,NaN,1,-
2280303,2.21302e+11,0,5.21301e+11,808.34,4697,2010-01-22,69.388,1953-07-30,169-XX-1714,33.17,...,Collin,70000,1,1,Married,125000 - 149999,1,NaN,1,-
2280304,2.21303e+11,0,5.21301e+11,591.31,2398,2016-05-09,31.053,1991-11-21,130-XX-4154,32.7322,...,Kaufman,12500,1,5,Single,1000 - 24999,NaN,NaN,1,-
2280305,2.21302e+11,0,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,-
2280306,2.213e+11,0,5.213e+11,877.39,161,2022-06-24,55.444,1967-07-07,491-XX-1532,32.6993,...,Tarrant,80372.2,NaN,NaN,NaN,25000 - 49999,1,NaN,NaN,-
2280307,2.213e+11,0,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,-
2280308,2.21303e+11,0,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,-
2280310,2.21302e+11,0,5.21301e+11,510.96,278,2022-02-27,NaN,1998-06-27,575-XX-4965,32.8966,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
2280311,2.21302e+11,0,5.21301e+11,775.55,2097,2017-03-06,56.222,1966-09-26,740-XX-8182,32.8591,...,Tarrant,80372.2,NaN,1,Single,100000 - 124999,1,NaN,1,-
2280312,2.213e+11,0,5.213e+11,960.69,723,2020-12-09,55.444,1967-07-07,313-XX-4211,33.1066,...,Collin,70000,1,4,Single,100000 - 124999,1,NaN,1,-
2280313,2.21301e+11,0,5.213e+11,1259.9,803,2020-09-20,55.444,1967-07-07,836-XX-1003,32.6785,...,Dallas,27500,1,3,Single,50000 - 74999,1,NaN,1,-
2280314,2.21301e+11,0,5.21301e+11,604.09,3261,2013-12-28,77.473,1945-07-01,498-XX-6384,32.972,...,Dallas,87500,NaN,1,Married,125000 - 149999,1,NaN,1,-
2280315,2.21303e+11,0,5.21301e+11,1255.57,3403,2013-08-08,41.221,1981-09-22,960-XX-3949,32.9028,...,Dallas,125000,NaN,12,Married,125000 - 149999,1,1,1,-
2280316,2.213e+11,0,5.213e+11,1041.94,5341,2008-04-18,NaN,1980-05-07,764-XX-2229,NaN,...,Tarrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
2280317,2.21301e+11,0,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,-
2280318,2.213e+11,0,5.213e+11,1189.74,142,2022-07-13,37.388,1985-07-22,306-XX-2712,33.1849,...,Collin,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,1,1,-
2280319,2.21302e+11,0,5.21301e+11,362.14,1606,2018-07-10,55.444,1967-07-07,800-XX-2726,33.0197,...,Collin,80372.2,NaN,1,NaN,75000 - 99999,1,NaN,1,-
2280320,2.21301e+11,0,5.213e+11,611.69,6291,2005-09-11,NaN,1998-11-09,198-XX-4107,33.0388,...,Collin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
2280321,2.21302e+11,0,5.21301e+11,829.86,2504,2016-01-24,63.639,1959-04-29,520-XX-7573,33.1469,...,Denton,225000,1,4,Married,200000 - 224999,1,NaN,1,-

In [19]:
active = active.dropna()
#May want to fix/change... just take first 269,259 from active since terminated has NaN values 
#OR remove NaN Values from termanated as well an use lower value

In [20]:
active

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,-
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,-
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,-
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,-
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,-
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,-
37,221301743390.00,0,521300632645.00,1356.99,5282.00,2008-06-16,44.222,1978-09-23,820-XX-2663,32.984535,...,Dallas,87500.00,1.00,2.00,Married,200000 - 224999,1,1,1,-
40,221300667684.00,0,521300246046.00,633.82,629.00,2021-03-13,35.138,1987-10-22,697-XX-5635,32.752192,...,Dallas,42500.00,0.00,1.00,Single,50000 - 74999,1,1,1,-
45,221300740513.00,0,521300271551.00,962.94,615.00,2021-03-27,36.641,1986-04-21,719-XX-7619,33.007838,...,Denton,87500.00,0.00,15.00,Married,100000 - 124999,1,1,1,-
53,221302469670.00,0,521300894826.00,919.70,6291.00,2005-09-11,41.64,1981-04-22,212-XX-5867,32.877367,...,Tarrant,125000.00,0.00,8.00,Married,125000 - 149999,1,1,1,-
54,221302084670.00,0,521300753746.00,926.13,6291.00,2005-09-11,69.221,1953-09-29,159-XX-3853,32.992028999999995,...,Collin,162500.00,0.00,0.00,Married,175000 - 199999,1,1,1,-
56,221302955010.00,0,521301184570.00,1272.61,2540.00,2015-12-19,64.307,1958-08-28,456-XX-9863,32.846856,...,Dallas,57500.00,1.00,15.00,Single,125000 - 149999,1,1,1,-
60,221303198330.00,0,521301427892.00,681.47,4304.00,2011-02-19,36.055,1986-11-21,592-XX-8955,32.903836,...,Dallas,47500.00,1.00,1.00,Married,225000 - 249999,1,1,1,-
69,221301039742.00,0,521300379753.00,841.34,925.00,2020-05-21,34.806,1988-02-20,896-XX-5350,32.746654,...,Dallas,37500.00,1.00,4.00,Single,125000 - 149999,1,1,1,-
74,221302798105.00,0,521301027665.00,599.83,6291.00,2005-09-11,59.138,1963-10-28,497-XX-1218,33.018684,...,Collin,70000.00,1.00,13.00,Married,100000 - 124999,1,1,1,-
76,221302077485.00,0,521300751562.00,1103.03,6291.00,2005-09-11,67.639,1955-04-30,633-XX-4033,32.720759,...,Parker,87500.00,1.00,14.00,Married,50000 - 74999,1,1,1,-
85,221302827047.00,0,521301056607.00,630.10,3858.00,2012-05-10,39.053,1983-11-23,338-XX-3896,32.607699,...,Dallas,125000.00,1.00,9.00,Single,50000 - 74999,1,1,1,-
92,221301253639.00,0,521300456853.00,1264.03,2586.00,2015-11-03,65.139,1957-10-28,476-XX-4340,32.641401,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,-
98,221302194813.00,0,521300793152.00,677.52,3268.00,2013-12-21,37.807,1985-02-19,288-XX-2989,32.643033,...,Tarrant,27500.00,1.00,2.00,Married,100000 - 124999,1,1,1,-
99,221302433595.00,0,521300881449.00,1187.58,6261.00,2005-10-11,52.222,1970-09-25,552-XX-4633,32.877772,...,Tarrant,225000.00,1.00,10.00,Married,100000 - 124999,1,1,1,-
100,221300046994.00,0,521300017192.00,933.49,803.00,2020-09-20,55.444,1967-07-07,267-XX-1667,32.603311999999995,...,Dallas,37500.00,1.00,3.00,Married,75000 - 99999,1,1,1,-
117,221301124042.00,0,521300409994.00,1152.50,4772.00,2009-11-08,46.968,1975-12-26,169-XX-9708,32.603687,...,Tarrant,70000.00,1.00,5.00,Married,125000 - 149999,1,1,1,-
119,221300749761.00,0,521300274791.00,908.45,5222.00,2008-08-15,75.138,1947-11-01,493-XX-3795,33.012019,...,Denton,47500.00,0.00,15.00,Married,100000 - 124999,1,1,1,-
121,221303100404.00,0,521301329965.00,928.72,5959.00,2006-08-09,58.724,1964-03-27,823-XX-3955,33.062659000000004,...,Collin,125000.00,1.00,3.00,Married,125000 - 149999,1,1,1,-
131,221300066720.00,0,521300024725.00,769.31,6291.00,2005-09-11,66.968,1955-12-31,649-XX-1350,32.918893000000004,...,Tarrant,125000.00,0.00,15.00,Single,175000 - 199999,1,1,1,-
137,221300953719.00,0,521300350251.00,1295.26,442.00,2021-09-16,78.472,1944-07-02,605-XX-8550,33.183491000000004,...,Collin,87500.00,0.00,10.00,Married,150000 - 174999,1,1,1,-
139,221302845945.00,0,521301075505.00,586.68,6291.00,2005-09-11,60.389,1962-07-28,923-XX-7718,33.061801,...,TX,70000.00,1.00,10.00,Single,75000 - 99999,1,1,1,-
143,221302752739.00,0,521300996762.00,1037.67,1557.00,2018-08-28,60.559,1962-05-27,259-XX-4513,32.242180999999995,...,Navarro,32500.00,0.00,12.00,Married,1000000 Plus,1,1,1,-
145,221302876525.00,0,521301106085.00,1213.75,6291.00,2005-09-11,77.388,1945-08-01,304-XX-2796,33.103552,...,Hunt,62500.00,0.00,11.00,Single,75000 - 99999,1,1,1,-
152,221300982184.00,0,521300360807.00,636.97,4863.00,2009-08-09,51.22,1971-09-26,498-XX-2070,32.522927,...,Ellis,87500.00,1.00,2.00,Married,100000 - 124999,1,1,1,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280078,2.21303e+11,0,5.21301e+11,874.29,3306,2013-11-13,54.138,1968-10-26,436-XX-3243,33.0807,...,Collin,125000,1,12,Single,150000 - 174999,1,1,1,-
2280085,2.21301e+11,0,5.21301e+11,1013.9,569,2021-05-12,35.22,1987-09-22,257-XX-7433,32.8593,...,Tarrant,37500,1,15,Married,100000 - 124999,1,1,1,-
2280097,2.21302e+11,0,5.21301e+11,1221.64,4878,2009-07-25,44.641,1978-04-23,623-XX-3908,32.8547,...,Dallas,70000,1,12,Married,100000 - 124999,1,1,1,-
2280103,2.21301e+11,0,5.213e+11,926.2,5264,2008-07-04,53.969,1968-12-26,150-XX-2862,32.5399,...,TX,70000,1,1,Married,125000 - 149999,1,1,1,-
2280110,2.21301e+11,0,5.213e+11,1205.22,538,2021-06-12,91.639,1931-05-06,196-XX-3120,32.6795,...,Tarrant,87500,1,9,Married,200000 - 224999,1,1,1,-
2280113,2.21301e+11,0,5.213e+11,1094.52,3954,2012-02-04,33.388,1989-07-21,307-XX-4135,32.7659,...,Dallas,17500,1,10,Single,125000 - 149999,1,1,1,-
2280117,2.21303e+11,0,5.21301e+11,1006.21,6291,2005-09-11,65.221,1957-09-28,906-XX-3594,33.1976,...,Denton,125000,1,6,Single,100000 - 124999,1,1,1,-
2280120,2.21302e+11,0,5.21301e+11,1062.49,6291,2005-09-11,63.387,1959-07-30,466-XX-9380,32.6602,...,Tarrant,57500,1,7,Single,50000 - 74999,1,1,1,-
2280135,2.21301e+11,0,5.213e+11,1139.9,6291,2005-09-11,52.641,1970-04-25,732-XX-6852,32.9091,...,Rockwall,87500,1,12,Married,200000 - 224999,1,1,1,-
2280161,2.21303e+11,0,5.21301e+11,935.07,2409,2016-04-28,55.444,1967-07-07,560-XX-5895,32.4696,...,Johnson,17500,1,1,Married,100000 - 124999,1,1,1,-
2280166,2.21302e+11,0,5.21301e+11,800.73,2540,2015-12-19,64.307,1958-08-28,981-XX-7576,32.7289,...,Tarrant,62500,1,12,Married,50000 - 74999,1,1,1,-
2280170,2.21303e+11,0,5.21301e+11,958.28,99,2022-08-25,45.139,1977-10-23,764-XX-5753,33.1153,...,Collin,70000,1,8,Single,100000 - 124999,1,1,1,-
2280178,2.21301e+11,0,5.213e+11,834.07,83,2022-09-10,40.559,1982-05-22,360-XX-5019,32.6084,...,Tarrant,87500,1,5,Single,175000 - 199999,1,1,1,-
2280180,2.21301e+11,0,5.213e+11,760.28,201,2022-05-15,45.473,1977-06-23,318-XX-4313,32.8571,...,Tarrant,62500,1,8,Married,75000 - 99999,1,1,1,-
2280181,2.213e+11,0,5.213e+11,1399.67,1558,2018-08-27,32.14,1990-10-20,297-XX-2034,32.8215,...,Tarrant,62500,1,15,Married,75000 - 99999,1,1,1,-
2280192,2.21302e+11,0,5.21301e+11,1218.17,6291,2005-09-11,47.806,1975-02-23,627-XX-5596,32.4835,...,Ellis,125000,1,7,Married,150000 - 174999,1,1,1,-
2280200,2.21303e+11,0,5.21301e+11,902.74,1043,2020-01-24,36.969,1985-12-22,169-XX-7666,32.9885,...,Dallas,125000,1,1,Married,175000 - 199999,1,1,1,-
2280208,2.21303e+11,0,5.21301e+11,1486.34,2991,2014-09-24,58.891,1964-01-26,427-XX-1400,33.1724,...,Denton,125000,1,11,Married,150000 - 174999,1,1,1,-
2280214,2.21303e+11,0,5.21301e+11,777.43,6291,2005-09-11,80.14,1942-11-01,652-XX-4484,33.0349,...,Collin,70000,1,7,Married,125000 - 149999,1,1,1,-
2280227,2.21303e+11,0,5.21301e+11,806.42,563,2021-05-18,35.053,1987-11-22,541-XX-2388,32.8778,...,Dallas,125000,1,2,Single,125000 - 149999,1,1,1,-
2280243,2.21301e+11,0,5.21301e+11,859.57,197,2022-05-19,71.97,1950-12-31,250-XX-6189,32.6969,...,Tarrant,125000,1,15,Married,75000 - 99999,1,1,1,-
2280265,2.21303e+11,0,5.21301e+11,812.75,4267,2011-03-28,43.89,1979-01-22,287-XX-2077,32.8571,...,Tarrant,62500,1,4,Married,50000 - 74999,1,1,1,-
2280269,2.213e+11,0,5.213e+11,1157.45,1956,2017-07-25,53.64,1969-04-25,264-XX-3514,32.9648,...,TX,70000,1,14,Single,150000 - 174999,1,1,1,-
2280280,2.21301e+11,0,5.213e+11,831.42,142,2022-07-13,56.726,1966-03-26,291-XX-8514,32.9177,...,Tarrant,37500,1,15,Married,50000 - 74999,1,1,1,-
2280288,2.21301e+11,0,5.213e+11,1167.97,6291,2005-09-11,46.724,1976-03-24,341-XX-5364,33.1012,...,Collin,125000,1,6,Married,175000 - 199999,1,1,1,-
2280299,2.21301e+11,0,5.213e+11,989.45,840,2020-08-14,43.472,1979-06-24,710-XX-2382,32.7338,...,Kaufman,125000,1,3,Single,125000 - 149999,1,1,1,-
2280305,2.21302e+11,0,5.21301e+11,832.68,88,2022-09-05,41.969,1980-12-23,281-XX-4340,32.6496,...,Tarrant,87500,1,4,Married,100000 - 124999,1,1,1,-
2280307,2.213e+11,0,5.213e+11,308.37,2061,2017-04-11,55.556,1967-05-27,556-XX-9387,32.9538,...,Denton,70000,1,14,Married,100000 - 124999,1,1,1,-
2280308,2.21303e+11,0,5.21301e+11,1047.71,6291,2005-09-11,57.221,1965-09-26,686-XX-4444,33.0013,...,Dallas,70000,1,2,Married,175000 - 199999,1,1,1,-
2280317,2.21301e+11,0,5.213e+11,1104.1,1258,2019-06-23,52.389,1970-07-26,730-XX-5654,32.8929,...,Tarrant,87500,1,11,Single,75000 - 99999,1,1,1,-

In [21]:
#next steps
#1) match terminated and active to be same size (currently more in terminated)
terminated = terminated.head(209576)
terminated

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
4,221301573419.00,1,521300570147.00,992.40,130.00,2022-07-25,53.558,1969-05-25,775-XX-6249,32.684065,...,Tarrant,125000.00,1.00,6.00,Married,175000 - 199999,1,NaN,1,2021-12-22
9,221302854567.00,1,521301084127.00,917.20,2107.00,2017-02-24,56.389,1966-07-27,621-XX-5572,32.828468,...,Tarrant,47500.00,0.00,6.00,Single,50000 - 74999,1,1,1,2022-12-01
11,221301452429.00,1,521300528279.00,966.83,80.00,2022-09-13,55.444,1967-07-07,677-XX-1586,32.805436,...,Tarrant,80372.17,0.00,6.80,NaN,50000 - 74999,NaN,1,NaN,2022-09-16
18,221300941052.00,1,521300346046.00,961.04,80.00,2022-09-13,55.444,1967-07-07,563-XX-7554,NaN,...,Dallas,47500.00,0.00,0.00,NaN,NaN,NaN,NaN,1,2022-06-12
27,221300001751.00,1,521300000712.00,716.71,5654.00,2007-06-10,48.893,1974-01-22,479-XX-4835,NaN,...,Tarrant,87500.00,1.00,0.00,Single,NaN,NaN,NaN,NaN,2021-12-20
44,221301284371.00,1,521300468339.00,750.16,257.00,2022-03-20,53.054,1969-11-25,938-XX-8849,32.729759,...,Dallas,22500.00,1.00,3.00,Single,50000 - 74999,NaN,NaN,NaN,2022-03-12
71,221303291761.00,1,521301521324.00,655.65,1960.00,2017-07-21,39.387,1983-07-24,610-XX-3821,NaN,...,NaN,47500.00,1.00,0.00,Married,NaN,NaN,1,1,2021-12-29
75,221302198958.00,1,521300794487.00,756.43,165.00,2022-06-20,63.053,1959-11-29,675-XX-1297,32.912362,...,Dallas,250000.00,1.00,12.00,Single,275000 - 299999,1,NaN,1,2022-11-22
86,221301391410.00,1,521300507156.00,1015.13,4384.00,2010-12-01,77.969,1945-01-01,597-XX-3929,32.981856,...,Dallas,250000.00,1.00,15.00,Married,175000 - 199999,1,NaN,1,2022-06-12
93,221302610867.00,1,521300945735.00,1534.94,132.00,2022-07-23,NaN,1978-02-13,200-XX-5959,32.749871,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-27
101,221302299299.00,1,521300831418.00,803.96,2008.00,2017-06-03,55.444,1967-07-07,964-XX-4789,NaN,...,Collin,80372.17,0.00,0.00,Single,NaN,NaN,NaN,1,2022-05-19
107,221302175193.00,1,521300786107.00,1056.09,161.00,2022-06-24,55.444,1967-07-07,602-XX-6030,32.661903,...,Tarrant,87500.00,1.00,1.00,Married,75000 - 99999,1,NaN,1,2022-01-28
112,221300253757.00,1,521300095886.00,1267.65,64.00,2022-09-29,35.387,1987-07-23,188-XX-9778,32.815815,...,Tarrant,47500.00,0.00,9.00,Married,75000 - 99999,NaN,NaN,1,2022-01-15
115,221301589229.00,1,521300576007.00,675.04,174.00,2022-06-11,41.807,1981-02-20,903-XX-4297,32.724936,...,Tarrant,17500.00,1.00,7.00,Married,50000 - 74999,1,NaN,1,2022-06-24
122,221300424049.00,1,521300158854.00,919.15,118.00,2022-08-06,50.138,1972-10-25,631-XX-1550,33.010636,...,Collin,52500.00,1.00,15.00,Married,100000 - 124999,1,NaN,1,2022-05-28
141,221302002011.00,1,521300724937.00,610.58,975.00,2020-04-01,35.723,1987-03-22,275-XX-2759,32.336101,...,Ellis,70000.00,1.00,2.00,Married,50000 - 74999,1,NaN,1,2022-04-25
147,221302790779.00,1,521301020339.00,930.37,496.00,2021-07-24,85.807,1937-03-03,440-XX-5250,32.895669,...,Dallas,87500.00,0.00,7.00,Married,75000 - 99999,1,NaN,1,2022-07-31
151,221303265945.00,1,521301495508.00,1208.22,6291.00,2005-09-11,56.559,1966-05-26,444-XX-1242,32.674974,...,Dallas,80372.17,0.00,0.00,NaN,100000 - 124999,1,1,1,2022-08-15
165,221301088887.00,1,521300397817.00,1018.90,124.00,2022-07-31,51.97,1970-12-26,262-XX-8637,33.182285,...,Collin,70000.00,1.00,10.00,Married,125000 - 149999,1,1,1,2022-06-21
168,221303288177.00,1,521301517740.00,411.85,2111.00,2017-02-20,56.474,1966-06-26,297-XX-3354,NaN,...,Tarrant,87500.00,0.00,0.00,Single,NaN,NaN,1,1,2022-11-22
172,221300172169.00,1,521300065205.00,1090.52,306.00,2022-01-30,59.89,1963-01-26,700-XX-3354,32.60802,...,Dallas,52500.00,1.00,2.00,Single,75000 - 99999,1,NaN,1,2022-05-23
193,221301582422.00,1,521300573428.00,824.60,131.00,2022-07-24,53.807,1969-02-23,355-XX-5669,32.726827,...,Dallas,37500.00,1.00,15.00,Married,50000 - 74999,1,1,1,2022-03-15
197,221301248702.00,1,521300455115.00,1210.87,138.00,2022-07-17,55.806,1967-02-25,696-XX-8224,32.839399,...,Dallas,22500.00,0.00,4.00,NaN,150000 - 174999,1,NaN,1,2022-07-25
202,221302921202.00,1,521301150762.00,936.49,5220.00,2008-08-17,55.444,1967-07-07,633-XX-6947,32.539157,...,Johnson,80372.17,0.00,6.80,NaN,1000 - 24999,NaN,NaN,1,2021-12-11
218,221302963039.00,1,521301192599.00,1058.81,5501.00,2007-11-10,48.055,1974-11-24,347-XX-3683,32.773776999999995,...,Dallas,125000.00,1.00,13.00,Married,100000 - 124999,1,NaN,1,2022-05-11
221,221301514686.00,1,521300550258.00,1031.51,1412.00,2019-01-20,30.806,1992-02-19,480-XX-2228,33.04509,...,TX,250000.00,0.00,2.00,Married,150000 - 174999,1,NaN,1,2022-03-18
224,221300285957.00,1,521300108234.00,531.29,77.00,2022-09-16,39.138,1983-10-23,109-XX-5266,32.526067000000005,...,Johnson,47500.00,1.00,2.00,Single,125000 - 149999,NaN,1,NaN,2021-12-16
235,221302746904.00,1,521300994286.00,1109.60,80.00,2022-09-13,55.444,1967-07-07,201-XX-5276,32.877321,...,Dallas,42500.00,0.00,1.00,Single,50000 - 74999,1,NaN,1,2022-05-17
255,221303131079.00,1,521301360640.00,805.19,1425.00,2019-01-07,61.306,1961-08-27,302-XX-1285,32.756733999999994,...,Dallas,22500.00,0.00,8.00,Married,75000 - 99999,1,NaN,NaN,2022-07-14
262,221300838972.00,1,521300308729.00,769.75,80.00,2022-09-13,55.444,1967-07-07,526-XX-1504,33.025393,...,Denton,22500.00,0.00,7.00,Single,125000 - 149999,1,NaN,1,2022-08-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1772341,2.21302e+11,1,5.21301e+11,1051.39,6291,2005-09-11,81.221,1941-10-02,746-XX-4605,32.6944,...,Tarrant,27500,NaN,9,Married,50000 - 74999,1,1,1,2022-04-17
1772344,2.21303e+11,1,5.21301e+11,1215.5,6291,2005-09-11,75.138,1947-11-01,670-XX-7931,33.1112,...,Collin,87500,NaN,12,Married,175000 - 199999,1,1,1,2022-03-14
1772352,2.21302e+11,1,5.21301e+11,992.03,161,2022-06-24,55.444,1967-07-07,409-XX-7326,NaN,...,Collin,87500,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-10-09
1772362,2.21303e+11,1,5.21301e+11,1209.2,5621,2007-07-13,55.444,1967-07-07,994-XX-7013,32.8459,...,Dallas,80372.2,NaN,2,NaN,225000 - 249999,NaN,1,NaN,2022-11-23
1772372,2.21302e+11,1,5.21301e+11,845.23,3946,2012-02-12,71.97,1950-12-31,381-XX-6874,32.7447,...,Dallas,57500,NaN,15,Married,75000 - 99999,1,1,1,2022-02-24
1772373,2.21302e+11,1,5.21301e+11,790.31,2054,2017-04-18,46.053,1976-11-24,512-XX-9883,NaN,...,Tarrant,17500,NaN,4,Single,50000 - 74999,NaN,1,1,2022-02-23
1772378,2.21301e+11,1,5.213e+11,623.76,803,2020-09-20,55.444,1967-07-07,159-XX-7634,32.9397,...,Dallas,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,NaN,1,2022-07-30
1772380,2.21301e+11,1,5.213e+11,1310.18,5076,2009-01-08,NaN,1990-05-09,967-XX-3324,33.0455,...,Denton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-23
1772382,2.21303e+11,1,5.21301e+11,821.54,6291,2005-09-11,56.726,1966-03-26,805-XX-6380,NaN,...,Dallas,87500,1,15,Single,500000 - 749999,NaN,1,1,2022-11-14
1772386,2.21303e+11,1,5.21301e+11,851.34,2409,2016-04-28,55.444,1967-07-07,794-XX-8892,32.6479,...,Dallas,70000,NaN,1,Single,100000 - 124999,1,NaN,1,2021-12-10
1772410,2.21301e+11,1,5.213e+11,684.46,6291,2005-09-11,52.559,1970-05-25,142-XX-2998,32.9176,...,Dallas,87500,NaN,5,Married,75000 - 99999,1,NaN,1,2022-06-16
1772414,2.21302e+11,1,5.21301e+11,1084.27,6291,2005-09-11,72.969,1949-12-31,717-XX-8720,NaN,...,Denton,87500,NaN,NaN,Married,NaN,NaN,NaN,NaN,2021-12-24
1772421,2.21301e+11,1,5.213e+11,1137.44,6291,2005-09-11,44.893,1978-01-21,931-XX-3646,32.7801,...,Dallas,22500,1,NaN,Single,75000 - 99999,1,NaN,NaN,2022-05-26
1772434,2.21302e+11,1,5.21301e+11,632.83,116,2022-08-08,49.807,1973-02-22,920-XX-8454,32.8203,...,Dallas,187500,1,8,Single,125000 - 149999,1,NaN,1,2021-12-10
1772443,2.21303e+11,1,5.21301e+11,715.56,426,2021-10-02,30.891,1992-01-19,495-XX-5594,33.1408,...,Denton,47500,1,2,Single,75000 - 99999,1,NaN,NaN,2022-07-15
1772444,2.21302e+11,1,5.21301e+11,736.63,5009,2009-03-16,52.222,1970-09-25,484-XX-7903,32.7839,...,Dallas,62500,NaN,15,Married,50000 - 74999,1,1,1,2022-04-15
1772451,2.21301e+11,1,5.21301e+11,1116.23,56,2022-10-07,33.221,1989-09-20,350-XX-1952,33.103,...,Collin,70000,1,2,Married,125000 - 149999,1,NaN,NaN,2022-10-02
1772465,2.21302e+11,1,5.21301e+11,939.85,162,2022-06-23,62.305,1960-08-28,567-XX-1428,32.8109,...,Tarrant,57500,NaN,7,Single,100000 - 124999,1,NaN,1,2022-05-10
1772489,2.21301e+11,1,5.213e+11,895.45,5934,2006-09-03,41.139,1981-10-22,596-XX-7652,32.7506,...,Dallas,42500,1,15,Married,50000 - 74999,1,NaN,1,2021-12-15
1772496,2.21301e+11,1,5.21301e+11,697.94,87,2022-09-06,41.64,1981-04-22,685-XX-3637,32.4835,...,Ellis,70000,1,5,Single,150000 - 174999,1,1,1,2022-06-29
1772498,2.21302e+11,1,5.21301e+11,769.14,177,2022-06-08,NaN,1986-03-27,765-XX-4384,32.8755,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-21
1772499,2.21303e+11,1,5.21301e+11,461.96,2008,2017-06-03,55.444,1967-07-07,660-XX-6461,32.6071,...,Tarrant,70000,NaN,5,Single,150000 - 174999,1,1,1,2022-02-28
1772500,2.21301e+11,1,5.213e+11,317.33,2782,2015-04-21,36.969,1985-12-22,701-XX-9780,32.5957,...,Tarrant,125000,1,7,Single,125000 - 149999,1,NaN,1,2022-02-02
1772510,2.21303e+11,1,5.21301e+11,990.55,108,2022-08-16,47.556,1975-05-25,234-XX-6396,32.614,...,Tarrant,70000,1,5,Married,125000 - 149999,1,NaN,1,2022-03-23
1772511,2.21302e+11,1,5.21301e+11,902.37,161,2022-06-24,55.444,1967-07-07,951-XX-6607,NaN,...,Parker,80372.2,NaN,6.8,NaN,125000 - 149999,NaN,NaN,NaN,2022-02-28
1772530,2.21303e+11,1,5.21301e+11,898.29,147,2022-07-08,58.053,1964-11-27,701-XX-5317,32.7621,...,TX,87500,NaN,11,Single,50000 - 74999,1,NaN,1,2022-04-28
1772532,2.21303e+11,1,5.21301e+11,1188.36,118,2022-08-06,NaN,1992-03-25,114-XX-6415,32.7403,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-10
1772534,2.21301e+11,1,5.213e+11,942.33,80,2022-09-13,55.444,1967-07-07,177-XX-7454,32.7193,...,Dallas,80372.2,NaN,1,NaN,25000 - 49999,1,NaN,1,2022-06-28
1772543,2.213e+11,1,5.213e+11,907.79,5204,2008-09-02,53.558,1969-05-25,474-XX-3018,32.5969,...,Tarrant,125000,1,14,Married,100000 - 124999,1,1,1,2022-09-12
1772553,2.21302e+11,1,5.21301e+11,681.49,3870,2012-04-28,41.473,1981-06-22,466-XX-3421,33.0798,...,Collin,125000,1,7,Single,125000 - 149999,1,NaN,1,2022-08-01

In [22]:
#2) combine the two df
# https://pandas.pydata.org/docs/user_guide/merging.html
frames = [active, terminated]
undersampling = pd.concat(frames)
undersampling

,INDIVIDUAL_ID,acct_terminated,ADDRESS_ID,CURR_ANN_AMT,DAYS_TENURE,CUST_ORIG_DATE,AGE_IN_YEARS,DATE_OF_BIRTH,SOCIAL_SECURITY_NUMBER,LATITUDE,...,COUNTY,INCOME,HAS_CHILDREN,LENGTH_OF_RESIDENCE,MARITAL_STATUS,HOME_MARKET_VALUE,HOME_OWNER,COLLEGE_DEGREE,GOOD_CREDIT,ACCT_SUSPD_DATE
1,221300017872.00,0,521300005982.00,818.87,1454.00,2018-12-09,44.474,1978-06-23,608-XX-7640,32.578829,...,Kaufman,22500.00,1.00,15.00,Married,50000 - 74999,1,1,1,-
5,221301622347.00,0,521300588399.00,784.63,5896.00,2006-10-11,50.22,1972-09-25,629-XX-7298,32.751398,...,Tarrant,87500.00,1.00,4.00,Married,225000 - 249999,1,1,1,-
12,221301301436.00,0,521300474503.00,905.03,5336.00,2008-04-23,66.639,1956-04-29,188-XX-6698,32.645107,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,-
15,221302005705.00,0,521300726252.00,462.91,6020.00,2006-06-09,41.473,1981-06-22,299-XX-2622,33.089878,...,Denton,37500.00,1.00,6.00,Married,75000 - 99999,1,1,1,-
16,221302781834.00,0,521301011394.00,722.08,374.00,2021-11-23,69.139,1953-10-29,335-XX-8227,33.168202,...,Collin,62500.00,1.00,5.00,Single,100000 - 124999,1,1,1,-
22,221301479205.00,0,521300537439.00,1398.72,5049.00,2009-02-04,40.969,1981-12-23,633-XX-7001,32.675671,...,Tarrant,125000.00,1.00,15.00,Married,75000 - 99999,1,1,1,-
37,221301743390.00,0,521300632645.00,1356.99,5282.00,2008-06-16,44.222,1978-09-23,820-XX-2663,32.984535,...,Dallas,87500.00,1.00,2.00,Married,200000 - 224999,1,1,1,-
40,221300667684.00,0,521300246046.00,633.82,629.00,2021-03-13,35.138,1987-10-22,697-XX-5635,32.752192,...,Dallas,42500.00,0.00,1.00,Single,50000 - 74999,1,1,1,-
45,221300740513.00,0,521300271551.00,962.94,615.00,2021-03-27,36.641,1986-04-21,719-XX-7619,33.007838,...,Denton,87500.00,0.00,15.00,Married,100000 - 124999,1,1,1,-
53,221302469670.00,0,521300894826.00,919.70,6291.00,2005-09-11,41.64,1981-04-22,212-XX-5867,32.877367,...,Tarrant,125000.00,0.00,8.00,Married,125000 - 149999,1,1,1,-
54,221302084670.00,0,521300753746.00,926.13,6291.00,2005-09-11,69.221,1953-09-29,159-XX-3853,32.992028999999995,...,Collin,162500.00,0.00,0.00,Married,175000 - 199999,1,1,1,-
56,221302955010.00,0,521301184570.00,1272.61,2540.00,2015-12-19,64.307,1958-08-28,456-XX-9863,32.846856,...,Dallas,57500.00,1.00,15.00,Single,125000 - 149999,1,1,1,-
60,221303198330.00,0,521301427892.00,681.47,4304.00,2011-02-19,36.055,1986-11-21,592-XX-8955,32.903836,...,Dallas,47500.00,1.00,1.00,Married,225000 - 249999,1,1,1,-
69,221301039742.00,0,521300379753.00,841.34,925.00,2020-05-21,34.806,1988-02-20,896-XX-5350,32.746654,...,Dallas,37500.00,1.00,4.00,Single,125000 - 149999,1,1,1,-
74,221302798105.00,0,521301027665.00,599.83,6291.00,2005-09-11,59.138,1963-10-28,497-XX-1218,33.018684,...,Collin,70000.00,1.00,13.00,Married,100000 - 124999,1,1,1,-
76,221302077485.00,0,521300751562.00,1103.03,6291.00,2005-09-11,67.639,1955-04-30,633-XX-4033,32.720759,...,Parker,87500.00,1.00,14.00,Married,50000 - 74999,1,1,1,-
85,221302827047.00,0,521301056607.00,630.10,3858.00,2012-05-10,39.053,1983-11-23,338-XX-3896,32.607699,...,Dallas,125000.00,1.00,9.00,Single,50000 - 74999,1,1,1,-
92,221301253639.00,0,521300456853.00,1264.03,2586.00,2015-11-03,65.139,1957-10-28,476-XX-4340,32.641401,...,Tarrant,125000.00,0.00,15.00,Married,125000 - 149999,1,1,1,-
98,221302194813.00,0,521300793152.00,677.52,3268.00,2013-12-21,37.807,1985-02-19,288-XX-2989,32.643033,...,Tarrant,27500.00,1.00,2.00,Married,100000 - 124999,1,1,1,-
99,221302433595.00,0,521300881449.00,1187.58,6261.00,2005-10-11,52.222,1970-09-25,552-XX-4633,32.877772,...,Tarrant,225000.00,1.00,10.00,Married,100000 - 124999,1,1,1,-
100,221300046994.00,0,521300017192.00,933.49,803.00,2020-09-20,55.444,1967-07-07,267-XX-1667,32.603311999999995,...,Dallas,37500.00,1.00,3.00,Married,75000 - 99999,1,1,1,-
117,221301124042.00,0,521300409994.00,1152.50,4772.00,2009-11-08,46.968,1975-12-26,169-XX-9708,32.603687,...,Tarrant,70000.00,1.00,5.00,Married,125000 - 149999,1,1,1,-
119,221300749761.00,0,521300274791.00,908.45,5222.00,2008-08-15,75.138,1947-11-01,493-XX-3795,33.012019,...,Denton,47500.00,0.00,15.00,Married,100000 - 124999,1,1,1,-
121,221303100404.00,0,521301329965.00,928.72,5959.00,2006-08-09,58.724,1964-03-27,823-XX-3955,33.062659000000004,...,Collin,125000.00,1.00,3.00,Married,125000 - 149999,1,1,1,-
131,221300066720.00,0,521300024725.00,769.31,6291.00,2005-09-11,66.968,1955-12-31,649-XX-1350,32.918893000000004,...,Tarrant,125000.00,0.00,15.00,Single,175000 - 199999,1,1,1,-
137,221300953719.00,0,521300350251.00,1295.26,442.00,2021-09-16,78.472,1944-07-02,605-XX-8550,33.183491000000004,...,Collin,87500.00,0.00,10.00,Married,150000 - 174999,1,1,1,-
139,221302845945.00,0,521301075505.00,586.68,6291.00,2005-09-11,60.389,1962-07-28,923-XX-7718,33.061801,...,TX,70000.00,1.00,10.00,Single,75000 - 99999,1,1,1,-
143,221302752739.00,0,521300996762.00,1037.67,1557.00,2018-08-28,60.559,1962-05-27,259-XX-4513,32.242180999999995,...,Navarro,32500.00,0.00,12.00,Married,1000000 Plus,1,1,1,-
145,221302876525.00,0,521301106085.00,1213.75,6291.00,2005-09-11,77.388,1945-08-01,304-XX-2796,33.103552,...,Hunt,62500.00,0.00,11.00,Single,75000 - 99999,1,1,1,-
152,221300982184.00,0,521300360807.00,636.97,4863.00,2009-08-09,51.22,1971-09-26,498-XX-2070,32.522927,...,Ellis,87500.00,1.00,2.00,Married,100000 - 124999,1,1,1,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1772341,2.21302e+11,1,5.21301e+11,1051.39,6291,2005-09-11,81.221,1941-10-02,746-XX-4605,32.6944,...,Tarrant,27500,NaN,9,Married,50000 - 74999,1,1,1,2022-04-17
1772344,2.21303e+11,1,5.21301e+11,1215.5,6291,2005-09-11,75.138,1947-11-01,670-XX-7931,33.1112,...,Collin,87500,NaN,12,Married,175000 - 199999,1,1,1,2022-03-14
1772352,2.21302e+11,1,5.21301e+11,992.03,161,2022-06-24,55.444,1967-07-07,409-XX-7326,NaN,...,Collin,87500,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-10-09
1772362,2.21303e+11,1,5.21301e+11,1209.2,5621,2007-07-13,55.444,1967-07-07,994-XX-7013,32.8459,...,Dallas,80372.2,NaN,2,NaN,225000 - 249999,NaN,1,NaN,2022-11-23
1772372,2.21302e+11,1,5.21301e+11,845.23,3946,2012-02-12,71.97,1950-12-31,381-XX-6874,32.7447,...,Dallas,57500,NaN,15,Married,75000 - 99999,1,1,1,2022-02-24
1772373,2.21302e+11,1,5.21301e+11,790.31,2054,2017-04-18,46.053,1976-11-24,512-XX-9883,NaN,...,Tarrant,17500,NaN,4,Single,50000 - 74999,NaN,1,1,2022-02-23
1772378,2.21301e+11,1,5.213e+11,623.76,803,2020-09-20,55.444,1967-07-07,159-XX-7634,32.9397,...,Dallas,80372.2,NaN,6.8,NaN,100000 - 124999,NaN,NaN,1,2022-07-30
1772380,2.21301e+11,1,5.213e+11,1310.18,5076,2009-01-08,NaN,1990-05-09,967-XX-3324,33.0455,...,Denton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-23
1772382,2.21303e+11,1,5.21301e+11,821.54,6291,2005-09-11,56.726,1966-03-26,805-XX-6380,NaN,...,Dallas,87500,1,15,Single,500000 - 749999,NaN,1,1,2022-11-14
1772386,2.21303e+11,1,5.21301e+11,851.34,2409,2016-04-28,55.444,1967-07-07,794-XX-8892,32.6479,...,Dallas,70000,NaN,1,Single,100000 - 124999,1,NaN,1,2021-12-10
1772410,2.21301e+11,1,5.213e+11,684.46,6291,2005-09-11,52.559,1970-05-25,142-XX-2998,32.9176,...,Dallas,87500,NaN,5,Married,75000 - 99999,1,NaN,1,2022-06-16
1772414,2.21302e+11,1,5.21301e+11,1084.27,6291,2005-09-11,72.969,1949-12-31,717-XX-8720,NaN,...,Denton,87500,NaN,NaN,Married,NaN,NaN,NaN,NaN,2021-12-24
1772421,2.21301e+11,1,5.213e+11,1137.44,6291,2005-09-11,44.893,1978-01-21,931-XX-3646,32.7801,...,Dallas,22500,1,NaN,Single,75000 - 99999,1,NaN,NaN,2022-05-26
1772434,2.21302e+11,1,5.21301e+11,632.83,116,2022-08-08,49.807,1973-02-22,920-XX-8454,32.8203,...,Dallas,187500,1,8,Single,125000 - 149999,1,NaN,1,2021-12-10
1772443,2.21303e+11,1,5.21301e+11,715.56,426,2021-10-02,30.891,1992-01-19,495-XX-5594,33.1408,...,Denton,47500,1,2,Single,75000 - 99999,1,NaN,NaN,2022-07-15
1772444,2.21302e+11,1,5.21301e+11,736.63,5009,2009-03-16,52.222,1970-09-25,484-XX-7903,32.7839,...,Dallas,62500,NaN,15,Married,50000 - 74999,1,1,1,2022-04-15
1772451,2.21301e+11,1,5.21301e+11,1116.23,56,2022-10-07,33.221,1989-09-20,350-XX-1952,33.103,...,Collin,70000,1,2,Married,125000 - 149999,1,NaN,NaN,2022-10-02
1772465,2.21302e+11,1,5.21301e+11,939.85,162,2022-06-23,62.305,1960-08-28,567-XX-1428,32.8109,...,Tarrant,57500,NaN,7,Single,100000 - 124999,1,NaN,1,2022-05-10
1772489,2.21301e+11,1,5.213e+11,895.45,5934,2006-09-03,41.139,1981-10-22,596-XX-7652,32.7506,...,Dallas,42500,1,15,Married,50000 - 74999,1,NaN,1,2021-12-15
1772496,2.21301e+11,1,5.21301e+11,697.94,87,2022-09-06,41.64,1981-04-22,685-XX-3637,32.4835,...,Ellis,70000,1,5,Single,150000 - 174999,1,1,1,2022-06-29
1772498,2.21302e+11,1,5.21301e+11,769.14,177,2022-06-08,NaN,1986-03-27,765-XX-4384,32.8755,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-21
1772499,2.21303e+11,1,5.21301e+11,461.96,2008,2017-06-03,55.444,1967-07-07,660-XX-6461,32.6071,...,Tarrant,70000,NaN,5,Single,150000 - 174999,1,1,1,2022-02-28
1772500,2.21301e+11,1,5.213e+11,317.33,2782,2015-04-21,36.969,1985-12-22,701-XX-9780,32.5957,...,Tarrant,125000,1,7,Single,125000 - 149999,1,NaN,1,2022-02-02
1772510,2.21303e+11,1,5.21301e+11,990.55,108,2022-08-16,47.556,1975-05-25,234-XX-6396,32.614,...,Tarrant,70000,1,5,Married,125000 - 149999,1,NaN,1,2022-03-23
1772511,2.21302e+11,1,5.21301e+11,902.37,161,2022-06-24,55.444,1967-07-07,951-XX-6607,NaN,...,Parker,80372.2,NaN,6.8,NaN,125000 - 149999,NaN,NaN,NaN,2022-02-28
1772530,2.21303e+11,1,5.21301e+11,898.29,147,2022-07-08,58.053,1964-11-27,701-XX-5317,32.7621,...,TX,87500,NaN,11,Single,50000 - 74999,1,NaN,1,2022-04-28
1772532,2.21303e+11,1,5.21301e+11,1188.36,118,2022-08-06,NaN,1992-03-25,114-XX-6415,32.7403,...,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-10
1772534,2.21301e+11,1,5.213e+11,942.33,80,2022-09-13,55.444,1967-07-07,177-XX-7454,32.7193,...,Dallas,80372.2,NaN,1,NaN,25000 - 49999,1,NaN,1,2022-06-28
1772543,2.213e+11,1,5.213e+11,907.79,5204,2008-09-02,53.558,1969-05-25,474-XX-3018,32.5969,...,Tarrant,125000,1,14,Married,100000 - 124999,1,1,1,2022-09-12
1772553,2.21302e+11,1,5.21301e+11,681.49,3870,2012-04-28,41.473,1981-06-22,466-XX-3421,33.0798,...,Collin,125000,1,7,Single,125000 - 149999,1,NaN,1,2022-08-01